.how
  .row
    .col-md-8.col-md-offset-2
      %h2 How Domino Works
      .row.one-two-three
        .col-md-4.step
          = embedded_svg "Circle1.svg"
          %h3 A NO-OBLIGATION CHAT
          %p
            Your concierge will call you with a few questions to get things rolling.
        .col-md-4.step
          = embedded_svg "Circle2.svg"
          %h3 WE GET TO TO WORK
          %p
            Your concierge is on the job, finding the best options, incentives and
            deals for you.
        .col-md-4.step
          = embedded_svg "Circle3.svg"
          %h3 YOU SAVE
          %p
            Your concierge will explain your options and help with next steps. At no
            cost to you.
      %h2 Why Use A Domino Concierge?
      .row
        .col-md-6
          .why-reason
            %h3 WITH DOMINO BY YOUR SIDE
            %p
              You get unbiased, honest answers and negotiated prices working with your
              Domino concierge. All for free.
            = embedded_svg "face-happy.svg"
        .col-md-6
          .why-reason
            %h3 GOING IT ALONE
            %p
              You lose family time as you do a ton of research, deal with pushy sales
              people and often wind up with higher prices.
            = embedded_svg "face-sad.svg"
