%div{class: @source}
  = render "navbar"
  .source
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %h2= controller_name
  = render "intro"
  = render "explanation"
  = render "calculator"
  = render "how"
  = render "concierge"
  = render "footer"
