:css
  .btn-day{
    border: 2px solid lightgray;
    / color:lightgray;
    width:55px;
    height: 50px;
  }
  .btn-time{
    border: 2px solid lightgray;
    color:lightgray;
    width: 100px;
    height: 50px;
    font-size: 14px;
  }

  .btn-availability{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  }
  .btn-availability-active{
    background-color: #00ccff;
    color: white;
    border: 2px solid #00ccff!important;
  }

  .btn-availability-inactive{
    background-color: white;
    color: #666;
  }
  .mln10px{
    margin-left:-10px;
  }
  .pill-left {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  .pill-right {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

  }
#availability.pt4
  .max-width-3.mx-auto.mt4
    .clearfix.mb2
      .col.col-12.center
        .max-width-1.mx-auto.h2.line-height-2
          What's the best time to reach you?
      / -flash.each do |key, value|
      /   .flash
      /     =value

    .clearfix.mx-auto
      =simple_form_for @profile, remote: true do |form|
        .center#btns-days
          %button.bg-white.btn-availability.btn-day{type: "button", style: "border-top-left-radius: 25px;border-bottom-left-radius: 25px;", data: {target: "chk-monday"}, class: "#{ @profile.availability[:monday] ? 'btn-availability-active': 'btn-availability-inactive'}"} M
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", data: {target: "chk-tuesday"}, class: "#{ @profile.availability[:tuesday] ? 'btn-availability-active': 'btn-availability-inactive' }"} Tu
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", data: {target: "chk-wednesday"}, class: "#{ @profile.availability[:wednesday] ? 'btn-availability-active': 'btn-availability-inactive'}"} W
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", data: {target: "chk-thursday"}, class: "#{ @profile.availability[:thursday] ? 'btn-availability-active': 'btn-availability-inactive' }"} Th
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", data: {target: "chk-friday"}, class: "#{  @profile.availability[:friday] ? 'btn-availability-active': 'btn-availability-inactive'}"} F
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", data: {target: "chk-saturday"}, class: "#{ @profile.availability[:saturday] ? 'btn-availability-active': 'btn-availability-inactive' }"} Sa
          %button.bg-white.btn-availability.btn-day.mln10px{type: "button", style: "border-top-right-radius: 25px;border-bottom-right-radius: 25px;", data: {target: "chk-sunday"}, class: "#{ @profile.availability[:sunday] ? 'btn-availability-active': 'btn-availability-inactive'}" }Su
        .m2.center#btns-times
          %button.bg-white.btn-availability.btn-time.pill-left{type: "button", data: {target: "chk-morning"}, class: "#{ @profile.availability[:morning] ? 'btn-availability-active': 'btn-availability-inactive' }"} Mornings
          %button.bg-white.btn-availability.btn-time.mln10px{type: "button", data: {target: "chk-afternoon"}, class: "#{ @profile.availability[:afternoon] ? 'btn-availability-active': 'btn-availability-inactive' }"} Afternoons
          %button.bg-white.btn-availability.btn-time.pill-right.mln10px{type: "button",data: {target: "chk-evening"}, class: "#{ @profile.availability[:evening] ? 'btn-availability-active': 'btn-availability-inactive' }"} Evenings


        .display-none
          =form.simple_fields_for :availability do |a|
            =a.input :monday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-monday', class: 'chk-day' }
            =a.input :tuesday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-tuesday', class: 'chk-day' }
            =a.input :wednesday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-wednesday', class: 'chk-day' }
            =a.input :thursday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-thursday', class: 'chk-day' }
            =a.input :friday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-friday', class: 'chk-day' }
            =a.input :saturday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-saturday', class: 'chk-day' }
            =a.input :sunday, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-sunday', class: 'chk-day' }
            =a.input :morning, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-morning' }
            =a.input :afternoon, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-afternoon' }
            =a.input :evening, as: :boolean, checked_value: true, unchecked_value: false, input_html: { id: 'chk-evening' }
        .max-width-1.mx-auto
          %h2.m0 Comments
          =form.input_field :comments, style: 'width: 100%;border:2px solid lightgray'
        .mt2.px2
          =form.submit "BACK", class: "bg-white black inline-block", style: "border: 2px solid black; border-radius: 20px;width: 120px; height: 40px;"
          =form.submit "NEXT", class: "bg-gray white right border-none inline-block", style: "border-radius: 20px;width: 120px; height: 40px;"

:javascript
  $(document).ready(function(){

    var validateRequiredFields = function(){
      var timeSelected = $('#btns-times .btn-availability').hasClass('btn-availability-active');
      var daySelected = $('#btns-times .btn-availability').hasClass('btn-availability-active')
      if ( timeSelected && daySelected ) {
        $("input[value='NEXT']").attr("disabled", false);
        $("input[value='NEXT']").addClass("btn-submit-active");
      }else{
        $("input[value='NEXT']").attr("disabled", true);
        $("input[value='NEXT']").removeClass("btn-submit-active");
      }
    };

    //intial state
    validateRequiredFields();

    $('.btn-availability').on('click', function(){
      if( $(this).hasClass('btn-availability-inactive') ){
        $(this).removeClass('btn-availability-inactive');
        $(this).addClass('btn-availability-active');
      }else{
        $(this).removeClass('btn-availability-active');
        $(this).addClass('btn-availability-inactive');
      }

      var target = '#' + $(this).data('target');
      $(target).prop('checked', function( i, val ) {
        return !val;
      });
      validateRequiredFields();
    });

    //mobile
    $(window).scrollTop(0)
  });
