.flex.jusify-center
  %button.btn-interest.mb2{id: "interest_#{index+1}", class: "#{'btn-interest-active' if @active_inputs.include?(index+1)}", type: "button", data: {target: "profile_offering_ids_#{index+1}"}}
    %i.fa.fa-check.white.absolute{style: "bottom:2px;right:2px;"} 
  %label.ml1 
    = "#{@offerings[index]}"
