-content_for :body_class do
  bg-gray-05

.mx-auto.relative
  .page-header-image.bg-blue
  
  .absolute.left-0.right-0.top-0.mx-auto{style: 'margin-top: 100px;'}
    .flex.items-center.justify-center.flex-wrap.rounded.max-width-3.bg-white.p2.mx-auto
      .p2
        = image_tag "http://placehold.it/150x150", width: 150, height: 150
      .p2
        .h1.bold= "#{@profile.first_name} #{@profile.last_name}"
        .gray-80.h6
          .inline-block
            Membership type
            %br
            Member since
            %br
            Renewal date
          .inline-block.ml2.right-align
            = @user.organization ? 'Organization' : 'Individual'
            %br
            = @user.created_at.strftime("%m/%d/%y")
            %br
            = (@user.created_at + 1.year).strftime("%B %Y")

    .p4.max-width-4.mx-auto
      .clearfix
        =link_to @fat_link do
          .col.col-12.bg-white.rounded.p2.right.mb2
            .h1.gray-80
              %i.blue.fa.fa-cutlery{"aria-hidden":"true"}
              Food Impact Tracker
            %p Track what foods you eat on a daily basis and see how your dietary habits affect your carbon footprint.
            %canvas#myChart{width: "400", height: "100"}
      
      .clearfix
        =link_to 'dashboard' do
          .col.col-12.sm-col.sm-col-6.bg-white.rounded.p2.mb2
            .h1.gray-80
              %i.blue.fa.fa-tachometer{"aria-hidden":"true"}
              Dashboard
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus odio libero voluptatem, nostrum animi vel eveniet at iure ullam, neque, quam asperiores assumenda voluptate iste ab temporibus incidunt. Voluptatum!
        
        =link_to "articles" do
          .col.col-12.sm-col.sm-col-5.bg-white.rounded.p2.right.mb2
            .h1.gray-80
              %i.blue.fa.fa-newspaper-o{"aria-hidden":"true"}
              Articles
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt iste a facere laudantium commodi similique recusandae sint molestias veniam voluptate, placeat excepturi corrupti fugiat ullam totam qui eaque facilis nam.
      
      .clearfix
        =link_to "tel:+18009792215" do
          .col.col-12.sm-col.sm-col-6.bg-white.rounded.p2.mb2
            .h1.gray-80
              %i.blue.fa.fa-comments{"aria-hidden":"true"}
              Concierge
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum doloremque hic sed, voluptatibus nesciunt nobis? Reiciendis delectus quos recusandae mollitia. Voluptatibus saepe, earum quibusdam. Quisquam, vero libero quae consequatur.
        =link_to "events" do
          .col.col-12.sm-col.sm-col-5.bg-white.rounded.p2.right.mb2
            .h1.gray-80
              %i.blue.fa.fa-calendar{"aria-hidden":"true"}
              Events
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum iure molestias, provident, quas, eum minima commodi illo fuga dicta quaerat animi ab voluptate, quos tempora deleniti expedita asperiores incidunt.

:javascript
  $(document).ready(function(){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: #{@fat_graph_cf_map.keys},
            datasets: [{
                label: 'My Carbon Footprint',
                data: #{@fat_graph_cf_map.values},
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            },
            {
              label: "Avg. Carbon Footprint",
              data: new Array(7).fill(6.2)
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
  });
