-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-05
  adelle
:css
  .pointer {
    cursor: pointer;
  }
  .chart rect {
    /*fill: steelblue;*/
  }
  .chart text {
    fill: black;
    font: 16px sans-serif;
    text-anchor: end;
  }

  .axis text {
    font: 16px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .x.axis path {
    display: none;
  }

  .x2.axis path {
    stroke: lightgrey;
  }

.mx-auto.relative
  .page-header-image.bg-blue
    .absolute.left-0.right-0.top-0.mb4{style: 'margin-top: 100px;'}
      .max-width-4.mx-auto
        .clearfix.mx2.lg-mx1
          .col.col-12.sm-col.sm-col-7
            .flex.items-center.justify-center.flex-wrap.rounded.bg-white.p2.mx-auto
              .p2
                = image_tag "http://placehold.it/150x150", width: 150, height: 150
              .p2
                .h1= "#{@profile.first_name} #{@profile.last_name}"
                .gray-80.h6
                  .inline-block
                    Membership type
                    %br
                    Member since
                    / show renewal date if user is an individual member
                    - if !@user.organization
                      %br
                      Renewal date
                  .inline-block.ml2.right-align
                    = @user.organization ? 'Organization' : 'Individual'
                    %br
                    = @user.created_at.strftime("%m/%d/%y")
                    - if !@user.organization
                      %br
                      = (@user.created_at + 1.year).strftime("%B %Y")
          .col.col-12.sm-col.sm-col-4.bg-white.rounded.right.my1.sm-my0
            .px2.pt1.gray-80
              .h3.bold.inline-block Leaderboard
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              .flex.items-center{style: "padding: 4px 16px;#{'background: #F4B350' if u.email ==  current_user.email}"}
                .flex.items-center.justify-center.h6.border.circle.icon-m
                  = (i==5) ? i + @current_user_standing : i + 1
                .fill-x
                  .left-align.inline-block
                    .h5.ml1 #{u.profile.first_name} #{u.profile.last_name}
                  .right.inline-block
                    .h5 #{u.fat_reward_points}

      .mt4.max-width-4.mx-auto
        .clearfix.mx2.lg-mx1
          .col.col-12.mb2
            .p3.bg-white.rounded
              .mb3
                .flex.items-center
                  =image_tag "icons/i-apple.png", :class => "mr1"
                  .h1.black.bold.inline.line-height-1
                    Food Impact
                %p.col-12.sm-col-8.gray-60.mt1 Compete with your teammates! Enter the categories of food you eat everyday to see the carbon footprint of your diet. Earn points by staying below the national average.
                = link_to 'food' do
                  %button.btn.btn-sm.btn-primary.btn-primary--hover
                    .bold Update today
              %svg.chart{viewBox: "0 0 960 300", preserveAspectRatio:"xMidYMid meet"}

        .mt2.mb4.max-width-4.mx-auto
          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-leaf.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Dashboard
                  %p.line-height-4.gray-80.mt1.mb4 See your recommended clean energy products and tips from your concierge.
                  %h3.mb1.line-height-1
                    =link_to 'dashboard', class:"black line medium" do
                      View dashboard

              .col.col-12.sm-col.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-concierge.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Concierge
                  %p.line-height-4.gray-80.mt1.mb4 Have questions about clean energy? Need help with an action? Give your concierge a call.
                  %h3.mb1.line-height-1
                    =link_to "tel:+18009792215", class:"black line medium" do
                      Call (800) 979-2215
          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-paper.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Articles
                  %p.line-height-4.gray-80.mt1.mb4 Check out our latest clean energy articles and learn easy ways to reduce your carbon impact.
                  %h3.mb1.line-height-1
                    =link_to "articles", class:"black line medium" do
                      Read articles
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-calendar.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Events & Webinars
                  %p.line-height-4.col-12.sm-col-10.gray-80.mt1.mb4 See upcoming brown-bags and webinars for your company.
                  %h3.mb1.line-height-1.gray-60.medium
                    No events scheduled yet
:javascript
  $(document).ready(function(){

      var data = [ 
                    {cf: 4, pts: 5},
                    {cf: 8, pts: 3}, 
                    {cf: 15, pts: 10}, 
                    {cf: null, pts: null}, 
                    {cf: 10, pts: 4}, 
                    {cf: 6, pts: 7 }, 
                    {cf: 5, pts: 8 }
                  ];

      var margin = {top: 20, right: 30, bottom: 30, left: 40},
          width = 960 - margin.left - margin.right,
          height = 300 - margin.top - margin.bottom;

      var x = d3.scaleBand()
                .domain(["M", "Tu", "W", "Th", "F", "Sa", "Su"])
                .rangeRound([0, width]);

      var x2Domain = data.map(function(el){
        return el.cf ? el.cf + " lbs." : "Incomplete";
      });

      var x2 = d3.scaleBand()
                .domain(x2Domain)
                .rangeRound([0, width]);

      var xAxis = d3.axisBottom(x).tickSize(0);
      var x2Axis = d3
        .axisTop(x2)
        .tickSize(0)
        .tickPadding(5);

      var y = d3.scaleLinear()
              .domain([0, d3.max(data, function(d) { 
                return +d.cf;} )])
              .range([height, 0]);

      var chart = d3.select(".chart")
        // .attr("width", width + margin.left + margin.right)
        // .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var barWidth = width / data.length;

      var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) {
          return "translate(" + i * barWidth + ",0)"; 
        });

      var p_mousein = false;
      // Primary bar elements
      bar.append("rect")
        .attr("class", function(d){
          if(d.cf == null)
            return "null";
        })
        .attr("y", function(d){
          return y(d.cf);
        })
        .attr("height", function(d){
          return height-y(d.cf);
        })
        .attr("width", barWidth - 15)
        .attr("fill", function(d){
          // return "none";
          return "steelblue";
        })
        .on("mouseenter", function(d, i) {
            d3.select("#lbl-x2-" + i)
              .text(function(){
                return (d.cf == null ? "N/A" : d.pts + " pts")
              })
              .attr("x", function(d){
                var textBBox = this.getBBox();
                return textBBox.width/2 - 7;
              });
            d3.select("#aux-" + i)
              .style("opacity", 1);
        })
        .on("mouseout", function(d, i) {
          d3.select("#lbl-x2-" + i)
            .text(function(){
              return (d.cf == null ? "Incomplete" : d.cf + " lbs.");
            })
            .attr("x", function(d){
              var textBBox = this.getBBox();
              return textBBox.width/2 - 7;
            });

            d3.select("#aux-" + i)
              .style("opacity", 0);

            d3.select(this)
              .attr("fill", function(d){
                if(d.cf == null) return "white";
                return "steelblue";
              });
        })
        .on("click", function(){
          console.log("Test");
        });


        // auxillary bars to show amount below or above avg cf
        bar.append("rect")
          .attr("id", function(d, i){
            return "aux-" + i;
          })
          .attr("y", function(d){
            if(d.cf == null) return null;
            if(d.cf < 6.2) {
              return y(6.2);
            }
            else {
              var diff = y(6.2) - y(d.cf);
              return y(6.2) - diff;
            }
          })
          .attr("height", function(d){
            if(d.cf == null) return null;
            if(d.cf < 6.2) {
              var height = y(d.cf) - y(6.2);
            }
            else {
              var height = y(6.2) - y(d.cf);
            }
            return height;
          })
          .attr("width", barWidth - 15)
          .attr("fill", function(d){
            if(d.cf == null) return "none";
            return (d.cf < 6.2 ? "green" : "red");
            // return (d.cf == null ? "white" : "steelblue")
          })
          .style("opacity", 0)
          .on("mouseenter", function(d,i){
            d3.select("#lbl-x2-" + i)
              .text(function(){
                return (d.cf == null ? "N/A" : d.pts + " pts")
              })
              .attr("x", function(d){
                var textBBox = this.getBBox();
                return textBBox.width/2 - 7;
              });
            d3.select(this)
              .style("opacity", 1);
            
          })
          .on("mouseout", function(d,i){
            d3.select(this)
              .style("opacity", 0);
           d3.select("#lbl-x2-" + i)
            .text(function(){
              return (d.cf == null ? "Incomplete" : d.cf + " lbs.");
            })
            .attr("x", function(d){
              var textBBox = this.getBBox();
              return textBBox.width/2 - 7;
            });
          });

        // incomplete sections
        d3.selectAll(".null")
        .attr("y", y(15))
        .attr("height", height-y(15))
        .attr("fill", "white")
        .style("stroke-dasharray", ("40, 10"))
        .style("stroke", "#4ECDC4")
        .style("stroke-width", 4);

      // top axis
      chart.append("g")
        .attr("class", "x2 axis")
        .attr("transform", "translate(0," + 0 + ")")
        .call(x2Axis)
        .selectAll("text")
        .attr("x", function(d,i){
          var textBBox = this.getBBox();
          return textBBox.width/2 - 7;
        })
        .attr("id", function(d, i){
          return "lbl-x2-" + i;
        });

      chart.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

      chart.append("line")
        .attr("x1",0)
        .attr("y1", y(6.2))
        .attr("x2",width)
        .attr("y2", y(6.2))
        .attr('stroke-width', 4)
        .attr('stroke', "#00ccff")
        .style("opacity", 0.5)
        .style("stroke-dasharray", ("10, 5"));
          
  });
