-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-05
  adelle


.mx-auto.relative
  .page-header-image.bg-blue
    .absolute.left-0.right-0.top-0.mb4{style: 'margin-top: 100px;'}
      .max-width-4.mx-auto
        .clearfix.mx2.lg-mx1
          .col.col-12.sm-col.sm-col-7
            .flex.items-center.justify-center.flex-wrap.rounded.bg-white.p2.mx-auto
              .p2
                = image_tag "http://placehold.it/150x150", width: 150, height: 150
              .p2
                .h1= "#{@profile.first_name} #{@profile.last_name}"
                .gray-80.h6
                  .inline-block
                    Membership type
                    %br
                    Member since
                    / show renewal date if user is an individual member
                    - if !@user.organization
                      %br
                      Renewal date
                  .inline-block.ml2.right-align
                    = @user.organization ? 'Organization' : 'Individual'
                    %br
                    = @user.created_at.strftime("%m/%d/%y")
                    - if !@user.organization
                      %br
                      = (@user.created_at + 1.year).strftime("%B %Y")

          .col.col-12.sm-col.sm-col-4.bg-white.rounded.right.my1.sm-my0{ style: 'min-height: 220px'}
            .px2.pt1.gray-80
              .h3.bold.inline-block Leaderboard
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              .flex.items-center{style: "padding: 4px 16px;#{'background: #F4B350' if u.email ==  current_user.email}"}
                .flex.items-center.justify-center.h6.border.circle.icon-m
                  = (i==5) ? i + @current_user_standing : i + 1
                .fill-x
                  .left-align.inline-block
                    .h5.ml1 #{u.profile.first_name} #{u.profile.last_name}
                  .right.inline-block
                    .h5 #{u.fat_reward_points}

        = render 'food_impact_module'

        .center.m3
          .h1.black.bold Member Benefits

        .mt2.mb4.max-width-4.mx-auto
          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-paper.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Take-out bites
                  .clearfix
                    .col.col-12.sm-col.sm-col-4.px1.mb2.sm-mb0
                      .bg-gray-05
                        = image_tag "http://placehold.it/100x50", class: 'fill-x'
                        .p1
                          Appetizers: Your first course
                    .col.col-12.sm-col.sm-col-4.px1.mb2.sm-mb0
                      .bg-gray-05
                        = image_tag "http://placehold.it/100x50", class: 'fill-x'
                        .p1
                          Are cows the key to saving the planet?
                    .col.col-12.sm-col.sm-col-4.px1.mb2.sm-mb0
                      .bg-gray-05
                        = image_tag "http://placehold.it/100x50", class: 'fill-x'
                        .p1
                          Hidden health. Benefits of ugly produce

                  %h3.mb1.line-height-1.center
                    =link_to '#', class:"black line medium" do
                      Still hungry? Get more tasty bites

              .col.col-12.sm-col.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-concierge.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Hungry for more?
                  .center
                    %p.line-height-4.gray-80.mt1.mb4
                      Your concierge can help you slay the carbon calories, plus give you a taste for LED bulbs, clean power, fossil-free driving, and much more!
                    %h3.mb2.line-height-2
                      Call your concierge
                      %br
                      =link_to "tel:+18009792215", class:"black line medium" do
                        800-721-2215

          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-calendar.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      All eyes are on...
                  .clearfix.my2
                    .col.col-12.sm-col.sm-col-4{ style: 'box-shadow: 2px 2px 6px #aaa;' }
                      = link_to "http://www.timetochoose.com/", target: "_blank" do
                        = image_tag "timetochoose_poster", class: 'fit'
                    .col.col-12.sm-col.sm-col-8.pl3
                      %p.line-height-4.mt0.mb1.gray-80
                        Check out this film by our founder for some good climate news.

                      =link_to "https://www.rottentomatoes.com/m/time_to_choose/", target: "_blank" do
                        %p.flex.items-center.gray-80.mt0
                          %span= image_tag "rotten_tomato" 
                          %span.ml1.h3.black 86%&nbsp; 
                          on Rotten Tomatos
                      %h3.mb0.mt4.line-height-1
                        .black Watch the film

                        .flex.items-center
                          =link_to "https://www.amazon.com/Time-Choose-Oscar-Isaac/dp/B01LOUPR34", target: "_blank" do
                            = image_tag "amazon_video"
                          =link_to "http://www.timetochoose.com/stream-or-download/", target: "_blank", class: "text-link" do
                            .inline.h5.blue.ml1 More viewing options

              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-wallet.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Coins back in your pocket
                  %p.line-height-4.gray-80.mt1.mb4.center Get exclusive discounts on sustainable living products
                  .clearfix.flex.items-center
                    .col.col-12.sm-col.sm-col-2
                      = image_tag "imperfect_produce", class: "fit"
                    .col.col-12.sm-col.sm-col-4
                      = image_tag "arcadia_power", class: "fit"
                    .col.col-12.sm-col.sm-col-3
                      = image_tag "badger", class: "fit"
                    .col.col-12.sm-col.sm-col-3
                      = image_tag "farm_fresh", class: "fit"
                  %h3.mb1.line-height-1.gray-60.medium.center
                    See discount details

:javascript
  $('li.complete, li.incomplete').on('click', function(){
    window.location = $(this).data('link');
  });
