-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-05
  adelle

:css
  li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
  }

  li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: 0;
  }



  li:first-child::before {
    display: none;
  }

  .active {
    background: dodgerblue;
  }

  .active ~ li {
    background: lightblue;
  }

  .active ~ li::before {
    background: lightblue;
  }

  .h2 {
      position: relative;
      font-size: 30px;
      z-index: 1;
      overflow: hidden;
      text-align: center;
  }
  .h2:before, .h2:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 1px;
      content: '\a0';
      background-color: #eaeaea;
  }
  .h2:before {
      margin-left: -50%;
      text-align: right;
  }
  .color {
      background-color: #ccc;
  }
.mx-auto.relative
  .page-header-image.bg-blue
    .absolute.left-0.right-0.top-0.mb4{style: 'margin-top: 100px;'}
      .max-width-4.mx-auto
        .clearfix.mx2.lg-mx1
          .col.col-12.sm-col.sm-col-7
            .flex.items-center.justify-center.flex-wrap.rounded.bg-white.p2.mx-auto
              .p2
                = image_tag "http://placehold.it/150x150", width: 150, height: 150
              .p2
                .h1= "#{@profile.first_name} #{@profile.last_name}"
                .gray-80.h6
                  .inline-block
                    Membership type
                    %br
                    Member since
                    / show renewal date if user is an individual member
                    - if !@user.organization
                      %br
                      Renewal date
                  .inline-block.ml2.right-align
                    = @user.organization ? 'Organization' : 'Individual'
                    %br
                    = @user.created_at.strftime("%m/%d/%y")
                    - if !@user.organization
                      %br
                      = (@user.created_at + 1.year).strftime("%B %Y")
          .col.col-12.sm-col.sm-col-4.bg-white.rounded.right.my1.sm-my0
            .px2.pt1.gray-80
              .h3.bold.inline-block Leaderboard
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              .flex.items-center{style: "padding: 4px 16px;#{'background: #F4B350' if u.email ==  current_user.email}"}
                .flex.items-center.justify-center.h6.border.circle.icon-m
                  = (i==5) ? i + @current_user_standing : i + 1
                .fill-x
                  .left-align.inline-block
                    .h5.ml1 #{u.profile.first_name} #{u.profile.last_name}
                  .right.inline-block
                    .h5 #{u.fat_reward_points}

      .mt4.max-width-4.mx-auto
        .clearfix.mx2.lg-mx1
          .col.col-12.mb2.center
            .p3.bg-white.rounded.center
              .mb3
                .flex.items-center.justify-center
                  =image_tag "icons/i-apple.png", :class => "mr1"
                  .h1.black.bold.inline.line-height-1
                    Food Impact
                %p.col-12.sm-col-8.gray-60.mt1.mx-auto Compete with your teammates! Enter the categories of food you eat everyday to see the carbon footprint of your diet. Earn points by staying below the national average.
                = link_to 'food' do
                  %button.btn.btn-sm.btn-primary.btn-primary--hover
                    .bold Update today
                .h2.mt2.mb1.gray-80
                  = @week_of

                %ul
                  %li{style: 'z-index: 7'} M
                  %li{style: 'z-index: 6'} Tu
                  %li.active{style: 'z-index: 5'} W
                  %li{style: 'z-index: 4'} Th
                  %li{style: 'z-index: 3'} F
                  %li{style: 'z-index: 2'} Sa
                  %li{style: 'z-index: 1'} Su

        .mt2.mb4.max-width-4.mx-auto
          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-leaf.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Dashboard
                  %p.line-height-4.gray-80.mt1.mb4 See your recommended clean energy products and tips from your concierge.
                  %h3.mb1.line-height-1
                    =link_to 'dashboard', class:"black line medium" do
                      View dashboard

              .col.col-12.sm-col.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-concierge.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Concierge
                  %p.line-height-4.gray-80.mt1.mb4 Have questions about clean energy? Need help with an action? Give your concierge a call.
                  %h3.mb1.line-height-1
                    =link_to "tel:+18009792215", class:"black line medium" do
                      Call (800) 979-2215
          .clearfix.mx2.lg-mx1
            .mxn1
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-paper.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Articles
                  %p.line-height-4.gray-80.mt1.mb4 Check out our latest clean energy articles and learn easy ways to reduce your carbon impact.
                  %h3.mb1.line-height-1
                    =link_to "articles", class:"black line medium" do
                      Read articles
              .col.col-12.sm-col.sm-col-6.px1.mb2
                .py2.px3.bg-white.rounded
                  .flex.items-center
                    =image_tag "icons/i-calendar.png", :class => "mr1"
                    %h2.gray-90.bold.inline.line-height-1
                      Events & Webinars
                  %p.line-height-4.col-12.sm-col-10.gray-80.mt1.mb4 See upcoming brown-bags and webinars for your company.
                  %h3.mb1.line-height-1.gray-60.medium
                    No events scheduled yet
