-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-05
  adelle

= render "profiles/myhome_components/welcome_tour_modals"

.mx-auto.relative
  .page-header-image.bg-blue{style: 'background-image: url("assets/myhome_background.png"); background-repeat: no-repeat; background-size: 100% 100%'}
    .absolute.left-0.right-0.top-0.my3
      .max-width-4.mx-auto

        .flex.flex-column.sm-row
          .m1.p2.rounded.bg-white.flex.items-center.justify-center.flex-column{style:'flex-grow:1'}
            .mt1
              - if @user.organization
                = image_tag "organization_logos/#{@profile.user.organization.name.downcase}_logo_400x400.png", size: "80x80", class: "rounded"
              - else
                .bg-gray-10.p2.rounded
                  .h2.px1.gray-60 #{@profile.first_name[0].upcase}#{@profile.last_name[0].upcase}

            .m1.center
              .h2.m0.black= "#{@profile.first_name} #{@profile.last_name}"
              .h4.gray-80
                = @user.organization ? @user.organization.name : ''
            .m1.center
              .h2.m0.black= @user.total_fat_reward_points
              .h4.gray-80= "Total Points"
            .m1.gray-80.h6
              .inline-block
                Member since:
                / show renewal date if user is an individual member
                - if !@user.organization
                  %br
                  Renewal date
              .inline-block.right-align
                = @user.created_at.strftime("%b %Y")
                - if !@user.organization
                  %br
                  = (@user.created_at + 1.year).strftime("%B %Y")

          .m1.p3.bg-white.rounded.sm-col-6.md-col-2{ style: 'flex-grow: 1'}
            =image_tag "i-impact-categories.png", :class => "mt1 col-5 sm-col-8 md-col-6"

            %h4.gray-80.mb0.mt1.bold.caps Clean Score
            %span.h0.bold.my0.orange
              = @user.get_current_week_grade
            %div.h4.gray-60.col-11
              Your carbon "foodprint" is
              %span.bold
                - cf_percent = 100 - @user.get_current_week_foodcf_percent.round(0)
                #{cf_percent.abs}%
                = cf_percent > 0 ? "lower" : "higher"
              than the average American's this week.

          .m1.pt1.pb2.bg-white.rounded{style: 'min-width: 250px;'}
            .px3.py1.gray-90
              .h3.mr1.bold.inline-block Weeky leaders
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              - unless u.profile.nil? # Skip any users wihtout a profile
                .flex.px3.py1.items-center{style: "#{'background: #fff9c4' if u.email == current_user.email}"}
                  .flex.items-center.justify-center.h6.border.circle.icon-m.gray-80
                    = (i == 6) ? i + @current_user_standing : i + 1
                  .fill-x
                    .left-align.inline-block
                      .h4.ml1.mr2.black #{u.profile.first_name} #{u.profile.last_name} #{"(You)" if u.email == current_user.email}
                    .right.inline-block
                      .h4.gray-80 #{u.fat_reward_points}

        = render 'profiles/myhome_components/food_impact_module'

        .center.m3
          .h1.black.bold Member Benefits

        .flex.items-stretch.flex-column.md-row.mx1
          = render "profiles/myhome_components/take_out_bites_module"
          = render "profiles/myhome_components/concierge_module"

        .flex.items-stretch.flex-column.md-row.mx1
          = render "profiles/myhome_components/film_module"
          = render "profiles/myhome_components/discounts_module"

:javascript
  var myhomeTour = modulejs.require('myhome_tour');
  myhomeTour.startTour(#{@tour});
  
  $('li.complete, li.incomplete').on('click', function(){
    window.location = $(this).data('link');
  });
