-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-05
  adelle

.mx-auto.relative
  .page-header-image.bg-blue{style: 'background-image: url("assets/myhome_background.png"); background-repeat: no-repeat; background-size: 100% 100%'}
    .absolute.left-0.right-0.top-0.my3
      .max-width-4.mx-auto

        .flex.flex-column.sm-row
          .m1.p2.rounded.bg-white.flex.items-center.justify-center.flex-column
            .mt1
              = image_tag "http://placehold.it/150x150", width: 80, height: 80
            .m1.center
              .h2.m0.black= "#{@profile.first_name} #{@profile.last_name}"
              .h4.gray-80
                = @user.organization ? @user.organization.name : ''
            .m1.center
              .h2.m0.black= @user.total_fat_reward_points
              .h4.gray-80= "Total Points"
            .m1.gray-80.h6
              .inline-block
                Member since:
                / show renewal date if user is an individual member
                - if !@user.organization
                  %br
                  Renewal date
              .inline-block.right-align
                = @user.created_at.strftime("%b %Y")
                - if !@user.organization
                  %br
                  = (@user.created_at + 1.year).strftime("%B %Y")
          .m1.p3.bg-white.rounded.sm-col-6.md-col-3{ style: 'flex-grow: 1'}
            =image_tag "i-impact-categories.png", :class => "mt1"

            %h4.gray-80.mb0.mt1.bold.caps Clean Score
            %span.h0.bold.my0.orange
              = @user.get_current_week_grade
            %div.h4.gray-60.col-11
              Your carbon footprint is
              %span.bold 
                - cf_percent = 100 - @user.get_current_week_foodcf_percent.round(0)
                #{cf_percent.abs}%
                = cf_percent > 0 ? "better" : "worse"
              than the average American's this week.
          .m1.bg-white.rounded{style: 'min-width: 250px; flex-grow: 1'}
            .px2.py1.gray-90
              .h3.mr1.bold.inline-block Weeky leaders
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              .flex.items-center{style: "padding: 4px 16px;#{'background: #F4B350' if u.email ==  current_user.email}"}
                .flex.items-center.justify-center.h6.border.circle.icon-m
                  = (i==5) ? i + @current_user_standing : i + 1
                .fill-x
                  .left-align.inline-block
                    .h5.ml1 #{u.profile.first_name} #{u.profile.last_name}
                  .right.inline-block
                    .h5 #{u.fat_reward_points}

        = render 'food_impact_module'

        .center.m3
          .h1.black.bold Member Benefits

        .flex.items-stretch.flex-column.md-row.mx1
          .m1.p3.bg-white.rounded{ style: 'flex: 1' }
            .flex.items-center
              =image_tag "icons/i-paper.png", :class => "mr1"
              %h2.gray-90.bold.inline.line-height-1
                Take-out bites
            .flex.flex-auto.flex-wrap.justify-around.mt1
              .px1.mb2{style: 'max-width: 200px; min-width: 100px; flex: 1'}
                .bg-gray-05
                  = image_tag "http://placehold.it/100x50", class: 'fill-x'
                  .p1.h5.sm-h4
                    Appetizers: Your first course
              .px1.mb2{style: 'max-width: 200px; min-width: 100px; flex: 1'}
                .bg-gray-05
                  = image_tag "http://placehold.it/100x50", class: 'fill-x'
                  .p1.h5.sm-h4
                    Are cows the key to saving the planet?
              .px1.mb2{style: 'max-width: 200px; min-width: 100px; flex: 1'}
                .bg-gray-05
                  = image_tag "http://placehold.it/100x50", class: 'fill-x'
                  .p1.h5.sm-h4
                    Hidden health. Benefits of ugly produce
            %h4.mb0.center
              Still hungry?
            %h3.my1.line-height-1.center
              =link_to '#', class:"black line medium" do
                Read more tasty bites

          .m1.p3.bg-white.rounded{ style: 'flex: 1' }
            .flex.flex-column.justify-between.fill-y
              .flex.items-center
                =image_tag "icons/i-concierge.png", :class => "mr1"
                %h2.gray-90.bold.inline.line-height-1
                  Hungry for more?
              .p.line-height-4.gray-80.my2.center
                Your concierge can help you slay the carbon calories, plus give you a taste for LED bulbs, clean power, fossil-free driving, and much more!
              %div
                .h4.mb0.center
                  Talk to your concierge
                .h3.mt1.mb2.line-height-2.center
                  =link_to "tel:+18009792215", class:"black line medium" do
                    Call 800-721-2215

        .flex.items-stretch.flex-column.md-row.mx1

          .m1.p3.bg-white.rounded{ style: 'flex: 1' }

            .flex.items-center
              =image_tag "icons/i-calendar.png", :class => "mr1"
              %h2.gray-90.bold.inline.line-height-1
                All eyes are on...
            .flex.flex-wrap.mt2.justify-center
              .mr2
                = link_to "http://www.timetochoose.com/", target: "_blank" do
                  = image_tag "timetochoose_poster", class: 'fit', style: 'box-shadow: 2px 2px 6px #aaa; max-height:230px'
              .flex.flex-column.justify-between{ style: 'flex: 1; min-width: 160px' }
                .mt0.mb1
                  %p.gray-80.m0.mb1
                    Check out this film by our founder for some good climate news.

                  .mt0
                    =link_to "https://www.rottentomatoes.com/m/time_to_choose/", target: "_blank", class: 'text-decoration-none' do
                      %span= image_tag "rotten_tomato"
                      %span.h3.black 86%
                      %span.h5.black on&nbsp;Rotten&nbsp;Tomatos
                .h3.my1
                  .black Watch the film

                  .flex.flex-wrap.items-center
                    .mr1
                      =link_to "https://www.amazon.com/Time-Choose-Oscar-Isaac/dp/B01LOUPR34", target: "_blank" do
                        = image_tag "amazon_video", style: 'max-width: 90px'
                    .inline.h5.blue.text-link
                      =link_to "http://www.timetochoose.com/stream-or-download/", target: "_blank" do
                        More viewing options
                  .blue
                    = form_tag points_add_watch_ttc_moive_points_path do
                      = button_tag "I've watched it! +100 points", class: 'rounded btn btn-outline px1 h5'

          .m1.p3.bg-white.rounded{ style: 'flex: 1' }
            .flex.items-center
              =image_tag "icons/i-wallet.png", :class => "mr1"
              %h2.gray-90.bold.inline.line-height-1
                Coins back in your pocket
            %p.line-height-4.gray-80.my1.sm-mb4.center Get exclusive discounts on sustainable living products
            .clearfix.flex.items-center
              %div
                = image_tag "imperfect_produce", class: "fit"
              %div
                = image_tag "arcadia_power", class: "fit"
              -# .col.col-12.sm-col.sm-col-3
              -#  = image_tag "badger", class: "fit", height: '100px'
              %div
                = image_tag "farm_fresh", class: "fit"
            %h3.mb1.line-height-1.gray-60.medium.center
              =link_to "articles/coins-in-your-pocket", class:"black line medium" do
                See discount details

:javascript
  $('li.complete, li.incomplete').on('click', function(){
    window.location = $(this).data('link');
  });
