-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-gray-1
  adelle

:css
  .introjs-skipbutton {
    display: none;
  }

= render "profiles/myhome_components/welcome_tour_modals"

.mx-auto.relative
  .page-header-image.bg-blue{style: 'background-image: url("assets/myhome_background.png"); background-repeat: no-repeat; background-size: 100% 100%'}
    .absolute.left-0.right-0.top-0.my3
      .max-width-4.mx-auto
        .clearfix
          .col.col-12.px2
            #wt-link.right.white.underline.pointer What's all this?
        .flex.flex-column.sm-row
          .m1.p2.rounded.bg-white.flex.items-center.justify-center.flex-column{style:'flex-grow:1'}
            .mt1
              - if @user.organization
                = image_tag "organization_logos/#{@profile.user.organization.name.downcase}_logo_400x400.png", size: "80x80", class: "rounded"
              - else
                .bg-gray-2.p2.rounded
                  .h2.px1.gray-5 #{@profile.first_name[0].upcase}#{@profile.last_name[0].upcase}

            .m1.center
              .h2.m0.black= "#{@profile.first_name} #{@profile.last_name}"
              .h4.gray-6
                = @user.organization ? @user.organization.name : ''
            .m1.center
              .h2.m0.black= @user.total_fat_reward_points
              .h4.gray-6= "Total Points"
            .m1.gray-6.h6
              .inline-block
                Member since:
                / show renewal date if user is an individual member
                - if !@user.organization
                  %br
                  Renewal date:
              .inline-block.right-align
                = @user.created_at.strftime("%b. %Y")
                - if !@user.organization
                  %br
                  = (@user.created_at + 1.year).strftime("%b. %Y")

          #clean-score.m1.p3.bg-white.rounded.sm-col-6.md-col-2{ style: 'flex-grow: 1', data: {step: "2"}}
            =image_tag "i-impact-categories.png", :class => "mt1 col-5 sm-col-8 md-col-6"

            %h4.gray-6.mb0.mt1.bold.caps Clean Score
            .border.border-orange.circle.center.my1{ style: 'width: 75px; border-width: 3px' }
              %span.h0.bold.my0.mx1.orange.align-middle
                = @user.get_current_week_grade || '?'
            %div.h4.gray-5.col-11
              - food_cf = @user.get_current_week_foodcf_percent
              - if food_cf
                Your carbon "foodprint" is
                %span.bold
                  - cf_percent_diff = 100 - food_cf
                  #{cf_percent_diff.abs}%
                  = cf_percent_diff > 0 ? "lower" : "higher"
                than the average American's this week.
              - else
                Add your food logs in Food Impact Challange below to get your clean score.

          .m1.pt1.pb2.bg-white.rounded{style: 'min-width: 250px;'}
            .px3.py1.gray-7
              .h3.mr2.bold.inline-block Weekly leaders
              .h5.mt1.right.inline-block Points
            - @leaderboard_users.each_with_index do |u, i|
              - unless u.profile.nil? # Skip any users wihtout a profile
                .flex.px3.py1.items-center{class: "#{'bg-orange' if u.email == current_user.email}"}
                  .flex.items-center.justify-center.h6.border.circle.icon-m.gray-6
                    = (i == 6) ? i + @current_user_standing : i + 1
                  .fill-x
                    .left-align.inline-block
                      .h4.ml1.mr2.black #{u.profile.first_name} #{u.profile.last_name} #{"(You)" if u.email == current_user.email}
                    .right.inline-block
                      .h4.gray-6 #{u.fat_reward_points}

        = render 'profiles/myhome_components/food_impact_module'

        #member-benefits{data: {step: "3", position: "left"}}
          .center.m3
            .h1.black.bold Member Benefits

          .flex.items-stretch.flex-column.md-row.mx1
            = render "profiles/myhome_components/take_out_bites_module"
            = render "profiles/myhome_components/concierge_module"

          .flex.items-stretch.flex-column.md-row.mx1
            = render "profiles/myhome_components/film_module"
            = render "profiles/myhome_components/discounts_module"

          - if !@user.organization && @user.dashboard
            .md-row.mx1
              = render "profiles/myhome_components/dashboard_module"

:javascript
  modulejs.require('myhome');

  var myhomeTour = modulejs.require('myhome_tour');
  myhomeTour.init(#{@mobile});
  myhomeTour.start(#{@tour});
