#member-profile.bg-gray-05
  .max-width-3.mx-auto.p2
    .flex.items-center
      .fill-black
        = embedded_svg 'i-user.svg'
      %h1.ml2 Profile

    .clearfix.bg-white.px3.py2.rounded.mb2
      .col.col-12.sm-col.col-10
        .h2.mb2 Login
        .h6.mb0.gray-60 Email address
        .h3.my0= @profile.email
        .inline-block
          = form_tag "#", method: 'post', class: 'edit_password', style: 'display:none;' do
            / Inline styles used below for jQuery show and hide animations to work
            .col.col-12.px0.sm-pl0.sm-pr2.mt2
              %label.h6.inline.mb0.gray-60{for: "current_password"} Current password
              #curr-password-error.inline
              = password_field_tag :current_password, nil, data: {"parsley-excluded": "true", "parsley-errors-container":"#curr-password-error"}, class: "rounded"
              %label.h6.inline.mb0.gray-60.mt3{for: "new_password"} New password
              #new-password-error.inline
              = password_field_tag :new_password, nil, data: { "parsley-required": "true", "parsley-errors-container": "#new-password-error", "parsley-minlength": "8", "parsley-notequalto": "#current_password"  }, class: "rounded"
              %label.h6.inline.mb0.gray-60.mt3{for: "new_password_confirmation"} Confirm new password
              #confirm-new-password-error.inline{for: "new_password_confirmation"}
              = password_field_tag :new_password_confirmation, nil, data: { "parsley-equalto": "#new_password", "parsley-required": "true", "parsley-group": "change-password", "parsley-equalto-message": 'Password confirmation does not match new password', "parsley-errors-container":"#confirm-new-password-error" }, class: "rounded"
        
        .flex.items-center
          #btn-change-password.btn.btn-sm.btn-secondary.btn-secondary--hover.mr1
            Change password
          #msg-password-update.flex.items-baseline.green{style: 'display: none;'}
            .m0
              Saved&nbsp;
            %span.block
              = embedded_svg 'i-success-16px.svg', class: 'block'
          #btn-cancel-change-password.btn.btn-sm.btn-secondary.btn-secondary--hover.mr1{style: 'display: none;'}
            Cancel

    .clearfix

      = simple_form_for @profile, url: profile_path(@profile) do |f|
        .clearfix.bg-white.rounded.px3.py2.mb2
          %h2.my0 Personal
          .col.col-12.sm-col.sm-col-5.px0.sm-pl0.sm-pr2
            = f.input :first_name, required: false, input_html: {class: "rounded"}, label_html: {class: 'h6 mb0 gray-60'}

          .col.col-12.sm-col.sm-col-5.sm-pl0.sm-pr2.mt1.sm-mt0
            = f.input :last_name, required: false, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

          .col.col-12.sm-col.sm-col-10.sm-pl0.sm-pr2.mt1
            = f.input :phone, data: {"parsley-pattern": "^((\\(\\d{3}\\) ?)|(\\d{3}-))?\\d{3}-\\d{4}$"}, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

        .clearfix.bg-white.rounded.py2.px3
          %h2.my0 Home
          .col.col-12.sm-col.sm-col-10.px0.sm-pl0.sm-pr2
            =f.input :address_line_1, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

          .col.col-12.sm-col.sm-col-4.px0.sm-pl0.sm-pr2
            =f.input :city, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

          .col.col-12.sm-col.sm-col-2.px0.sm-pl0.sm-pr2.mt1.sm-mt0
            =f.input :state, collection: us_states, include_blank: "Select state...", data: {"parsley-required": "true"}, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

          .col.col-12.sm-col.sm-col-4.px0.sm-pl0.sm-pr2.mt1.sm-mt0
            =f.input :zip_code, data: {"parsley-length": "[5,5]", "parsley-length-message": "Zip code should be 5 characters."}, class: "rounded", label_html: {class: 'h6 mb0 gray-60'}

          .clearfix
            .col.col-12.sm-col.sm-col-4.px0.sm-pl0.sm-pr2.mt1
              %label.h6.mb0.gray-60 Housing
              #housing-radio-buttons.relative
                = radio_button_tag('profile[housing]', "own", (@profile.housing == 'own'))
                = label_tag('profile[housing]', "Own")
                &nbsp;
                = radio_button_tag('profile[housing]', "rent", (@profile.housing == 'rent'))
                = label_tag('profile[housing]', "Rent")

            .col.col-12.sm-col.sm-col-6.px0.sm-pl0.sm-pr2.mt1
              %label.h6.mb0.gray-60{for: 'avg_electrical_bill'} Average electric bill
              .clearfix.pl1
                .col.col-8.mt1
                  #slider{target: '#profile_avg_electrical_bill'}
                .col.col-4.pl1
                  .inline-block.center
                    %h2.m0
                      &nbsp;$
                      %span#slider_val= @profile.avg_electrical_bill
              =f.input :avg_electrical_bill, as: :hidden, input_html: { value: @profile.avg_electrical_bill || "0" }
        
        .clearfix
          .col.col-12.mt2.px0.sm-px0.sm-py2
            .flex.items-center
              =f.submit class: 'btn btn-sm btn-primary', disabled: true
              / inline style so jquery show() works.
              #msg-profile-update.flex.items-center.green{style: 'display: none'}
                .pl1.m0
                  Saved&nbsp;
                %span.block
                  = embedded_svg 'i-success-16px.svg', class: 'block'

:javascript

  (function(){
    /*------------- BEGIN Module variable declarations and initializations-----------*/
    var
        currentPasswordValid,
        updatedFields,
        showPasswordForm,
        hidePasswordForm,
        submitChangedPassword,
        $pwForm,
        $profileForm,
        $currPw,
        $pCurrPw,
        $pPwForm,
        $pProfileForm,
        $pwSubmit,
        $btnProfileSubmit,
        $msgProfileUpdate,
        $msgPasswordUpdate,
        $btnChangePw,
        $btnCancelChangePw;

    // Variable initializations
    currentPasswordValid = false;
    updatedFields = {}; // Payload with updated info to send to server


    // jQuerified elements
    $pwForm = $('.edit_password');
    $currPw = $('#current_password');
    $btnChangePw = $('#btn-change-password');
    $btnCancelChangePw = $('#btn-cancel-change-password');

    $profileForm = $('.edit_profile');
    $btnProfileSubmit = $profileForm.find('input[type=submit]');
    $msgProfileUpdate = $profileForm.find('#msg-profile-update');
    $msgPasswordUpdate = $('#msg-password-update');
    // Parsleyfied password fields
    $pCurrPw = $('#current_password').parsley();

    // Parsleyfied forms
    var $pPwForm = $('.edit_password').parsley({
                        errorClass: "error",
                        errorsWrapper: '<div class="invalid-message inline right"></div>',
                        errorTemplate: '<span></span>',
                        successClass: null
                    });

    var $pProfileForm = $('.edit_profile').parsley({
                            errorClass: "error",
                            errorsWrapper: '<div class="invalid-message inline right"></div>',
                            errorTemplate: '<span></span>',
                            successClass: null
                        });



    /*------------- END Module variable declarations and definitions-----------*/

    /*------------- BEGIN Module configurations--------------------------------*/

    /*------------- BEGIN UI configurations -----------------------------------*/
    // Mask phone and zip code input
    $('#profile_zip_code').mask('00000');
    $('#profile_phone').mask('(000) 000-0000');

    // jQuery UI Slider for average electrical bill
    $( "#slider" ).slider({
      range: "min",
      animate: "fast",
      max: 250,
      value: #{@profile.avg_electrical_bill},
      create: function( event, ui ) {
        $('#slider > span').css({cursor: 'pointer', outline: '0'});
      },
      slide: function( event, ui ) {
        $('#slider_val').html(ui.value);
        $('#profile_avg_electrical_bill').val(ui.value);
        setUpdatedField($($(event.target).attr('target')));
        enableSubmit();
      }
    });
    /*------------- END UI configurations -----------------------------------*/

    /*------------- BEGIN Profile form configurations -----------------------------------*/
    // Fields to bind input change handler
    var profileFields = {
      first_name: $('#profile_first_name'),
      last_name: $('#profile_last_name'),
      phone: $('#profile_phone'),
      address: $('#profile_address_line_1'),
      city: $('#profile_city'),
      state: $('#profile_state'),
      zip_code: $('#profile_zip_code')
    };

    // Bind input event handler to profile fields
    for (key_name in profileFields){
      profileFields[key_name].on('input', function(event){
        setUpdatedField($(this));
        enableSubmit();
      });
    }

    // Event handler for housing radio buttons
    $('input[type=radio]').change(function() {
      setUpdatedField($(this));
      enableSubmit();
    });

    // /enableSubmit/ enable submission of profile info if a field is changed
    var enableSubmit = function(){
      $btnProfileSubmit.prop("disabled", false);
    }

    // /setUpdatedField/ On a profile field change, update updatedFields
    var setUpdatedField = function($field){
      field_name = $field.attr('name');
      field_value = $field.val();
      updatedFields[field_name] = field_value;
    }

    // Validate profile info fields on submit
    $btnProfileSubmit.on('click', function(event){
      event.preventDefault();
      $pProfileForm.validate();
    });

    // On profile form success, send updatedFields payload to server
    $pProfileForm.on('form:success', function(){
      $.ajax({
        type: "POST",
        url: $profileForm.attr('action'),
        data: { _method:'PATCH',  updatedFields},
        dataType: 'json',
        success: function(msg) {
          $pProfileForm.reset();
          $btnProfileSubmit.attr('disabled', true);
          $msgProfileUpdate.show('slow');
          setTimeout(function(){ $msgProfileUpdate.hide('slow'); }, 5000);

        }
      });
    });
    /*------------- END Profile form configurations -----------------------------------*/

    /*------------- BEGIN Password form configurations -----------------------------------*/
    // Custom Parsley validator: new password cannot be the same as current
    window.Parsley.addValidator('notequalto', {
      requirementType: 'string',
      validateString: function(val, elem) {
        return val !== $(elem).val();
      }, 
      messages: {
        en: 'New password cannot be same as current'
      }
    });

    // /showPasswordForm/ animate revealing of the password form elements
    showPasswordForm = function(){
      $pwForm.show('slow', function(){
        $btnChangePw.bind('click', submitChangedPassword);
      });
      $btnCancelChangePw.show('slow');
      $btnChangePw.html('Save changes').unbind('click');
    };


    // /hidePasswordForm/ animate hiding of the password form elements and reset form elements
    hidePasswordForm = function(){
      $pwForm.hide('slow', function(){
        // clear password input fields on cancel
        $pwForm.find('input[type=password]').val("");

        // Reset parsley styles
        $pPwForm.reset();
        $pCurrPw.reset();
      });
      $btnCancelChangePw.hide('slow');
      $btnChangePw
        .html('Change password')
        .unbind('click', submitChangedPassword)
        .bind('click', showPasswordForm);
    }

    submitChangedPassword = function(){
      $pPwForm.validate();

      $.ajax({
        url: "profile/verify-current-password",
        data: {'current_password': $('#current_password').val()},
        dataType: 'json',
        async: false,
        type: 'GET',
        success: function(data){
          response = true;
          currentPasswordValid = true;
          $pCurrPw.removeError('current_password_error', {updateClass: true});
          if($pPwForm.isValid()){
            var updated_password = $('#new_password_confirmation').val();
            $.ajax({
              type: "POST",
              url: '/profile/update-password',
              data: { _method:'PATCH',  updated_password},
              dataType: 'json',
              success: function() {
                hidePasswordForm();
                $msgPasswordUpdate.show('slow');
                setTimeout(function(){ $msgPasswordUpdate.hide('slow'); }, 5000);
              }
            });
          };
        },
        error: function(data){
          currentPasswordValid = false;
          if(!$currPw.hasClass('parsley-error')){
            $pCurrPw.addError('current_password_error', {message: 'Current password is incorrect.' , assert: false, updateClass: true});
          }
        }
      });
    };

    // Change password event handling
    $btnChangePw.on('click', showPasswordForm);
    $btnCancelChangePw.on('click', hidePasswordForm);
    /*------------- END Password form configurations -----------------------------------*/
    /*------------- END Module configurations-------------------------------------------*/
  }());
