.calculator-result
  .result-category#rooftop_solar
    %h3
      %strong Rooftop Solar
    %h5
      Zap your electric bill and boost your home’s value using only the sun. Join
      the 500,000 Americans who have already gone solar!
  .result-category#offsite_solar
    %h3
      %strong Offsite Solar
    %h5
      Get the financial and energy saving benefits of solar panels with none of
      the maintenance.
  .calculator-result-total
    %h5
      You could save
      %span#total
      each year when you make these upgrades in
      %span#city




    -#%p
    -#  electric-car: $
    -#  = "#{location.electric_car}"
    -#%p
    -#  electric_heat_pump: $
    -#  = "#{location.electric_heat_pump}"
    -#%p
    -#  geothermal_heat_pump: $
    -#  = "#{location.geothermal_heat_pump}"
    -#%p
    -#  hybrid_car: $
    -#  = "#{location.hybrid_car}"
    -#%p
    -#  led: $
    -#  = "#{location.led}"
    -#%p
    -#  offsite_solar: $
    -#  = "#{location.offsite_solar}"
    -#%p
    -#  plug_in_hybrid: $
    -#  = "#{location.plug_in_hybrid}"
    -#%p
    -#  rooftop_solar: $
    -#  = "#{location.rooftop_solar}"
    -#%p
    -#  smart_thermostat: $
    -#  = "#{location.smart_thermostat}"
