.calculator-result
  .result-category#rooftop_solar
    %h3
      %strong Rooftop Solar
    %h5
      Zap your electric bill and boost your home’s value using only the sun. Join
      the 500,000 Americans who have already gone solar!
  .result-category#offsite_solar
    %h3
      %strong Offsite Solar
    %h5
      Get the financial and energy saving benefits of solar panels with none of
      the maintenance.
  .result-category#led
    %h3
      %strong Upgrades
    %h5
      With energy savings up to 95% and a bulb that lasts 25x longer than a
      traditional bulb, LEDs offer huge convenience & cost savings.
  .result-category#smart_thermostat
    %h3
      %strong Thermostat
    %h5
      Smart thermostats not only save you money - they also keep you more
      comfortable. Plus, use your phone to adjust temps remotely, and keep the
      savings flowing.
  .result-category#electric_heat_pump
    %h3
      %strong Air Heat
    %h5
      Enjoy comfort and energy savings - not to mention the money you can save -
      with an efficient, quiet electric heat pump. Your savings start right
      away.
  .result-category#geothermal_heat_pump
    %h3
      %strong Ground Heat
    %h5
      Heat & cool your home with just 1 cost-saving appliance! A geothermal heat
      pump is the greenest way to keep your home cozy all year long.
  .result-category#hybrid_car
    %h3
      %strong Hybrid
    %h5
      With styles & options to suit your family (and your budget), hybrids are
      the no-compromise way to cut your fuel costs & emissions.
  .result-category#plug_in_hybrid
    %h3
      %strong Hybrid Electric
    %h5
      Now that plug-in hybrids have bigger batteries & stronger motors than
      traditional hybrids, you’ll drive more and fill up less.
  .result-category#electric_car
    %h3
      %strong All Electric
    %h5
      Never stop at a gas station again! Electric cars are fun to drive, cost
      less to maintain, and produce no toxic emissions. Charge at night, drive
      all day.
  .calculator-result-total
    %h5
      You could save
      %span#total
      each year when you make these upgrades in
      %span#city




    -#%p
    -#  electric-car: $
    -#  = "#{location.electric_car}"
    -#%p
    -#  electric_heat_pump: $
    -#  = "#{location.electric_heat_pump}"
    -#%p
    -#  geothermal_heat_pump: $
    -#  = "#{location.geothermal_heat_pump}"
    -#%p
    -#  hybrid_car: $
    -#  = "#{location.hybrid_car}"
    -#%p
    -#  led: $
    -#  = "#{location.led}"
    -#%p
    -#  offsite_solar: $
    -#  = "#{location.offsite_solar}"
    -#%p
    -#  plug_in_hybrid: $
    -#  = "#{location.plug_in_hybrid}"
    -#%p
    -#  rooftop_solar: $
    -#  = "#{location.rooftop_solar}"
    -#%p
    -#  smart_thermostat: $
    -#  = "#{location.smart_thermostat}"
