.offsite-solar
  %h4 Offsite Solar
  %p
    Get the financial and energy saving benefits of solar panels with none
    of the maintenance.
  %p
    Up to $2059 more cash in your pocket/year with Offsite Solar and
    Ground Heat.
  %p
    electric-car: $
    = "#{savings.electric_car}"
  %p
    electric_heat_pump: $
    = "#{savings.electric_heat_pump}"
  %p
    geothermal_heat_pump: $
    = "#{savings.geothermal_heat_pump}"
  %p
    hybrid_car: $
    = "#{savings.hybrid_car}"
  %p
    led: $
    = "#{savings.led}"
  %p
    offsite_solar: $
    = "#{savings.offsite_solar}"
  %p
    plug_in_hybrid: $
    = "#{savings.plug_in_hybrid}"
  %p
    rooftop_solar: $
    = "#{savings.rooftop_solar}"
  %p
    smart_thermostat: $
    = "#{savings.smart_thermostat}"
