.calculator-result
  .result-category#rooftop_solar
    %h3
      %strong Rooftop Solar
    %h5= snippet 'homepage-calculator-results-rooftopsolar'
  .result-category#offsite_solar
    %h3
      %strong Offsite Solar
    %h5= snippet 'homepage-calculator-results-offsitesolar'
  .result-category#led
    %h3
      %strong Upgrades
    %h5= snippet 'homepage-calculator-results-upgrades'
  .result-category#smart_thermostat
    %h3
      %strong Thermostat
    %h5= snippet 'homepage-calculator-results-thermostat'
  .result-category#electric_heat_pump
    %h3
      %strong Air Heat
    %h5= snippet 'homepage-calculator-results-airheat'
  .result-category#geothermal_heat_pump
    %h3
      %strong Ground Heat
    %h5= snippet 'homepage-calculator-results-groundheat'
  .result-category#hybrid_car
    %h3
      %strong Hybrid
    %h5= snippet 'homepage-calculator-results-hybrid'
  .result-category#plug_in_hybrid
    %h3
      %strong Hybrid Electric
    %h5= snippet 'homepage-calculator-results-hybridelectric'
  .result-category#electric_car
    %h3
      %strong All Electric
    %h5= snippet 'homepage-calculator-results-allelectric'
  .calculator-result-total
    %h5
      You could save
      %span#total
      each year when you make these upgrades in
      %span#city




    -#%p
    -#  electric-car: $
    -#  = "#{location.electric_car}"
    -#%p
    -#  electric_heat_pump: $
    -#  = "#{location.electric_heat_pump}"
    -#%p
    -#  geothermal_heat_pump: $
    -#  = "#{location.geothermal_heat_pump}"
    -#%p
    -#  hybrid_car: $
    -#  = "#{location.hybrid_car}"
    -#%p
    -#  led: $
    -#  = "#{location.led}"
    -#%p
    -#  offsite_solar: $
    -#  = "#{location.offsite_solar}"
    -#%p
    -#  plug_in_hybrid: $
    -#  = "#{location.plug_in_hybrid}"
    -#%p
    -#  rooftop_solar: $
    -#  = "#{location.rooftop_solar}"
    -#%p
    -#  smart_thermostat: $
    -#  = "#{location.smart_thermostat}"
