.calculator-result
  .result-category#rooftop_solar
    %h3
      %strong Rooftop Solar
    %h5= snippet 'homepage-calculator-results-rooftopsolar'
  .result-category#offsite_solar
    %h3
      %strong Offsite Solar
    %h5= snippet 'homepage-calculator-results-offsitesolar'
  .result-category#led
    %h3
      %strong Upgrades
    %h5= snippet 'homepage-calculator-results-upgrades'
  .result-category#smart_thermostat
    %h3
      %strong Thermostat
    %h5= snippet 'homepage-calculator-results-thermostat'
  .result-category#electric_heat_pump
    %h3
      %strong Air Heat
    %h5= snippet 'homepage-calculator-results-airheat'
  .result-category#geothermal_heat_pump
    %h3
      %strong Ground Heat
    %h5= snippet 'homepage-calculator-results-groundheat'
  .result-category#hybrid_car
    %h3
      %strong Hybrid
    %h5= snippet 'homepage-calculator-results-hybrid'
  .result-category#plug_in_hybrid
    %h3
      %strong Hybrid Electric
    %h5= snippet 'homepage-calculator-results-hybridelectric'
  .result-category#electric_car
    %h3
      %strong All Electric
    %h5= snippet 'homepage-calculator-results-allelectric'
  .calculator-result-total
    %h5
      = snippet 'homepage-calculator-results-totalpre'
      %span#total
      = snippet 'homepage-calculator-results-totalpost'
      %span#city
