.concierge.dark
  .row
    .col-md-3.col-md-offset-2
      .reason
        = embedded_svg "free.svg"
        .reason-content
          %h5= snippet 'homepage-concierge-reason1-header'
          %p= snippet 'homepage-concierge-reason1-content'
      .reason
        = embedded_svg "no-pressure.svg"
        .reason-content
          %h5= snippet 'homepage-concierge-reason2-header'
          %p= snippet 'homepage-concierge-reason2-content'
      .reason
        = embedded_svg "on-your-side.svg"
        .reason-content
          %h5= snippet 'homepage-concierge-reason3-header'
          %p= snippet 'homepage-concierge-reason3-content'
      .reason
        = embedded_svg "unbiased.svg"
        .reason-content
          %h5= snippet 'homepage-concierge-reason4-header'
          %p= snippet 'homepage-concierge-reason4-content'
    .col-md-4.col-md-offset-1
      .reserve.center
        %h5
          = snippet 'homepage-concierge-form-headerpre'
          06237
          = snippet 'homepage-concierge-form-headerpost'
        %p= snippet 'homepage-concierge-form-secondaryheader'
        %p= text_field_tag 'name', nil, placeholder: "Name"
        %p= phone_field_tag 'phone', nil, placeholder: "Phone Number"
        %p= email_field_tag 'email', nil, placeholder: "Email (for a confirmation)"
        %p= render "reserve_button"
        %p.subtext= snippet 'homepage-concierge-form-footer'