.explanation
  .row
    .col-md-5.col-md-offset-2
      %h2= snippet 'homepage-firstsection-header'
      .section
        %p= snippet 'homepage-firstsection-content'
      %h2= snippet 'homepage-firstsection-listheader'
      .section
        %ul
          %li
            .glyphicon.glyphicon-ok
            %i= snippet 'homepage-firstsection-listitems-1'
          %li
            .glyphicon.glyphicon-ok
            %i= snippet 'homepage-firstsection-listitems-2'
          %li
            .glyphicon.glyphicon-ok
            %i= snippet 'homepage-firstsection-listitems-3'
          %li
            .glyphicon.glyphicon-ok
            %i= snippet 'homepage-firstsection-listitems-4'
    .col-md-3
      .info-box
        = embedded_svg "Chat Icon.svg"
        %h3= snippet 'homepage-firstsection-sidebarheader'
        %h4= snippet 'homepage-firstsection-sidebarcontent'
        = render "reserve_button"
        .subtext
          %p= snippet 'homepage-firstsection-sidebarcaption'
