.how
  .row
    .col-md-8.col-md-offset-2
      %h2= snippet 'homepage-whydomino-steps-header'
      .row.steps
        .col-md-4.step
          = embedded_svg "Circle1.svg"
          %h3= snippet 'homepage-whydomino-steps-one-header'
          %h4= snippet 'homepage-whydomino-steps-one-content'
        .col-md-4.step
          = embedded_svg "Circle2.svg"
          %h3= snippet 'homepage-whydomino-steps-two-header'
          %h4= snippet 'homepage-whydomino-steps-two-content'
        .col-md-4.step
          = embedded_svg "Circle3.svg"
          %h3= snippet 'homepage-whydomino-steps-three-header'
          %h4= snippet 'homepage-whydomino-steps-three-content'
      %h2= snippet 'homepage-whydomino-header'
      .row
        .col-md-6.why-reason-container
          .why-reason
            %h3= snippet 'homepage-whydomino-left-header'
            %h4= snippet 'homepage-whydomino-left-content'
            = embedded_svg "face-happy.svg"
        .col-md-6.why-reason-container
          .why-reason
            %h3= snippet 'homepage-whydomino-right-header'
            %h4= snippet 'homepage-whydomino-right-content'
            = embedded_svg "face-sad.svg"
