.about
  .row
    .col-md-8.col-md-offset-2
      .section
        %h2= snippet 'about-section1-header'
        %p= snippet 'about-section1-content'
      .section
        %h2= snippet 'about-section2-header'
        %p= snippet 'about-section2-content'
      .section
        %h2= snippet 'about-section3-header'
        %p= snippet 'about-section3-content'
      .section
        %h2= snippet 'about-section4-header'
        %p= snippet 'about-section4-content'
