= cache('getstarted') do
  .concierge.dark
    .container.top
      .overlay
        %h1.content.center= snippet 'homepage-concierge-header1'
    .container.middle
      .row
        .col-xs-8.col-xs-offset-2
          .reserve
            #concierge
            .title
              %h3= snippet 'homepage-concierge-form-header'
            = form_tag({controller: :sessions, action: :signup}, remote: true) do
              = hidden_field_tag 'name', 'WEBSITE FORM'
              %p
                = email_field_tag 'email', nil,
                  placeholder: snippet('homepage-concierge-form-emaillabel')
                %br
                = snippet 'homepage-concierge-form-emailtag'
              %p
                = text_field_tag 'address', nil,
                  placeholder: snippet('homepage-concierge-form-addresslabel')
                %br
                = snippet 'homepage-concierge-form-addresstag'
              .errors
              .reserve-button
                = button_tag snippet('homepage-concierge-form-submitlabel'),
                  type: 'submit', class: 'btn'
            .icon
              .glyphicon.glyphicon-ok-circle
          %p.center.moreways= snippet 'homepage-concierge-contact'
          .table.center
            .imgcontainer
              = image_tag 'phone_icon.png'
            %p.first= snippet 'homepage-concierge-contactphone'
            .imgcontainer
              = image_tag 'email_icon.png'
            %p= link_to snippet('homepage-concierge-contactemail'),
              "mailto:#{snippet('homepage-concierge-contactemail')}"
    .container.bottom
      .overlay
      %h2= snippet 'homepage-concierge-header2'
      = render 'common/getstarted_button'
