= cache('index') do
  .intro.overlay
    .content
      .row
        .col-xs-12
          %h1.title.bespoke-dynamic= snippet 'homepage-intro-header'
          %h3.title= snippet 'homepage-intro-subtitle'
          = render 'common/getstarted_button'
  .how
    .container
      .row
        .col-xs-12
          %h1.center= snippet 'homepage-whydomino-steps-header'
          .row.steps
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle1.svg"
              %p.header= snippet 'homepage-whydomino-steps-one-header'
              %p= snippet 'homepage-whydomino-steps-one-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle2.svg"
              %p.header= snippet 'homepage-whydomino-steps-two-header'
              %p= snippet 'homepage-whydomino-steps-two-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle3.svg"
              %p.header= snippet 'homepage-whydomino-steps-three-header'
              %p= snippet 'homepage-whydomino-steps-three-content'
  .meet-millers
    .content.foreground.overlay
      .row
        .col-xs-12
          .container
            %h1= snippet 'homepage-meet-title'
            %h3= snippet 'homepage-meet-description'
  .loveus
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        %h1.center= snippet 'homepage-whycustomersloveus-title'
        .reasons
          .row
            .col-xs-4
              = embedded_svg 'on-your-side.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason1-header'
                = snippet 'homepage-whycustomersloveus-reason1-content'
          .row
            .col-xs-4
              = embedded_svg 'no-pressure.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason2-header'
                = snippet 'homepage-whycustomersloveus-reason2-content'
          .row
            .col-xs-4
              = embedded_svg 'free.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason3-header'
                = snippet 'homepage-whycustomersloveus-reason3-content'
  .testimonials
    #testimonials-carousel.carousel.slide{data: {ride: 'carousel'}}
      %ol.carousel-indicators
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '0'}}}
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '1'}}}
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '2'}}}
      .carousel-inner{role: 'listbox'}
        .item.active
          .container
            .carousel-caption
              %p.testimonial
                I wanted to go solar, but I wasn't sure if it made sense or which company to go with. The Domino concierge service was exactly what I needed.
                %span.byline
                  Julie C.
                  %br
                  Sebastapol, California
        .item
          .container
            .carousel-caption
              %p.testimonial
                With very little effort on my part, I'll be saving hundreds a month and using clean energy.
                %span.byline
                  David H.
                  %br
                  San Jose, California
        .item
          .container
            .carousel-caption
              %p.testimonial
                I’ve been thinking about converting to clean energy for years, but never got down to it. Thank goodness for Domino!
                %span.byline
                  Susan P.
                  %br
                  Weston, Connecticut
      %a.left.carousel-control{href: '#testimonials-carousel', onClick: "$('#testimonials-carousel').carousel('next')", role: 'button', data: {slide: 'prev'}}
        %span.glyphicon.glyphicon-chevron-left{aria: {hidden: 'true'}}
      %a.right.carousel-control{href: '#testimonials-carousel', onClick: "$('#testimonials-carousel').carousel('prev')", role: 'button', data: {slide: 'next'}}
        %span.glyphicon.glyphicon-chevron-right{aria: {hidden: 'true'}}

  .meet-dan
    .content.foreground.overlay
      .row
        .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
          %h3= snippet 'homepage-meetconcierge-header'
          %h3= snippet 'homepage-meetconcierge-content'
          = render 'common/getstarted_button'
  .exit.dark.text-center
    .row
      .col-xs-12
        = image_tag 'google-search-box.png'
        %h1= snippet 'homepage-exit-header'
        %p= snippet 'homepage-exit-content'
        = render 'common/getstarted_button'