= render "navbar"
.source
  %br
  %br
  %h2= current_clone || "session"
= render "intro_section"
= render "explanation_section"
= render "calculator_section"
= render "how_section"
= render "concierge_section"
= render "footer"
