= cache('index') do
  .intro.overlay
    .content
      .row
        .col-xs-12
          %h1.title.bespoke-dynamic= snippet 'homepage-intro-header'
          %h3.title= snippet 'homepage-intro-subtitle'
          = render 'common/getstarted_button'
  .how
    .container
      .row
        .col-xs-12
          %h1.center= snippet 'homepage-whydomino-steps-header'
          .row.steps
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle1.svg"
              %p.header= snippet 'homepage-whydomino-steps-one-header'
              %p= snippet 'homepage-whydomino-steps-one-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle2.svg"
              %p.header= snippet 'homepage-whydomino-steps-two-header'
              %p= snippet 'homepage-whydomino-steps-two-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle3.svg"
              %p.header= snippet 'homepage-whydomino-steps-three-header'
              %p= snippet 'homepage-whydomino-steps-three-content'
  .meet-millers
    .content.foreground.overlay
      .row
        .col-xs-12
          .container
            %h1= snippet 'homepage-meet-title'
            %h3= snippet 'homepage-meet-description'
  .loveus
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        %h1.center= snippet 'homepage-whycustomersloveus-title'
        .reasons
          .row
            .col-xs-4
              = embedded_svg 'on-your-side.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason1-header'
                = snippet 'homepage-whycustomersloveus-reason1-content'
          .row
            .col-xs-4
              = embedded_svg 'no-pressure.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason2-header'
                = snippet 'homepage-whycustomersloveus-reason2-content'
          .row
            .col-xs-4
              = embedded_svg 'free.svg', class: 'full-width'
            .col-xs-8
              %p
                %h3= snippet 'homepage-whycustomersloveus-reason3-header'
                = snippet 'homepage-whycustomersloveus-reason3-content'
  .testimonials
    #testimonials-carousel.carousel.slide{data: {ride: 'carousel'}}
      %ol.carousel-indicators
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '0'}}}
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '1'}}}
      .carousel-inner{role: 'listbox'}
        .item.active
          .container
            .carousel-caption
              %h1 Item 1
        .item
          .container
            .carousel-caption
              %h1 Item 2
  .meet-dan
    .content.foreground.overlay
      .row
        .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
          %h3= snippet 'homepage-meetconcierge-header'
          %h3= snippet 'homepage-meetconcierge-content'
          = render 'common/getstarted_button'
  .exit.dark.text-center
    .row
      .col-xs-12
        = image_tag 'google-search-box.png'
        %h1= snippet 'homepage-exit-header'
        %p= snippet 'homepage-exit-content'
        = render 'common/getstarted_button'