.container
  .clearfix
    .col-12.col.sm-col-6.py3
      .bg-white.border.rounded.p2
        %h2.mt0
          Edit #{resource_name.to_s.humanize}
        = simple_form_for(resource, as: resource_name, url: concierge_registration_path, html: { method: :put }) do |f|
          = f.error_notification
          .form-inputs
            = f.label :password, "New Password", class: 'block'
            = f.input_field :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false, class: 'col-12 field'
            = f.label :password_confirmation, "New Password Confirmation", class: 'block'
            = f.input_field :password_confirmation, required: false, class: 'col-12 field'
            = f.label :current_password, class: 'block'
            = f.input_field :current_password, required: true, class: 'col-12 field'
          .form-actions
            .clearfix
              = f.button :submit, "Update", class: 'mt2 right bg-blue white rounded btn'
        = link_to "Back", :back