.max-width-3.mx-auto.mb2.p3
  .bg-lightgray.rounded.p3.max-width-2.mx-auto
    .bg-blue.block.mx-auto{style: 'width: 100px; height: 100px; border-radius: 100px;'}
      = image_tag "penguin-white.svg", width: '100px', style: 'margin-top: 10px;'
    .px2
      %h1.center.gray-6.mb0.line-height-1 Welcome to your Action Dashboard!
      %p.center.gray-6.mt2.line-height-1 
        Please create a password to take 
        %br your first step to clean energy.
          
    =simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      - flash.each do |name, msg|
        = content_tag :div, msg.html_safe, :id => "flash_#{name}", style: 'text-align: center', class: 'domino-gray' if msg.is_a?(String)
      .form-inputs.max-width-1.mx-auto
        %label.gray-6 Email Address
        = f.input_field :email, readonly: true, value: "#{@email}", class: 'mb2 mt1 text-input'
        %label.gray-6 Password
        = f.input_field :password, required: true, autofocus: true,class: 'mt1 mb2 text-input'
        %label.gray-6 Password Confirmation
        = f.input_field :password_confirmation, required: true, class: 'mt1 text-input'
        = hidden_field_tag 'distinct_id'
        .center.py3
          = f.button :submit, "Register", class: "btn btn-md btn-primary"
  %p.center.gray-6
    Already have an account?
    %span.blue
      = link_to "Log In", new_user_session_path, class: 'text-decoration-none blue'

:javascript
  $(document).ready(function(){
    mixpanel.track("Loaded Devise Sign up page for "+ $('#user_email').val());

    var myForm = $('#new_user');
    myForm.submit(function(event){
      var hiddenInput = myForm.find("input[name='distinct_id']");
      hiddenInput[0].value = mixpanel.get_distinct_id();
    });
  });