#signup.devise-form.pt4
  .max-width-3.mx-auto.my4
    .bg-lightgray.rounded.pt3.mt4.max-width-2.mx-auto
      .bg-blue.block.mx-auto{style: 'width: 100px; height: 100px; border-radius: 100px;'}
        = image_tag "penguin-white.svg", width: '100px', style: 'margin-top: 10px;'
      -if @legacy_user
        %h1.center.gray-80.mb0.line-height-1 At MyDomino, we’ve been busy improving your experience.
        %p.center.gray-80.mt2 Please create a login to access your action dashboard. 
      -else
        %h1.center.gray-80.mb0.line-height-1 Thanks for signing up with MyDomino! 
        %p.center.gray-80.mt2 Please create a login for your account.
      =simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        - flash.each do |name, msg|
          = content_tag :div, msg.html_safe, :id => "flash_#{name}", style: 'text-align: center', class: 'domino-gray' if msg.is_a?(String)
        .form-inputs.max-width-1.mx-auto
          %label.gray-80 Email Address
          = f.input_field :email, readonly: true, value: "#{@email}", class: 'mb2 mt1', style: 'height: 40px;'
          %label.gray-80 Password
          = f.input_field :password, required: true, autofocus: true,class: 'mt1 mb2', style: 'height: 40px;'
          %label.gray-80 Password Confirmation
          = f.input_field :password_confirmation, required: true, class: 'mt1', style: 'height: 40px;'
          .center.py3
            = f.button :submit, "Register", class: "btn btn-md btn-primary"
    %p.center.gray-80
      Already have an account?
      %span.blue
        = link_to "Log In", new_user_session_path, class: 'text-decoration-none blue'