- content_for :body_class do
  bg-gray-05

.max-width-4.mx-auto.bg-white.mt4.rounded
  .clearfix.sm-flex
    .col.col-12.sm-col.sm-col-6.p4.bg-cover.bg-top-right.overlay.overlay-blue-alpha-75.black{style: "background-image: url('#{image_url 'windpower-field'}');"}
      .flex.flex-column{style: 'height: auto;'}
        %h1 Hi #{@org_name.capitalize} employee
        %p
          Welcome to MyDomino, you're on your way to a clean energy lifestyle.

        %p
          Sign up to join your company's mission toward a clean energy future.
    
    .col.col-12.sm-col.sm-col-6.p4
      %h1.gray-60 Sign up
      #msg-form-feedback.gray-60{style: 'display: none;'}

      = form_tag '#' do
        = hidden_field_tag :organization_id, @organization.id
        %section#email-section
          %label.h6.mt2.mb0.gray-60.block{for: 'email'} Email
          = email_field_tag :email, (@user.email if @user), class: 'text-input', disabled: @user,
            data: {'parsley-group': 'email', 'parsley-pattern': "[^]+@#{@org_email_domain}", 'parsley-pattern-message': 'Must be company email'}, 
            required: true

        %section#name-and-password-section{style: "#{'display: none' if !@user}"}
          .clearfix
            .col.col-12.sm-col.sm-col-6
              .mr0.sm-mr1
                %label.h6.mt2.mb0.gray-60.block{for: 'first_name'} First name
                = text_field_tag :first_name, (@user.profile.first_name.capitalize if @user), class: 'text-input', disabled: @user, required: true, data: {'parsley-group': 'name-pw'}
            .col.col-12.sm-col.sm-col-6
              .ml0.sm-ml1
                %label.h6.mt2.mb0.gray-60.block{for: 'last_name'} Last name
                = text_field_tag :last_name, (@user.profile.last_name.capitalize if @user), class: 'text-input', disabled: @user, required: true, data: {'parsley-group': 'name-pw'}
          
          %label.h6.mt2.mb0.gray-60.block{for: 'password'} Password
          = password_field_tag :password, nil, class: 'text-input', required: true, data: { 'parsley-group': 'name-pw', 'parsley-minlength': '8', 'parsley-minlength-message': 'Password must be at least 8 characters'}

          %label.h6.mt2.mb0.gray-60.block{for: 'password_confirmation'} Password confirmation
          = password_field_tag :password_confirmation, nil, class: 'text-input', required: true, data: {'parsley-group': 'name-pw', 'parsley-equalto': '#password', "parsley-equalto-message": 'Password confirmation does not match password'}

        = submit_tag "#{@user ? 'Sign up' : 'Continue'}", id: 'btn-sign-up', class: "mt2 btn btn-sm btn-primary btn-primary--hover"

:javascript
  (function(){
    modulejs.require('new_org_member')();
  }());
  