- content_for :body_class do
  bg-gray-1

.max-width-4.mx-auto.mt4
  .sm-flex.mx1.bg-white.rounded.overflow-hidden
    .col.col-12.sm-col.sm-col-6.p2.sm-p4.bg-cover.bg-top-right.gray-6{style: "background-image: url('#{image_url 'windpower-field-blue'}');"}
      .flex.flex-column{style: 'height: auto;'}
        %h1.bold Hello, #{@user.profile.first_name.capitalize}
        %h2.mt0 Welcome to the new MyDomino.
        %p.mt0
          Get tips and discounts for lowering your carbon footprint. 
          Compete with other MyDomino members to see how low you can go!
        .py2.px2.md-px3.mt2.rounded{ style: "background-color:rgba(255,255,255,0.7)" }
          %i.fa.fa-magic.fa-lg.mr1.orange
          %h2.m0.orange.bold.inline Pardon our dust
          %p.my1 Since this is a beta, not everything is perfect yet.
          %p.my1 
            We welcome any feedback or questions, email us at
            = link_to 'feedback@mydomino.com', 'mailto:feedback@mydomino.com', class: "text-decoration-none blue"
            %span .
            = link_to 'More about giving feedback...', 'https://docs.google.com/document/d/18yBX_TlOF393L_GlBPw4G8u0CVrDS0KqRlbVsh3zX8U/pub', class: "text-decoration-none blue", target: '_blank'
    
    .col.col-12.sm-col.sm-col-6.p4
      %h1.gray-6 Activate your account
      #msg-form-feedback.gray-5{style: 'display: none;'}

      = form_tag '#' do
        /= hidden_field_tag :organization_id, @organization_id
        %section#email-section
          %label.h6.mt2.mb0.gray-5.block{for: 'email'} Your email
          = email_field_tag :email, (@user.email if @user), placeholder: "yourname@example.com", class: 'text-input', disabled: @user,
            data: {'parsley-group': 'email', 'parsley-pattern': "#{@email_regex.to_s}", 'parsley-pattern-message': "You need to use your email address"}, 
            required: true

        %section#name-and-password-section{style: "#{'display: none' if !@user}"}
          .clearfix
            .col.col-12.sm-col.sm-col-6
              .mr0.sm-mr1
                %label.h6.mt2.mb0.gray-5.block{for: 'first_name'} First name
                = text_field_tag :first_name, (@user.profile.first_name.capitalize if @user), class: 'text-input', disabled: @user, required: true, data: {'parsley-group': 'name-pw'}
            .col.col-12.sm-col.sm-col-6
              .ml0.sm-ml1
                %label.h6.mt2.mb0.gray-5.block{for: 'last_name'} Last name
                = text_field_tag :last_name, (@user.profile.last_name.capitalize if @user), class: 'text-input', disabled: @user, required: true, data: {'parsley-group': 'name-pw'}
          
          %label.h6.mt2.mb0.gray-5.block{for: 'password'} Password
          = password_field_tag :password, nil, class: 'text-input', required: true, data: { 'parsley-group': 'name-pw', 'parsley-minlength': '8', 'parsley-minlength-message': 'Your password needs at least 8 characters'}

          %label.h6.mt2.mb0.gray-5.block{for: 'password_confirmation'} Confirm password
          = password_field_tag :password_confirmation, nil, class: 'text-input', required: true, data: {'parsley-group': 'name-pw', 'parsley-equalto': '#password', "parsley-equalto-message": "Oops, your passwords don't match"}
          = hidden_field_tag 'client_ip', @client_ip

        = submit_tag "#{@user ? 'Activate' : 'Continue'}", id: 'btn-sign-up', class: "mt2 btn btn-sm btn-primary btn-primary--hover"

:javascript
    modulejs.require('new_org_member')();
  