.concierge.dark
  .row
    .col-md-3.col-md-offset-2
      .reason
        = embedded_svg "free.svg"
        .reason-content
          %h5 100% FREE
          %p Domino is 100% free for homeowners
      .reason
        = embedded_svg "no-pressure.svg"
        .reason-content
          %h5 NO PRESSURE
          %p Our concierges are not salespeople or paid commissions
      .reason
        = embedded_svg "on-your-side.svg"
        .reason-content
          %h5 ON YOUR SIDE
          %p We offer you our best advice, no matter what you decide
      .reason
        = embedded_svg "unbiased.svg"
        .reason-content
          %h5 UNBIASED
          %p We dont represent any company, product or service
    .col-md-4.col-md-offset-1
      .reserve.center
        %h5
          Domino concierges have helped 06237 homeowners
        %h5
          and counting
          %span.green Go Green.
        %p Reserve your call now to find out how much you could save
        %p= text_field_tag 'name', nil, placeholder: "Name"
        %p= phone_field_tag 'phone', nil, placeholder: "Phone Number"
        %p= email_field_tag 'email', nil, placeholder: "Email (for a confirmation)"
        %p= render "reserve_button"
        %p.subtext (ZERO obligation or purchase required)