.footer
  .row
    .col-md-5.col-md-offset-2
      %h5
        Sign up for genuinely useful emails now and then with tips on
        %span.green Going Green.
    .col-md-4
      = text_field_tag 'email', nil, placeholder: "Email address"
      = button_tag "SIGN UP"
  .row.links
    .col-md-2.col-md-offset-2
      %table
        %tr
          %td= image_tag "Certified B Corp.png"
          %td= link_to embedded_svg "facebook.svg"
          %td= link_to embedded_svg "twitter.svg"
          %td= link_to embedded_svg "rss.svg"
    .col-md-1
      %p ABOUT US
      %p.link= link_to "Who Is Domino?"
      %p.link= link_to "Concierge Service"
      %p.link= link_to "FAQs"
      %p.link= link_to "Our Blog"
    .col-md-1
      %p ELECTRICITY
      %p.link= link_to "Rooftop Solar"
      %p.link= link_to "Offsite Solar"
      %p.link= link_to "Upgrade"
    .col-md-1
      %p HEATING & COOLING
      %p.link= link_to "Thermostat"
      %p.link= link_to "Air Heat"
      %p.link= link_to "Ground Heat"
    .col-md-1
      %p GASOLINE
      %p.link= link_to "Hybrid"
      %p.link= link_to "Hybrid Electric"
      %p.link= link_to "All Electric"
    .col-md-1
      %p LEGAL/CONTACT
      %p.link= link_to "Terms Of Service"
      %p.link= link_to "Privacy Policy"
      %p.link= link_to "Contact Us"
      %p.link= link_to "Careers"
