%p
  key:
  = @snippet.key
%p
  parent:
  = @snippet.parent.key if @snippet.parent
%p
  clone:
  = @snippet.clone.name if @snippet.clone
= form_for @snippet do |f|
  = f.error_messages
  = f.hidden_field :parent_id
  %p
    = f.label :name, "Name"
    = f.text_field :name
  %p
    = f.label :content, "Content"
    = f.text_area :content, :rows => 8
  %p= f.submit "Save"