.row
  .col-md-2
    = link_to root_url do
      = image_tag "Domino Logo.png"
  .col-md-10
    %h3 Domino Site Copy
.row
  .import-export
    = form_tag import_snippets_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import"
    -#= link_to "import", '/'
    -#|
    -#= link_to "export", '/'
    = link_to "Create new", new_snippet_path, remote: true
    = nested_snippets @snippets.arrange(order: :name)
  .form-container
    = render "form"
