.max-width-3.mx-auto.center.mt1.mb2.px2
  %table#steps
    %tbody
      %tr
        %td{class: "#{step == 1 ? 'fill-blue blue' : 'gray-4'}"}
          = embedded_svg "i-interest.svg", class: 'mx-auto block icon-l'
          1. Your interests
        %td
          %hr
        %td{class: "#{step == 2 ? 'fill-blue blue' : 'gray-4'}"}
          = embedded_svg "i-housing.svg", class: 'mx-auto block icon-l'
          2. Your house
        %td
          %hr
        %td{class: "#{step == 3 ? 'fill-blue blue' : 'gray-4'}"}
          = embedded_svg "i-membership.svg", class: 'mx-auto block icon-l'
          3. Your membership