.spacer   

#checkout{class: "#{@browser.device.mobile? ? 'mobile-form' : 'mb4'}"}
  .spacer
  -if flash[:notice]
    =render 'profiles/flash_notice'
  = render :partial => 'profile/steps/steps_progress', :locals => {:step => 3}
  .max-width-3.mx-auto.p2.rounded{class: "#{@browser.device.mobile? ? 'bg-white' : 'bg-gray-05'}"}
    .clearfix
      .col.col-12.center.pt4
        .h1.line-height-2
          Your MyDomino Membership
        .h4.gray-80.my0 If you have a partner code, enter it for a discount

    =simple_form_for @profile, method: :put, url: wizard_path do |form|
      .clearfix.mx-auto.center
        .col.col-12.relative.my3
          =@profile.partner_code ? (render 'profiles/valid_partner_code_field', {f: form, partner_code: @profile.partner_code} ) : (render 'profiles/partner_code_field', f: form)
          %button.inline{type: "button", disabled: (true if @profile.partner_code), id: 'btn-apply', class: "#{@profile.partner_code ? 'bg-gray-60' : 'bg-blue'} white", style: "padding: 8px;#{@profile.partner_code ? 'border: 2px solid #858585;' : 'border: 2px solid #00CCFF;'}border-bottom-right-radius: 5px;border-top-right-radius: 5px;margin-left:-6px;"}
            -if @profile.partner_code
              %i.fa.fa-check.fa-3
            -else
              APPLY

      .clearfix
        .col.col-12.mx-auto.center
          %ul.px1.list-reset.my0.max-width-2.mx-auto.inline-block.gray-80
            %li#li1.left-align
              %h4.my1
                Unlimited access to an energy savings concierge
            %li#li2.left-align
              %h4.my1
                A personalized path to 100% clean energy and big savings
            %li#li3.left-align
              %h4.my1
                An online dashboard to track your progress
            %li#li4.left-align.my1
              %h4.my1
                Recommendations on clean energy products and services vetted by our team

      .px4.relative.mt2{style: 'height: 47px;'}
        =render :partial => "profiles/onboard_submit_btns", :locals=>{:form=>form, :form_name => 'checkout'}

:javascript
  $(document).on("turbolinks:load", function(){
    $('#btn-apply').on('click', function(){
      var partnerCode = $('#profile_partner_code').val();
      $.ajax({
        type: "POST",
        url: '/profiles/#{@profile.id}/apply-partner-code', //sumbits it to the given url of the form
        data: { '_method':'PUT', 'profile': {'partner_code': partnerCode }},
        dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
          console.log("success", json);
      });
    });

    //submit buttons may not be pushed multiple times
    $("form").submit(function() {
      $(this).submit(function() {
        return false;
      });
      return true;
    });
    //mobile
    $(window).scrollTop(0)
  });
