-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}

-content_for :body_class do
  bg-cyan
  adelle
:javascript
  modulejs.require('gauge');

.bg-cyan
  .max-width-4.mx-auto
    .center
      .flex.items-center.justify-center
        = link_to fat_date_path(@prev_date.year, @prev_date.month, @prev_date.day), class:"line-height-0 icon-l flex items-center justify-center" do
          =inline_svg "icons/i-arrow-left.svg", class:"icon-s fill-white"
        .mx2.my2
          %h3.white.bold.inline= "#{@date_str},"
          %h3.white.inline="#{@fat_day[:date].strftime("%B %d")}"
        - if @next_date <= @current_date
          = link_to fat_date_path(@next_date.year, @next_date.month, @next_date.day), class:"line-height-0 icon-l flex items-center justify-center" do
            =inline_svg "icons/i-arrow-right.svg", class:"icon-s fill-white"
      %h1.white.mt0.bold What did you eat?
    = react_component('FoodActionTracker', {fatDay: @fat_day})
