.form-wrapper{style: 'position: relative'}
  = form_for @lead, remote: true do |lead|
    .name{style: 'display:none'}
      = lead.label :first_name
      = lead.text_field :first_name
      = lead.label :last_name
      = lead.text_field :last_name
    .email
      = lead.label :email
      = lead.email_field :email, placeholder: ''
      %br
      %small So we can find a convenient time. No spam, no ads. 
    .phone
      =lead.label :phone
      =lead.text_field :phone
      %br
    .address{style: 'display:none'}
      = lead.text_field 'address', placeholder: 'Address (Optional)'
      %br
      %p Helps us research your options before we talk.
    .errors
    = lead.submit "LET'S ROCK 'N ROLL", data: {disable_with: "Submitting..."}, class: 'btn'
  .success
    .glyphicon.glyphicon-ok-circle.huge