.form-wrapper{style: 'position: relative'}
  = form_for @lead, remote: true do |lead|
    .name
      .row
        .col-xs-12.col-sm-6
          = lead.label :first_name
          = lead.text_field :first_name
        .col-xs-12.col-sm-6
          = lead.label :last_name
          = lead.text_field :last_name
    .email
      = lead.label :email, 'Email (Required)'
      = lead.email_field :email, placeholder: ''
    .phone
      =lead.label :phone
      =lead.text_field :phone
      %br
    .address{style: 'display:none'}
      =lead.text_field 'address', placeholder: 'Address (Optional)'
    .errors
    =lead.submit local_assigns.fetch(:button_text, "Get Started"), class: local_assigns.fetch(:button_class, "btn uppercase")
