.form-wrapper{style: 'position: relative'}
  = form_for @lead, remote: true, namespace: local_assigns[:namespace] do |lead|
    .container
      .row
        .col-xs-12.col-sm-6
          = lead.label :first_name, class: 'uppercase'
          = lead.text_field :first_name
        .col-xs-12.col-sm-6
          = lead.label :last_name, class: 'uppercase'
          = lead.text_field :last_name
      .row
        .col-xs-12
          = lead.label :email, 'Email', class: 'uppercase'
          = lead.email_field :email, placeholder: ''
      .row
        .col-xs-12
          =lead.label :phone, class: 'uppercase'
          =lead.text_field :phone
      .errors
      .row
        .col-xs-12.text-center
          = lead.submit local_assigns.fetch(:button_text, "Get Started"), data: {disable_with: 'Submitting...'}, class: local_assigns.fetch(:button_class, "btn blue uppercase")