%nav.navbar.navbar-default{class: 'transparent overlay' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      -if content_for? :navbar
        =yield(:navbar)
      -else
        %ul.nav.navbar-nav.pull-right
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Press', 'http://mydomino.strikingly.com', target: '_blank'
          %li
            = link_to 'Blog', 'http://www.mydomino.com/blog/', target: '_blank'
          %li.button
            = link_to getstarted_path, class: 'button' do
              %button.btn.small.transparent
                GET STARTED
.hero.dark{style: "background-image: url('#{image_url('SkyandWater.jpeg')}');"}
  .row
    .col-xs-12
      %h1.center{style: 'margin-top: 40px;'} About Domino
      %h3.center{style: 'margin-bottom: 40px;'} Our mission is to create 1 billion actions toward a clean energy future.
.container.px2.mb3
  .clearfix
    .col-12
      .row
        .col-12
          %h2.caps.mt4.mb2
            Why Domino
          %p
            We care about the planet, and we care about our customers. Which is why Domino cuts through the confusion to make going green easy and affordable for everyone.
          %p
            With more environmentally friendly choices than ever, we understand that you’re overwhelmed with options. At Domino, we’ll help you with everything from getting and comparing solar quotes to finding the right electric car to picking the right LED light bulbs for your home.
          %p
            Domino concierges are not salespeople and do not work on commission. So we’ll never pressure you to do something you aren’t sure about. Our team helps you take actions that make sense for you.
      .clearfix
        .col-12.mt4{style: 'border-radius: 20px;border: 2px solid #ac7d2c;'}
          .center
            =image_tag('domino_guarantee.png', style: "max-height: 175px;position: relative; top: -85px;")
          .px2
            %p The Domino Three-Point Guarantee:
            %p We stand behind every product and service we provide.
            %p 1) We guarantee that you will receive quality services and products at competitive prices from reputable providers. We only work with, and will only refer you to, companies and products with excellent credentials.
            %p 2) We guarantee you Domino's first-class service throughout the discovery, purchasing, and installation process. You will work with a concierge who is not paid on commission, and whose focus is to help you move beyond fossil fuels without any pressure.
            %p 3) We guarantee that we will be with you throughout the entire life of any product or service purchased through Domino. Should any issue arise, we will assist you to help resolve the issue to your 100% satisfaction.


      %h2.caps.mt4.mb2 How Domino Makes Money
      %p Domino makes a small referral fee from vendor products and services purchased through us. This referral fee costs the vendors less than acquiring customers in other ways, so you save!

      %h2.caps.mt4.mb2 Domino Team

      %p Our crew of energy experts and analysts comes from all walks of life. We share one thing in common: a passion for the planet. We’re here to help you save cash and take action!

      =image_tag 'team-photo.png'
