%nav.navbar.navbar-default{class: 'blue' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
    #navbar.navbar-collapse.collapse
      -if content_for? :navbar
        =yield(:navbar)
      -else
        %ul.nav.navbar-nav.pull-right
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Press', 'http://mydomino.strikingly.com', target: '_blank'
          %li
            = link_to 'Blog', 'http://www.mydomino.com/blog/', target: '_blank'
          %li.button
            = link_to getstarted_path, class: 'button' do
              %button.btn.small.transparent.dark-blue
                GET STARTED
.container.about
  .row
    .col-xs-12
      %h2 We all want clean energy, air, and water. The technology for that is available today. But where do we start? How can we do it in a way that doesn’t break the bank? Do we have to make lifestyle sacrifices in the bargain? This confusion can keep us from taking action.
      %p Enter Domino, a concierge service that’s here to help millions of Americans switch to clean energy and save money at the same time. Our tailored plans involve serious carbon reduction, maximum cash savings, and zero lifestyle compromises. 
      %p You may have heard of immediate savings with solar for no money down. But in most parts of the country, you can get entirely free of fossil fuels – coal, gas, and oil – and save money in the process. Consumers vote with their wallets. Domino is making it possible for everyone to know their options and to make that change, pocketing the savings along the way.
  .row
    .col-xs-12.blue{style: "padding:20px;"}
      %h2.testimonial "The Domino concierge service is exactly what I needed. I wanted to go solar, but I wasn't sure if it made sense. My concierge is making it easy. I feel like I can get somewhere now."
      %p.text-right Julie C, Sebastopol CA
  .row
    .col-xs-12
      %h2 What’s Different About Domino
      %p We know that no two families, homes, cities, or lifestyles are the same. Americans want personalized advice on how to ditch fossil fuels and save, especially for big decisions like solar and electric cars. Our concierge service provides that missing link. 
      %p Domino concierges are not salespeople and do not work on commission. If solar power or an electric car doesn't make sense for you, we'll tell you! It's your choice what action to take - we just offer options for you to consider.
  .row
    .col-xs-12
      %h2 How Domino Makes Money
      %p Domino is 100% free for homeowners. We make a small referral fee from vendor products and services purchased or financed through us. This referral fee costs the vendors less than acquiring customers in other ways, so you save.
  .row
    .col-xs-12
      %h2 Who Is Domino
      %p Our team of energy experts and analysts have helped thousands of homeowners save energy and money. We’ve done the research and crunched the numbers on countless energy-saving options, so we can help you see which ones are right for you.
      = image_tag "team-photo.jpg"