= cache('index') do
  .intro.overlay
    .content.container
      .row
        .col-xs-12
          %h1.title.bespoke-dynamic
            100% clean energy is awesome.
            %br
            Domino makes it easy.
          %h3.title
            From solar panels to smart thermostats and everything in between,
            %br
            we’ve done the research and lined up deals so you don’t have to.
          = link_to getstarted_path(anchor: 'reserve') do
            %button.btn.large
              GET STARTED
  .how
    .container
      .row
        .col-xs-12
          %h1.text-center We'll do the work. You'll do the saving.

          .row.steps
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle1.svg"
              %h3 WE CALL YOU
              %p Since no two homes, families and lifestyles are the same - our concierge will ask you a few questions to understand your needs.
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle2.svg"
              %h3 WE FIND SAVINGS
              %p Clean energy often means switching from a pricey to a cheap energy source. There are 100s of ways to do that, we’ll investigate what’s right for you.
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle3.svg"
              %h3 WE GET IT DONE
              %p We’ll recommend the best path to clean energy + savings. And we’ll stay with you from start to finish. At no cost to you.
  .meet-millers
    .content.foreground.overlay
      .container
        .row
          .col-xs-12
            %h1 Meet the Millers
            %h3 Their power bills were through the roof. Domino helped them get a great deal on solar. And then super-sized the savings with an electric car.
  .loveus
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h1.text-center Here’s why customers love us…
          .reasons
            .row
              .col-xs-4
                = embedded_svg 'on-your-side.svg', class: 'full-width'
              .col-xs-8
                %h3 ON YOUR SIDE
                %p We’ll hustle for the best deals, but if solar or any other action doesn’t work for you, we’ll tell you.
                  
            .row
              .col-xs-4
                = embedded_svg 'no-pressure.svg', class: 'full-width'
              .col-xs-8
                %h3 NO PRESSURE
                %p Our concierges are not salespeople and are not paid commissions.              
            .row
              .col-xs-4
                = embedded_svg 'free.svg', class: 'full-width'
              .col-xs-8
                %h3 FREE
                %p Domino’s concierge service is 100% free for homeowners in the U.S.
  .meet-dan
    .content.foreground.overlay
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
            %h3 MEET A CONCIERGE: DAN EATON
            %h3 "This is not just a job for me. I drive a beast of an electric car, my house is powered by the sun and my water heaters are tankless. And I’ll talk about this stuff all day if you don’t stop me."
            = link_to getstarted_path(anchor: 'reserve') do
              %button.btn.large
                GET STARTED
  .exit.blue.text-center
    .container
      .row
        .col-xs-12
          = image_tag 'google-search-box.png'
          %h1 Google doesn’t have all the answers.
          %p No two homes, families or lifestyles are the same. Domino gives you a FREE concierge who will find a clean energy + savings plan that works for YOU.
          = link_to getstarted_path(anchor: 'reserve') do
            %button.btn.large
              GET STARTED