-content_for :navbar_class do
  roll-down overlay blue

.experiment{style: 'padding-top: 100px;'}
  .sky-gradient.text-center
    .container
      .row
        .col-xs-12.col-md-8.col-md-push-2
          %h2{style: 'color: white;margin-top: 100px;margin-bottom: 50px;'}
            We help you 
            %strong save money 
            through clean energy—at no charge.
      .row{style: 'margin-bottom: 100px;'}
        .col-xs-12.col-sm-4.uppercase.text-center
          .icon.twohundred
            =embedded_svg('line_solar.svg')
            Solar
            %br
            Energy
        .col-xs-12.col-sm-4.uppercase.text-center
          .icon.twohundred
            =embedded_svg('line_products.svg')
            Product
            %br
            Suggestions
        .col-xs-12.col-sm-4.uppercase.text-center
          .icon.twohundred
            =embedded_svg('line_energy.svg')
            Energy
            %br
            Analysis

      .row
        .col-xs-12.text-center{style: 'padding-bottom: 30px;'}
          %button.btn.dark-blue.gradient.uppercase.large{style: 'font-size: 1.5rem;'}
            Get Started
  .testimonial.light-gray{style: 'padding-top: 60px;background-color: #f3f3f3;'}
    .container
      .row
        .col-xs-12.col-md-4.col-md-push-4
          =embedded_svg 'testimonial.svg', style: 'margin-bottom: 40px'
      .row
        .col-xs-12.col-md-8.col-md-push-2
          .quote{style: 'font-size: 1.7rem;'}
            With very little effort on my part, I'll be saving hundreds a month and using clean energy.
          .text-center.uppercase.bold{style: "padding-top: 40px; padding-bottom: 40px;"}
            Julia Smith
  .going-solar{style: 'padding: 80px 0px;'}
    .container
      .row
        .col-xs-12.col-md-6
          =embedded_svg('solarpanel.svg')
        .col-xs-12.col-md-6{style: "padding-top: 100px;"}
          %h3{style: 'color: #165683'}
            Going solar is difficult.
            %br
             We can make it easy for you.
          %p
            Figuring out which solar panels to get can be overwhelming, but it doesn’t have to be.
          %p
            Domino has vetted concierges to help you figure out which solar options are best for your household. We look, compare, and assist you all the way.
  .suggestions.light-sky-gradient{style: 'padding: 80px 0px;position: relative;z-index:2;'}
    .container
      .row
        .col-xs-12.col-md-5{style: "padding-top: 100px;"}
          %h3{style: 'color: #165683'}
            Domino makes suggestions to help you save money.
          %p
            Don’t worry our concierges are not salespeople.
          %p
            They love being your partner and will not pressure you to take a specific action. If something doesn’t work for you, they’ll tell you.
        .col-xs-12.col-md-6.col-md-push-1
          =embedded_svg('products.svg')
  .energy-plan{style: 'background-color: #b4f1ff'}
    .container
      .row
        .col-xs-12.col-md-5
          =embedded_svg('energyplan.svg', style: 'position: relative; top: -200px;z-index:1;')
        .col-xs-12.col-md-5.col-md-push-2{style: 'padding-top: 130px;'}
          %h3{style: 'color: #165683'}
            We give you a customized energy plan for free.
          %p
            There are 100s of ways to save energy and money, but wading through it all is a hassle. Your concierge will put together a home energy plan with specific actions tailored to your family.




.default{style: "display: none;"}
  #sky.intro
    .content.container
      .row
        .col-xs-12.col-med-6
          %h2.title.dynamic
            From assisting you with solar to helping you save money, we do it all.

          = link_to getstarted_path do
            %button.btn.btn-default.large.blue
              GET STARTED
          .learn-more{style: "padding-top:40px;"}
            =link_to anchor: 'how-it-works' do
              How it Works
            %br
            =link_to anchor: 'how-it-works' do
              .glyphicon.glyphicon-chevron-down
  #energy-guide.intro.alternate-background{style: 'display: none;'}
    .overlay
      .content.container
        .row
          .col-xs-12.col-med-6
            %h1.title.dynamic
              Ready for cool savings with clean energy?
              %br
              Let Domino be your guide.  
            %h3.title
              Talk to a friendly and knowledgable energy concierge and receive a free, personalized home energy guide.
            = link_to getstarted_path do
              %button.btn.large.btn-default
                Get Started
  .how#how-it-works
    .container
      .row
        .col-xs-12
          %h1.text-center We’ll do the work. You’ll do the saving.
          %h3.text-center All you have to do is:
          .row.steps
            .col-xs-12.col-sm-8.col-sm-offset-2.step
              .step-icon.text-center
                .icon 1
              %h3 Connect with us
              %p You’ll talk to a friendly and knowledgable energy concierge, who will help determine what makes sense for your home, family, and lifestyle. 
            .col-xs-12.col-sm-8.col-sm-offset-2.step
              .step-icon.text-center
                .icon 2
              %h3 Relax while we find savings
              %p There are 100s of ways to save energy and money, but wading through it all is a hassle. Your concierge will put together a home energy plan with specific actions tailored to your family.
            .col-xs-12.col-sm-8.col-sm-offset-2.step
              .step-icon.text-center
                .icon 3
              %h3 Count on us to get it done
              %p From recommending trustworthy products to getting you competitive quotes from reputable partners - we're with you all the way to get it done. 
          .row
            .col-xs-12.col-sm-8.col-sm-offset-2.text-center{style: "padding-top: 30px;"}
              %h3 More cash. Less carbon. Small actions. Epic effect.
  .meet-millers
    .content.foreground.overlay
      .container
        .row
          .col-xs-12
            %h1 Meet the Millers
            %h3 Their power bills were through the roof. Domino helped them get a great deal on solar. And then super-sized the savings with an electric car.
  .loveus
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h1.text-center Here’s why customers love us…
          .reasons
            .row
              .col-xs-4
                = embedded_svg 'listen.svg', class: 'full-width'
              .col-xs-8
                %h3 We listen
                %p There’s no family like yours. We take into account your unique home and lifestyle to help you find the actions that are right for you.
            .row
              .col-xs-4
                = embedded_svg 'serve.svg', class: 'full-width'
              .col-xs-8
                %h3 We’re on your side
                %p Our concierges are advisors, not salespeople on commission. They love being your partner and will not pressure you to take a specific action. If something doesn’t work for you, they’ll tell you.           
            .row
              .col-xs-4
                = embedded_svg 'free.svg', class: 'full-width'
              .col-xs-8
                %h3 We’re free
                %p Domino’s concierge service is 100% free for consumers. We get a referral fee from the companies you choose to work with. Everyone wins.
  .testimonials
    #testimonials-carousel.carousel.slide{data: {ride: 'carousel'}}
      %ol.carousel-indicators
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '0'}}}
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '1'}}}
        %li.active{data: {target: '#testimonials-carousel', slide: {to: '2'}}}
      .carousel-inner{role: 'listbox'}
        .item.active
          .container
            .carousel-caption
              .testimonial
                %p.testimonial
                  I wanted to go solar, but I wasn't sure if it made sense or which company to go with. The Domino concierge service was exactly what I needed.
                %p.byline
                  Julie C.
                  %br
                  Sebastapol, California
        .item
          .container
            .carousel-caption
              .testimonial
                %p.testimonial
                  With very little effort on my part, I'll be saving hundreds a month and using clean energy.
                %p.byline
                  David H.
                  %br
                  San Jose, California
        .item
          .container
            .carousel-caption
              .testimonial
                %p.testimonial
                  I’ve been thinking about converting to clean energy for years, but never got down to it. Thank goodness for Domino!
                %p.byline
                  Susan P.
                  %br
                  Weston, Connecticut
      %a.left.carousel-control{href: "#testimonials-carousel", onclick: '$("#testimonials-carousel").carousel("prev")', role: "button", data: {slide: 'prev'}}
        %span.glyphicon.glyphicon-chevron-left{aria: {hidden: true}}
      %a.right.carousel-control{href: "#testimonials-carousel", onclick: '$("#testimonials-carousel").carousel("next")', role: "button", data: {slide: 'next'}}
        %span.glyphicon.glyphicon-chevron-right{aria: {hidden: true}}
  .meet-dan
    .content.overlay
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
            %h3.uppercase Meet a Concierge: Dan Eaton
            %h3 "This is not just a job for me. I drive a beast of an electric car, my house is powered by the sun and my water heaters are tankless. And I’ll talk about this stuff all day if you don’t stop me."
            = link_to getstarted_path do
              %button.btn.large.uppercase.btn-default
                Get Started
  .meet-mel
    .content.overlay
      .container
        .row
          .col-xs-12.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-8.text-right
            %h3.uppercase Meet a Concierge: Mel Burns
            %h3 ​"​I fell in love with solar when I was twelve years old after writing a report about how energy shines down free from the sun. It's pretty much my all-time favorite topic. That, and green ways to save you money!​"​
            = link_to getstarted_path do
              %button.btn.large.uppercase.btn-default
                Get Started
  .meet-laura
    .content.overlay
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
            %h3.uppercase Meet a Concierge: Laura Osburn
            %h3 "I love energy efficiency and know first-hand the added comfort and savings of doing big things such as insulating and buying energy star rated products. Little actions- like switching out light bulbs and getting smart power strips- can add up to big savings. I'm happy to chat and find what works for you! "
            = link_to getstarted_path do
              %button.btn.large.uppercase.btn-default
                Get Started
  .exit.blue.text-center
    .container
      .row
        .col-xs-12
          = image_tag 'google-search-box.png'
          %h1 Google doesn’t have all the answers.
          %p No two homes, families or lifestyles are the same. Domino gives you a FREE concierge who will find a clean energy + savings plan that works for YOU.
          = link_to getstarted_path do
            %button.btn.large.uppercase.btn-default
              Get Started