= cache('index') do
  .intro.overlay
    .content.container
      .row
        .col-xs-12
          %h1.title.bespoke-dynamic= snippet 'homepage-intro-header'
          %h3.title= snippet 'homepage-intro-subtitle'
          = render 'common/getstarted_button'
  .how
    .container
      .row
        .col-xs-12
          %h1.center= snippet 'homepage-whydomino-steps-header'
          .row.steps
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle1.svg"
              %p.header= snippet 'homepage-whydomino-steps-one-header'
              %p= snippet 'homepage-whydomino-steps-one-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle2.svg"
              %p.header= snippet 'homepage-whydomino-steps-two-header'
              %p= snippet 'homepage-whydomino-steps-two-content'
            .col-xs-12.col-md-4.step
              = embedded_svg "Circle3.svg"
              %p.header= snippet 'homepage-whydomino-steps-three-header'
              %p= snippet 'homepage-whydomino-steps-three-content'
  .meet-millers
    .content.foreground.overlay
      .container
        .row
          .col-xs-12
            %h1 Meet the Millers
            %h3 Their power bills were through the roof. Domino helped them get a great deal on solar. And then super-sized the savings with an electric car.
  .loveus
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %h1.text-center Here’s why customers love us…
          .reasons
            .row
              .col-xs-4
                = embedded_svg 'on-your-side.svg', class: 'full-width'
              .col-xs-8
                %h3 ON YOUR SIDE
                %p We’ll hustle for the best deals, but if solar or any other action doesn’t work for you, we’ll tell you.
                  
            .row
              .col-xs-4
                = embedded_svg 'no-pressure.svg', class: 'full-width'
              .col-xs-8
                %h3 NO PRESSURE
                %p Our concierges are not salespeople and are not paid commissions.              
            .row
              .col-xs-4
                = embedded_svg 'free.svg', class: 'full-width'
              .col-xs-8
                %h3 FREE
                %p Domino’s concierge service is 100% free for homeowners in the U.S.
  .meet-dan
    .content.foreground.overlay
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4.col-md-offset-1
            %h3 MEET A CONCIERGE: DAN EATON
            %h3 "This is not just a job for me. I drive a beast of an electric car, my house is powered by the sun and my water heaters are tankless. And I’ll talk about this stuff all day if you don’t stop me."
            = link_to getstarted_path(anchor: 'reserve') do
              %button.btn.large
                GET STARTED
  .exit.blue.text-center
    .container
      .row
        .col-xs-12
          = image_tag 'google-search-box.png'
          %h1 Google doesn’t have all the answers.
          %p No two homes, families or lifestyles are the same. Domino gives you a FREE concierge who will find a clean energy + savings plan that works for YOU.
          = link_to getstarted_path(anchor: 'reserve') do
            %button.btn.large
              GET STARTED