.clearfix.pb4
  .page-header-image.flex.items-center.bg-blue
    .mx-auto
      .h0.light.center Our Partners
  %section.my4
    .flex.flex-wrap.sm-row.max-width-4.mx-auto
      //WIP code for companies that have no logos
      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1',
      .mx-auto.p2.mb4
        =link_to 'http://http://thesolutionsproject.org/', target: '_blank' , class:'clearfix' do
          =image_tag 'partner_logos/the-solutions-project'
      .mx-auto.p2.mb4
        =link_to "https://acespace.org", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/how-to-let-go'
      .mx-auto.p2.mb4
        =link_to"http://theabf.org", target: '_blank', class: 'clearfix'do
          = image_tag 'partner_logos/wow-company'
      .mx-auto.p2.mb4
        =link_to "http://www.climatehealers.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-film'
      .mx-auto.p2.mb4
        =link_to "http://www.earthrightsinstitute.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/everybody-solar'
      .mx-auto.p2.mb4
        =link_to "http://www.greenfilmfest.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/ACE'
      .mx-auto.p2.mb4
        =link_to "http://compassgreenproject.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/women-cleantech'
      .mx-auto.p2.mb4
        =link_to "http://risingsunenergy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Rising-sun'
      .mx-auto.p2.mb4
        =link_to "http://sierranevadaalliance.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/sierra-nevada'
      .mx-auto.p2.mb4
        =link_to "http://www.strawbuilding.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Straw-builders'
        .h3.center CA Straw Builders
      .mx-auto.p2.mb4
        =link_to "https://treemusketeers.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Tree-musketeers'
      .mx-auto.p2.mb4
        =link_to "http://www.womencleantechsustainability.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Climate-healers'
      .mx-auto.p2.mb4
        =link_to "http://www.internationalwow.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-project'
      .mx-auto.p2.mb4
        =link_to "http://snowleopardconservancy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/snow-leopard-conservancy'
      .mx-auto.p2.mb4
        =link_to "http://www.howtoletgomovie.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/how-to-let-go'
      .mx-auto.p2.mb4
        =link_to "http://www.everybodysolar.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Anza'
