.clearfix.pb4
  .page-header-image.flex.items-center.bg-gray-05
    .mx-auto
      .h1.light.center Our Partners
  %section.my4
    .h2.light.center Non-Profits
    .mt3.flex.flex-wrap.sm-row.max-width-4.mx-auto

      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      -# =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'flex-auto center bg-gray-05 text-decoration-none m1', style:""
      .mx-auto.bg-gray-20.p4.mb2
        =link_to 'http://blog.mydomino.com/solar-101', target: '_blank' ,class:'clearfix' do
          =image_tag 'partner_logos/100-org'
      .mx-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/ACE'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to"http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/Anza'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/Climate-healers'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/earth-rights'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/ecology-action'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/green-film'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/green-project'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/Rising-sun'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/sierra-nevada'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/Straw-builders'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/Tree-musketeers'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/women-cleantech'
      .mx-auto.md-ml-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix', style:"" do
          = image_tag 'partner_logos/wow-company'
      .mx-auto.bg-gray-20.p4.mb2
        =link_to "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/snow-leopard-conservancy'
