.clearfix.pb4
  .page-header-image.flex.items-center.bg-blue
    .mx-auto
      .h0.light.center.white Our Partners
      .h3.center.white.max-width-2.mt2.line-height-2 We are proud to be providing our clean energy advisory services to these organizations.
  %section.my4
    .flex.flex-wrap.sm-row.flex-column.max-width-4.mx-auto
      .mx-auto.pt1.px1
        =link_to 'http://http://thesolutionsproject.org/', target: '_blank' , class:'clearfix' do
          =image_tag 'partner_logos/the-solutions-project'
      .mx-auto.pt1.px1
        =link_to "http://www.howtoletgomovie.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/how-to-let-go'
      .mx-auto.pt1.px1
        =link_to"http://www.internationalwow.com/", target: '_blank', class: 'clearfix'do
          = image_tag 'partner_logos/wow-company'
      .mx-auto.pt1.px1
        =link_to "http://www.greenfilmfest.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-film'
      .mx-auto
        =link_to "http://www.everybodysolar.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/everybody-solar'
      .mx-auto.p1.mb2
        =link_to "https://acespace.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/ACE'
      .mx-auto.p1.mb2
        =link_to "http://compassgreenproject.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/women-cleantech'
      .mx-auto.p1.lg-mb4
        =link_to "http://risingsunenergy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Rising-sun'
      .mx-auto.p1.mb2
        =link_to "http://sierranevadaalliance.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/sierra-nevada'
      .mx-auto.p1.mb2
        =link_to "http://www.strawbuilding.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Straw-builders'
        .h4.center CA Straw Builders
      .mx-auto.p1
        =link_to "https://treemusketeers.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Tree-musketeers'
      .mx-auto.p1.lg-mb4
        =link_to "http://www.womencleantechsustainability.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Climate-healers'
        .h4.center Climate Healers
      .mx-auto.p1
        =link_to "http://compassgreenproject.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-project'
        .h4.center Compass Green Project
      .mx-auto.p1
        =link_to "http://snowleopardconservancy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/snow-leopard-conservancy'
      .mx-auto.p1
        =link_to "http://www.breathebayarea.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/breathe-california'
      .mx-auto.p1
        =link_to "http://theabf.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/Anza'
      //WIP no logos
      //.col.col-1
        =link_to 'ASDF', "http://blog.mydomino.com/solar-101", target: '_blank', class: 'clearfix mx-auto text-decoration-none'
