.clearfix.pb4
  .page-header-image.bg-cover.bg-center.flex.items-center{style: "background-image:url('assets/hands-together')"}
    .mx-auto
      .h0.light.center.white Our Partners
      .h3.center.white.max-width-2.mt2.line-height-2 We are proud to be providing our clean energy advisory services to these organizations.
  %section.my3
    .flex.flex-wrap.justify-around.sm-row.max-width-4.mx-auto
      .mx1.pt1.px1
        =link_to 'http://thesolutionsproject.org/', target: '_blank' , class:'clearfix' do
          =image_tag 'partner_logos/the-solutions-project'
      .mx1.pt1.px1
        =link_to "http://www.howtoletgomovie.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/how-to-let-go'
      .mx1.pt1.px1
        =link_to"http://www.internationalwow.com/", target: '_blank', class: 'clearfix'do
          = image_tag 'partner_logos/wow-company'
      .mx1.pt1.px1
        =link_to "http://www.greenfilmfest.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-film'
      .mx1
        =link_to "http://www.everybodysolar.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/everybody-solar'
      .mx1.p1.mb2
        =link_to "https://acespace.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/ACE'
      .mx1.p1.mb2
        =link_to "http://compassgreenproject.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/women-cleantech'
      .mx1.p1.mb2
        =link_to "http://risingsunenergy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/rising-sun'
      .mx1.p1.mb2
        =link_to "http://sierranevadaalliance.com/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/sierra-nevada'
      .mx1.p1.mb2
        =link_to "http://www.strawbuilding.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/straw-builders'
        .h4.center CA Straw Builders
      .mx1.p1
        =link_to "https://treemusketeers.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/tree-musketeers'
      .mx1.p1
        =link_to "http://www.womencleantechsustainability.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/climate-healers'
        .h4.center Climate Healers
      .mx1.p1
        =link_to "http://compassgreenproject.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/green-project'
        .h4.center Compass Green Project
      .mx1.p1
        =link_to "http://snowleopardconservancy.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/snow-leopard-conservancy'
      .mx1.p1
        =link_to "http://www.breathebayarea.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/breathe-california'
      .mx1.p1.flex.items-center
        =link_to "http://theabf.org/", target: '_blank', class: 'clearfix' do
          = image_tag 'partner_logos/anza'
      .mx1.p1.flex.items-center
        =link_to "https://votesolar.org/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/vote-solar'
      .mx1.p1.flex.items-center
        =link_to "https://re-volv.org/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/re-volv'
      .mx1.p1
        =link_to "http://amazonwatch.org/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/amazon-watch'
      .mx1.p1.flex.items-center
        =link_to "http://pershingsquarenew.com/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/perishing'
      .mx1.p1
        =link_to "http://www.channelislandsrestoration.com/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/channel-islands'
      .mx1.p1.flex.items-center
        =link_to "http://www.algalita.org/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/algalita'
      .mx1.p1
        =link_to "http://dogoodbus.com/", target:'_blank', class: 'clearfix' do
          = image_tag 'partner_logos/goodbus'
