-content_for :navbar_class do
  fixed gray-80 sm-col-12

.clearfix.mx-auto.pb4
  #team-header.page-header-image
    .max-width-3.mx-auto
      %h1.m0.center.white{style: 'font-size: 56px;font-weight: 200;'} TEAM
      %h3.center.white.m0
        We're data crunchers, cyclists, nature-lovers, researchers --  and above all,
        clean energy nerds with a passion for the planet. We're here to help you ditch
        dirty fuels and switch to 100% clean energy!

.clearfix.mx-auto.max-width-3.px2
  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Tom-Dinwoodie", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Tom Dinwoodie
    %h2.my0.gray-80{style: 'margin-top:-8px'} Founder
    %p.my0
      Tom is a cleantech entrepreneur, architect, and inventor. His long-standing interest in accelerating the transition to clean energy led him to found MyDomino. Tom believes that every household and business across the planet can be part of the solution to climate change. We can all choose lower-cost alternatives to dirty fuels and move to healthier diets that reduce pressure on deforestation. Tom is motivated to leave a healthy planet for his children and future generations.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Stephen-Torres", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Stephen Torres
    %h2.my0.gray-80{style: 'margin-top:-8px'} CEO
    %p.my0
      After watching Al Gore's film An Inconvenient Truth, Stephen was inspired to be part of the solution to climate change. He felt that one of the greatest areas of impact was in helping people move to clean energy, so made the leap from high-tech to clean-tech. Now he leads the MyDomino team that's helping people along the path to a 100% clean energy lifestyle!

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Rosana-Francescato", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Rosana Francescato
    %h2.my0.gray-80{style: 'margin-top:-8px'} Director of Communications
    %p.my0
      Rosana loves helping people go solar so much that she does volunteer work installing it for low-income families with GRID Alternatives -- where she's famous for her "Most Solar Man in the World" videos. She also loves writing about clean energy and has been published on CleanTechnica, The Energy Collective, Triple Pundit, and PV Solar Report, among others. Rosana is a MyDomino customer herself, saving money with clean energy at her home in Oakland, California.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Mel-Burns", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Mel Burns
    %h2.my0.gray-80{style: 'margin-top:-8px'} Director of Energy Concierge Services
    %p.my0
      Mel has been a passionate solar advocate since the 6th grade, when she wrote a report on solar energy and discovered the amazing power of the sun. She was further inspired by participating in COP3 on Global Climate Change in Kyoto and by her volunteer work with SolarNet Japan, bringing solar technology to rural areas of Indonesia. Mel came to MyDomino from the solar industry, and she loves helping homeowners across the country switch to clean energy.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Amy-Gorman", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Amy Gorman
    %h2.my0.gray-80{style: 'margin-top:-8px'} Director of Business Development
    %p.my0
      Amy came to solar in 2008 after 13 years as a green building contractor. She was a founding member of a worldwide solar company before bringing her passion for customers to MyDomino. Her career is always focused on a healthier planet for her children. In her spare time you can find her cheering for soccer, little league baseball, and basketball -- and being slave to a Dachsund named Hobbes.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Brian-Viewegar", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Brian Viewegar
    %h2.my0.gray-80{style: 'margin-top:-8px'} Project Manager
    %p.my0
      Brian has been fascinated with everything outdoors since he was a little kid. After learning about the dangers of global warming in elementary school, Brian knew he wanted to make a difference. His interest in using clean energy to reduce carbon emissions brought him to San Francisco. There he began writing for PV Solar Report and was subsequently published on Solar Power World and The Energy Collective. Brian has now expanded his work to all things clean energy.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Jimmy-Young", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Jimmy Young
    %h2.my0.gray-80{style: 'margin-top:-8px'} Lead UX/UI Designer
    %p.my0
      Jimmy has always been interested in using design to make a positive impact. From building a computer center in Haiti to designing a business system for a small village in Thailand, Jimmy loves to tackle hairy problems with a human-centered approach. He's currently focused on building a better way for people to switch to clean energy.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Laura-Osburn", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Laura Osburn
    %h2.my0.gray-80{style: 'margin-top:-8px'} Energy Concierge
    %p.my0
      Laura has worked in energy efficiency since 2009 and is Building Performance Institute certified. She's done home performance testing on over 500 homes and has helped evaluate some of those homes for solar. One of her biggest passions is saving energy (and money) through efficiency, a love she discovered working in San Francisco Theatres as a Tech and Stage Manager -- where she needed to find ways to stay comfortable while on a budget!

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Pam-Maners", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Pam Maners
    %h2.my0.gray-80{style: 'margin-top:-8px'} Office Manager
    %p.my0
      Pam has always had a passion for the outdoors and clean energy. She gardens using all-organic products, and is an avid cook and baker. At MyDomino she does a little bit of everything, from making sure the office is stocked with healthy drinks, to planning and organizing weekly team lunches, to making sure the bills are paid. She also has a viticulture degree and works part-time at a family-owned, eco-friendly, green winery in Napa. She loves to read, jog, and walk with the family Basset Hound Wyatt.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Mac-Farrell", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Mac Farrell
    %h2.my0.gray-80{style: 'margin-top:-8px'} Clean Energy Product Analyst
    %p.my0
      Mac came to us from the world of environmental politics and is passionate about finding ways to reduce dirty fuel use so we can protect our planet. He loves tracking and studying the latest developments in energy-saving technology, so MyDomino can be sure that we’re recommending the best energy-saving devices to our customers. Mac takes his work so seriously he even gave out WiFi-connected LED light bulbs for the holidays.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Marcian-Diamond", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Marcian Diamond
    %h2.my0.gray-80{style: 'margin-top:-8px'} Lead Developer
    %p.my0
      Marcian, with a background in engineering, understands energy as a precious resource. He loves developing solutions that work toward maximizing energy efficiency -- like MyDomino. Marcian is concentrating his efforts on creating applications that will engage people and inspire them to take steps toward conserving and using energy efficiently. Outside of the realm of web development, Marcian enjoys athletics, martial arts, backpacking, and tea drinking.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Maureen-Haskell", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Maureen Haskell
    %h2.my0.gray-80{style: 'margin-top:-8px'} Business Partnership Director
    %p.my0
      Maureen has a passion for causes that have a positive impact on people and the environment. At MyDomino, she focuses on building relationships with organizations that want to empower people to take meaningful actions for the environment with clean energy. Maureen enjoys being outdoors skiing, hiking, golfing, and biking.

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Michaela-Nye", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Michaela Nye
    %h2.my0.gray-80{style: 'margin-top:-8px'} Energy Concierge Assistant
    %p.my0
      Michaela is fresh to the business world, which she comes to with a background in grassroots organizing and a passion for food and environmental advocacy. At MyDomino she helps customers find the best clean energy solutions for their lifestyle and budget. In her spare time, Michaela enjoys backpacking, cycling, and growing and cooking great food!

  .sm-col.sm-col-12.md-col.md-col-3
    = image_tag "team_portraits/Hobbes", width: 128, class: 'circle pointer'
  .sm-col.sm-col-12.md-col.md-col-9.mb3
    %h2.my0 Hobbes
    %h2.my0.gray-80{style: 'margin-top:-8px'} Director of Napping and Chief Security Officer
    %p.my0
      Hobbes has always appreciated the natural world, and he's thrilled to be part of a company that's helping to protect it. Plus, he loves the back scratches and treats. Hobbes plays a key role at MyDomino. He greets our visitors, keeps us calm and happy, and never fails to entertain. In his spare time, Hobbes enjoys chasing squirrels, eating chicken, and of course, napping.

:javascript
  logoColors.startColors.text = '#666';
  logoColors.startColors.penguin = '#00ccff';
  navbarScroll('#666', '#666');
