%h1 Listing subscriptions

%table
  %thead
    %tr
      %th Start date
      %th Expire date
      %th Max member count
      %th Organization
      %th
      %th
      %th

  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= subscription.start_date
        %td= subscription.expire_date
        %td= subscription.max_member_count
        %td= subscription.organization
        %td= link_to 'Show', subscription
        %td= link_to 'Edit', edit_subscription_path(subscription)
        %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subscription', new_subscription_path
