%p#notice= notice

%p
  %b Start date:
  = @subscription.start_date
%p
  %b Expire date:
  = @subscription.expire_date
%p
  %b Max member count:
  = @subscription.max_member_count
%p
  %b Organization:
  = @subscription.organization

= link_to 'Edit', edit_subscription_path(@subscription)
\|
= link_to 'Back', subscriptions_path
