.bg-blue
  .container
    .flex-auto.center
      .clearfix
        .col.sm-col-4
          &nbsp;
        .col.sm-col-4
          .flex.flex-center.full-height
            .flex-auto
              %h3.text-center.uppercase.bold.white.caps Concierge
              .bg-white.rounded.p3
                =simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
                  .form-inputs
                    = f.label :email, class: 'block'
                    = f.input_field :email, required: false, autofocus: true, class: 'col-12 field mb2'
                    = f.label :password, class: 'block'
                    = f.input_field :password, required: false, class: 'col-12 field mb2'
                    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
                  .form-actions
                    = f.button :submit, "Sign In", class: "caps btn bg-blue white rounded"
                .text-center.py2
                  = render "devise/shared/links"
