#signin.devise-form.pt4
  .max-width-6.mx-auto.my4
    .bg-lightgray.rounded.p3.mt4.max-width-4.mx-auto
      .bg-blue.block.mx-auto{style: 'width: 100px; height: 100px; border-radius: 100px;'}
        = image_tag "penguin-white.svg", width: '100px', style: 'margin-top: 10px;'
      %h1.center.gray-80.my2 Log in to your account
      =simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", style: 'text-align: center', class: 'gray-80 mb1' if msg.is_a?(String)
        .form-inputs.max-width-3.mx-auto
          %label.gray-80 Email address
          = f.input_field :email, required: false, autofocus: true, class: 'mb2 mt1', style: 'height: 40px;'
          %label.gray-80 Password
          = f.input_field :password, required: false, class: 'mt1', style: 'height: 40px;'
          .flex.items-center.my2
            %button.btn-remember-me{ type: "button", data: {target: "user_remember_me"}, style: "width: 25px;height: 25px; border-radius: 3px; border: solid 1px #DDD; position:relative; background-color: white"}
              %i.fa.fa-check.white{style: "position:absolute;bottom:2px;right:2px;display: none"}
            %label.gray-80.ml1{style: 'font-weight:100;'} Keep me logged in
          .display-none
            = f.input_field :remember_me, class:'h1', as: :boolean, label: false if devise_mapping.rememberable?
          .center.mt3
            = f.button :submit, "Log in", class: "btn btn-md btn-primary"
          .mt2.center
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot my password", new_password_path(resource_name), style: 'color: black;font-weight:100;', class: 'gray-80'
    %p.center.gray-80
      Don't have an account?
      %span.blue
        = link_to "Get started", root_path, class: 'text-decoration-none blue'
:javascript
  $(document).ready(function(){
    $('.btn-remember-me').on('click', function(){
      if($(this).hasClass('active')){
        $(this).css('background-color', 'white');
        $(this).css('border-color', '#DDD');
        $('i', this).css('display', 'none');
        $(this).removeClass('active');
      }else{
        $(this).css('background-color', '#00CCFF');
        $(this).css('border-color', '#00CCFF');
        $('i', this).css('display', 'inline');
        $(this).addClass('active');
      }
      var target = '#' + $(this).data('target');
      $(target).prop('checked', function( i, val ) {
        return !val;
      });
    });
  });
