:scss
  #fat-module {
    
    .bg-blue--overlay { background-color: rgba(76,219,255, 0.95); }
    
    .fat-intro-indicator { transition: opacity 0.3s linear; }
    
    .chain-wrapper {width: 12%;}
    
    .chain {
      background: #2ECC71;
      width: 100%;
      height: 4px;
      margin-bottom: 14px;
    }
    
    svg.complete {
      background: #00F0B9;
      border-radius: 1em;
      border:none;
    }
    
    svg.incomplete {
      background: white;
      border:none;
    }

    svg.future { fill: #eaeaea; }

    .day {
      width: 2em;
      height: 2em;
      text-align: center;
      margin: 0 auto;
      color: white;
      z-index: 1000;
    }

    .day::after{color: black;}
    .day.future::after{color: #eaeaea;}

    .monday::after { content: 'Mo'; }
    .tuesday::after { content: 'Tu';}
    .wednesday::after { content: 'We';}
    .thursday::after { content: 'Th';}
    .friday::after { content: 'Fr';}
    .saturday::after { content: 'Sa';}
    .sunday::after { content: 'Su';}
  }

#fat-module.mt3.max-width-4.mx-auto.relative{data: {step: "1", position: "top"}}
  
  .fat-overlay.absolute.top-0.bottom-0.left-0.right-0.rounded.bg-blue--overlay.z8{style: "display: #{'none' unless @show_fat_intro}"}
    .fat-overlay-1.absolute.top-0.bottom-0.left-0.right-0.rounded
      .flex.flex-column.mx-auto.items-center.justify-center.white.fill-y.px1
        .h1.medium Join the food challenge
        .h3.py2.measure
          Food production creates carbon emissions, we are calling that your “Foodprint”. You can lower your Foodprint by choosing the foods with lower emissions.
        .pt3
          .btn.btn-lg.btn-white.blue.mt2 How does it work?

    .fat-overlay-2.fill-y{style: 'display: none'}
      .flex.flex-column.max-width-4.mx-auto.items-center.justify-center.white.fill-y.px1
        .h2.sm-h1.medium How does it work?

        .flex.flex-column.sm-row.justify-between.pt1.sm-pt3
          .col-12.sm-col-4
            .flex.flex-row.sm-column.items-center.justify-center
              .flex.items-center.justify-center.h5.bold.border-2.circle.icon-l.white.p1
                1
              .h4.sm-h3.sm-center.col-8.sm-col-9.m1 Log the food categories you ate each day

          .col-12.sm-col-4
            .flex.flex-row.sm-column.items-center.justify-center
              .flex.items-center.justify-center.h5.bold.border-2.circle.icon-l.white.p1
                2
              .h4.sm-h3.sm-center.col-8.sm-col-10.m1 Earn points by staying below the average Foodprint

          .col-12.sm-col-4
            .flex.flex-row.sm-column.items-center.justify-center
              .flex.items-center.justify-center.h5.bold.border-2.circle.icon-l.white.p1
                3
              .h4.sm-h3.sm-center.col-8.sm-col-9.m1 The lower your Foodprint, the more points you get

        .h4.sm-h3.p2.sm-mt2.center Can you climb to the top of your Leaderboard?
        .pt2
          .btn.btn-md.btn-white.blue.my0 I'm ready.

    .absolute.z10.center.bottom-0.left-0.right-0.pb1.my0
      .fat-intro-indicator.x1.y1.circle.inline-block.bg-white.mr1
      .fat-intro-indicator.x1.y1.circle.inline-block.bg-white.o50

  .clearfix.mx2.lg-mx1.relative
    #fat-intro.absolute.right-0.top-0.fill-blue.p2.pointer
      = inline_svg "icons/i-question.svg", class: 'fill-blue icon-m'
    .col.col-12.mb2.center
      .p3.bg-white.rounded.center
        .mb3#step1
          .flex.items-center.justify-center
            =image_tag "icons/i-apple.png", :class => "mr1"
            .h1.gray-7.bold.inline.line-height-1
              Food Challenge
          %p.col-12.sm-col-8.gray-6.mt2.mx-auto Compete with your teammates! Enter the categories of food you eat every day to see the "Carbon Foodprint" of your diet. Earn points by staying below the national average.

        .sm-mx3.mb1
          .mt2
            .col.col-12.bg-gray-2.relative{style:"height:1px; top:1rem ;"}

          .bg-white.col-7.sm-col-3.mx-auto.sm-px1.relative
            -if @prev_timeline_params
              .timeline-toggle-wrapper
                #this-week.gray-6.h3.sm-h2{style: "#{'display: none' if @show_prev_timeline}"}
                  .timeline-toggle.pointer.inline{data: {target: '#prev-timeline', hide: '#curr-timeline', show: '#last-week', text: "#{@prev_week_of}"}}
                    =inline_svg "icons/i-arrow-left", class: 'icon-s fill-gray-4 fill-blue--hover'
                  This Week
                #last-week.gray-6.h3.sm-h2{style: "#{'display: none' if !@show_prev_timeline}"} 
                  Last Week
                  .timeline-toggle.pointer.inline{data: {target: '#curr-timeline', hide: '#prev-timeline', show: '#this-week', text: "#{@week_of}"}}
                    =inline_svg "icons/i-arrow-right", class: 'icon-s fill-gray-4 fill-blue--hover'
            .h5.sm-h4.gray-4           
              %span#text-week-of
                = @show_prev_timeline ? @prev_week_of : @week_of


        #curr-timeline{style: "#{'display: none' if @show_prev_timeline}"}
          = render 'profiles/myhome_components/fat_timeline', timeline: @timeline_params

        -if @prev_timeline_params
          #prev-timeline{style: "#{'display: none' if !@show_prev_timeline}"}
            = render 'profiles/myhome_components/fat_timeline', timeline: @prev_timeline_params
        .col-12.sm-col-8.mx-auto
          = link_to 'food' do
            %button.btn.btn-md.btn-primary.btn-primary--hover.my1
              .bold Update today
          %p.mt0.h6.gray-5 Get your submissions in by 11pm on #{@deadline}

:javascript

  var $fatOverlay1,
      $fatOverlay2,
      $fatOverlay,
      $timelineToggle,
      $textWeekOf;

      $fatOverlay1 = $('.fat-overlay-1');
      $fatOverlay2 = $('.fat-overlay-2');
      $fatOverlay = $('.fat-overlay');
      $timelineToggle = $('.timeline-toggle');
      $textWeekOf = $('#text-week-of');

  $fatOverlay1.find('.btn').on('click', function(){
    $fatOverlay1.fadeOut(function(){
      $fatOverlay2.fadeIn();
    });
    $('.fat-intro-indicator:first').addClass('o50');
    $('.fat-intro-indicator:nth-child(2)').removeClass('o50');
  });

  $fatOverlay2.find('.btn').on('click', function(){
    $fatOverlay2.fadeOut(function(){
      $('.fat-overlay').fadeOut();
    });
    $.get("profile/fat-intro-complete", $.noop)
  });

  $('#fat-intro').on('click', function(){
    $('.fat-intro-indicator:first').removeClass('o50');
    $('.fat-intro-indicator:nth-child(2)').addClass('o50');
    $('.fat-overlay').fadeIn(function(){
      $fatOverlay1.fadeIn();
    });
  });

  $timelineToggle.on('click', function(){
    var $this = $(this);
    var hide = $this.data('hide');
    var target = $(this).data('target');
    var text = $(this).data('text');
    
    if(target ==='#prev-timeline')
      Cookies.set('prevtimeline', 'true');
    else
      Cookies.set('prevtimeline', 'false');

    $(this).parent().fadeOut(function(){
      $($this.data('show')).show();
    });
    $(hide).fadeOut(function(){
      $(target).fadeIn();
    });
    $textWeekOf.fadeOut(function(){
      $textWeekOf.html(text);
      $textWeekOf.fadeIn();
    });
  });
