:css
  .introjs-button.introjs-nextbutton{
    border-radius: 10px;
    background-color: #00ccff;
    color: white;
    text-decoration: none;
  }
.welcome-tour-bg

.remodal#first
  /%button.remodal-close{"data-remodal-action" => "close"}
  = image_tag "i-earth"
  %h1 Welcome new member!
  %p.left-align We all want to make a positive impact on the environment. But where do you start? MyDomino makes it easy, starting with small steps. Join us on the path to a sustainable future!
  %p.left-align Eating, getting around, powering your home … the small choices you make each day can have an epic impact on the environment. They can even save you money -- we'll show you how.

  %br/
  .btn.btn-md.btn-primary.btn-primary--hover.remodal-confirm{data: {next: "secondModal"}} Let's go!

.remodal#second
  /%button.remodal-close{"data-remodal-action" => "close"}
  .flex.items-center.justify-around.flex-wrap
    = image_tag "illo-man-balloon"
    .left-align.max-width-1.px1
      %h1 Our carbon impact
      %p We all contribute to carbon emissions in our everyday lives, from going to work to turning on your lights.
      %p 
        The average American produces enough daily carbon emissions to fill a 
        %span.bold 12-foot-wide balloon. 
        But it’s easy to fix this!

  %p 75% of our individual emissions comes from 3 areas.
  %p A full 3/4 of this 12-foot balloon comes from just 3 areas:
  .flex.justify-around.max-width-1.mx-auto
    .flex.flex-column.items-center
      = image_tag "icons/i-apple-nofill"
      Food
    .flex.flex-column.items-center
      = image_tag "icons/i-scooter"
      Transportation
    .flex.flex-column.items-center
      = image_tag "icons/i-lightbulb"
      Energy

  %p We'll work on these one at a time in the coming months.

  .right.mt2
    %a#wt-back.text-decoration-none.gray-80.pointer.mr2
      %span.fa.fa-arrow-circle-o-left{"aria-hidden": "true"}
      Back
    .btn.btn-sm.btn-primary.btn-primary--hover.remodal-confirm 
      Next
      .fa.fa-arrow-circle-o-right{"aria-hidden": "true"}
