.welcome-tour-bg
.rounded.p4.remodal-wt#first{data:{"remodal-id":"modal-0"}}
  %a.skip-for-now.absolute.top-0.right-0.p2.pointer{class: "#{'hidden' if @tour}", data: {step: 0}}
    %img.icon-m{src: "/fat_icons/i-close.svg"}
  = image_tag "i-earth", class:"col-4 sm-col-3"
  %h2.sm-h1.medium.mb0 Welcome, #{@profile.first_name}!
  .h5.sm-h4.measure.mx-auto.mt1.mb6
    %p.my0.left-align We all want to make a positive impact on the environment. But where do you start? MyDomino makes it easy to lower your carbon footprint, starting with small steps.
  .wt-next.btn.btn-md.btn-primary.btn-primary--hover.mb2{data: {step: 0}} What's my carbon footprint?

.rounded.p4.remodal-wt#second{style: 'display: none;', data:{"remodal-id":"modal-1"}}
  = image_tag "illo-balloon", class:"col-5 sm-col-4"
  %a.skip-for-now.absolute.top-0.right-0.p2.pointer{class: "#{'hidden' if @tour}", data: {step: 1}}
    %img.icon-m{src: "/fat_icons/i-close.svg"}
  %h2.sm-h1.medium.mt1.mb0 Carbon Footprint
  .h5.sm-h4.measure.mx-auto.left-align.mt1
    %span Did you know that the average American produces enough carbon emissions each day to fill a
    %span.bold 12-foot-wide balloon?
    %span Every small choice you make enlarges or shrinks this balloon (your carbon footprint)!
    %p.mt2.mb2
      %span Managing these choices can be overwhelming. So we broke it down into simple steps you can take in your
      %span.bold food, transportation, and energy.
    .h5.sm-h4.measure.mx-auto.mt2
      .flex.justify-center.bg-orange--light.px1.py2.rounded
        .flex.flex-column.items-center.mx3
          = image_tag "icons/i-apple--outline", class:"icon-xl"
          Food
        .flex.flex-column.items-center
          = image_tag "icons/i-scooter", class:"icon-xl"
          Transportation
        .flex.flex-column.items-center.mx3
          = image_tag "icons/i-lightbulb", class:"icon-xl"
          Energy
      %p.gray-5.center.mt1 These 3 areas account for 75% of your carbon emissions.

  .mt3.flex.justify-end
    .flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr3{data: {step: 1}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: 'icon-s fill-gray-4 block'
          .h5.gray-4 Back

      .wt-next.btn.btn-sm.btn-primary.btn-primary--hover{data: {step: 1}}
        .flex.items-center
          Next
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"


.remodal-wt.p4#third{style: "display: none;", data:{"remodal-id":"modal-2"}}
  %a.skip-for-now.absolute.top-0.right-0.p2.pointer{class: "#{'hidden' if @tour}", data: {step: 2}}
    %img.icon-m{src: "/fat_icons/i-close.svg"}
  = image_tag "i-impact-categories.png", class: "col-4"

  %h2.sm-h1.medium.mt1.mb0 Let's start with food

  .h5.sm-h4.measure.mx-auto.left-align.mt1.mb3
    %p.left-align.mt1.mb2
      %span.left-align
        Food contributes up to
      %span.bold 30% of our carbon emissions.
      %span It takes energy to grow, process, transport, and store our food.
    %p.left-align.my1
      The good news is that with some simple food changes, you can easily make a dent in your carbon footprint right away!

    .flex.items-center.bg-orange--light.px3.py2.rounded.mt2.mb4
      = image_tag "icons/i-apple", class:"icon-xl"
      %p.left-align.pl2
        Join the food challenge and see how much you can lower your "Carbon Foodprint."

  .mt3.flex.justify-end
    .flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr3{data: {step: 2}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: "icon-s fill-gray-4 block"
          .h5.gray-4 Back

      .btn.btn-sm.btn-primary.btn-primary--hover{class: "#{@mobile ? 'wt-next' : 'wt-finish'}", data: {"remodal-selector": "#third", "step": 2}}
        .flex.items-center
          Take a tour
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"

-if @mobile
  .remodal-wt#fourth{style: "display: none;", data:{"remodal-id":"modal-3"}}
    %h2.sm-h1.medium.mb0 Mobile modal
    .h5.measure.mx-auto
      %p.left-align
        Pellentesque et lorem nec tortor posuere efficitur nec nec velit. Vestibulum ac venenatis lorem. Nunc ac dui placerat, molestie tellus at, consectetur enim. Pellentesque ac enim id libero bibendum molestie. Nam ac nisl sit amet nulla varius cursus. Sed ligula sapien, eleifend lobortis quam sit amet, viverra molestie mi.

    .right.mt2.flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr3{data: {step: 3}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: "icon-s fill-gray-4 block"
          .h5.gray-4 Back

      .wt-finish.btn.btn-sm.btn-primary.btn-primary--hover{data: {step: 3}}
        .flex.items-center
          Next
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"
