.welcome-tour-bg
.rounded.p4.remodal#first{data: {"remodal-options": "closeOnEscape: false, closeOnOutsideClick: false"}}
  = image_tag "i-earth", class:"col-4 sm-col-3"
  %h2.sm-h1.medium.mb0 Welcome, #{@profile.first_name}!
  .h5.sm-h4.measure.mx-auto.mt1.mb6
    %p.my0.left-align We all want to make a positive impact on the environment. But where do you start? MyDomino makes it easy, starting with small steps. Let’s begin with a short explanation of carbon impact.
  .wt-next.btn.btn-md.btn-primary.btn-primary--hover{data: {step: 0}} What's carbon impact?
  %h5.center.mt1.mb0.gray-5.underline.skip-for-now.pointer{data: {step: 0}} Skip for now

.rounded.p4.remodal#second{style: 'display: none;', data: {"remodal-options": "closeOnEscape: false, closeOnOutsideClick: false"}}
  = image_tag "illo-balloon", class:"col-5 sm-col-4"
  %h2.sm-h1.medium.mt1.mb0 Carbon Impact
  .h5.sm-h4.measure.mx-auto.left-align.mt1
    %span Did you know, the average American produces enough carbon emission to fill a
    %span.bold 12-foot wide balloon per day ?
    %span Every small choice you make enlarges this balloon (your carbon impact)!
    %p.mt1.mb2
      %span Managing these small choices can be overwhelming. So, we grouped the primary causes into
      %span.italic Food, Transportation, & Energy.
    .h5.sm-h4.measure.mx-auto.mt2
      .flex.justify-center.bg-orange--light.px1.py2.rounded
        .flex.flex-column.items-center.mx3
          = image_tag "icons/i-apple--outline", class:"icon-xl"
          Food
        .flex.flex-column.items-center
          = image_tag "icons/i-scooter", class:"icon-xl"
          Transportation
        .flex.flex-column.items-center.mx3
          = image_tag "icons/i-lightbulb", class:"icon-xl"
          Energy
      %p.gray-5.center.mt1 75% of your carbon emissions comes from these 3 areas

  .mt3.flex.justify-between
    %h5.center.mt1.mb0.gray-5.underline.skip-for-now.pointer{data: {step: 1}} Skip for now
    .flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr2{data: {step: 1}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: 'icon-s fill-gray-4 block'
          .h5.gray-4 Back

      .wt-next.btn.btn-sm.btn-primary.btn-primary--hover{data: {step: 1}}
        .flex.items-center
          Next
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"


.remodal.p4#third{style: "display: none;", data: {"remodal-options": "closeOnEscape: false, closeOnOutsideClick: false"}}
  = image_tag "i-impact-categories.png", class: "col-4"

  %h2.sm-h1.medium.mt1.mb0 Let's start with food first

  .h5.sm-h4.measure.mx-auto.left-align.mt1.mb3
    %span.left-align
      Food contributes up to
    %span.bold 30% of our carbon emissions.
    %span It takes energy to grow, process, transport, and store our food.

    %p.left-align.my1
      The good news is, food changes are easy to do, and you can make a dent in your carbon footprint right away!

    .flex.items-center.bg-orange--light.px3.py2.rounded.mt2.mb4
      = image_tag "icons/i-apple--outline", class:"icon-xl"
      %p.left-align.pl2
        Join the food challenge and see how much you can lower your "Carbon Foodprint".

  .mt3.flex.justify-between
    %h5.center.mt1.mb0.gray-5.underline.skip-for-now.pointer{data: {step: 2}} Skip for now
    .flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr2{data: {step: 2}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: "icon-s fill-gray-4 block"
          .h5.gray-4 Back

      .btn.btn-sm.btn-primary.btn-primary--hover{class: "#{@mobile ? 'wt-next' : 'wt-finish'}", data: {"remodal-selector": "#third", "step": 2}}
        .flex.items-center
          Take a tour
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"

-if @mobile
  .remodal#fourth{style: "display: none;", data: {"remodal-options": "closeOnEscape: false, closeOnOutsideClick: false"}}
    %h2.sm-h1.medium.mb0 Mobile modal
    .h5.measure.mx-auto
      %p.left-align
        Pellentesque et lorem nec tortor posuere efficitur nec nec velit. Vestibulum ac venenatis lorem. Nunc ac dui placerat, molestie tellus at, consectetur enim. Pellentesque ac enim id libero bibendum molestie. Nam ac nisl sit amet nulla varius cursus. Sed ligula sapien, eleifend lobortis quam sit amet, viverra molestie mi.

    .right.mt2.flex.items-center
      %a.wt-back.text-decoration-none.gray-6.pointer.mr2{data: {step: 3}}
        .flex.items-center
          %span.inline-block.mr1
            =inline_svg "icons/i-arrow-left.svg", class: "icon-s fill-gray-4 block"
          .h5.gray-4 Back

      .wt-finish.btn.btn-sm.btn-primary.btn-primary--hover{data: {step: 3}}
        .flex.items-center
          Next
          %span.inline-block.ml1
            = inline_svg "icons/i-arrow-right.svg", class: "icon-s fill-white block"
