#dashboards
  .clearfix.bg-white.mt3.mb1.p2.max-width-4.mx-auto
    .col.col-12
      %h1.inline-block.m0 Dashboards
      .p2.mr3.right{style: 'width:400px;'} 
        =form_tag dashboards_path, method: 'GET' do
          .inline-block
            =text_field_tag 'search', @search_term, style: 'height: 1.6em;'
          =hidden_field_tag 'filter', @filter
          =hidden_field_tag 'view', 'table'
          =submit_tag 'Search', class: 'btn btn-sm btn-primary'

    .col.col-12
      .clearfix
        %table.table-light#tbl-dashboards
          %tr.left-align
            %th 
              =sortable "created_at", "Created", filter: @filter
            %th 
              =sortable "lead_name", "Name", filter: @filter
            %th 
              =sortable "lead_email", "Email", filter: @filter
            %th Registered?
            %th Recommendations Done
            %th Delete
          -@dashboards.each do |dashboard|
            %tr.dashboard-record.pointer
              %td #{dashboard.created_at.strftime("%Y-%m-%d")}
              %td
                =link_to dashboard.lead_name, dashboard_path(dashboard), target: 'blank', class: 'text-decoration-none blue dashboard-link'
              %td #{dashboard.lead_email}
              %td 
                - if dashboard.user_id
                  Yes
                - else
                  No
                  %i.fa.fa-link.pointer{data: {'clipboard-text': "http://mydomino.com/users/sign_up?email=#{dashboard.lead_email}"}, title: 'Copy sign up link'}
              %td.center #{dashboard.recommendations.products.done.count + dashboard.recommendations.tasks.done.count}/#{dashboard.recommendations.count}
              %td.center
                =link_to dashboard_path(dashboard), method: :delete, data: {confirm: 'Are you sure?'} do
                  .fa.fa-times.red.display-none
  .clearfix.max-width-4.mx-auto.center
    .col.col-12
      = paginate @dashboards
  
:javascript
  var clipboard = new Clipboard('.fa-link');

  clipboard.on('success', function(e) {
    alert('Sign up link copied to clipboard.')
  });

  $('.dashboard-record').hover(function () {
      $(this).find('.fa-times').removeClass('display-none');
      $(this).addClass('bg-gray-05');
    }, function () {
      $(this).find('.fa-times').addClass('display-none');
      $(this).removeClass('bg-gray-05');
    }
  );