.container
  .clearfix.bg-white.mt3.p2
    .col.col-12
      %h1.inline-block.m0 Dashboards
      .inline-block.clearfix.right.mt1
        =link_to 'All', {filter: 'all'}, class: "left btn caps rounded-left #{(@filter == 'all') ? 'bg-blue white' : 'bg-gray'}"
        =link_to 'Mine', {filter: "mine"}, class: "left btn caps  rounded-right #{(@filter == 'mine') ? 'bg-blue white' : 'bg-gray' }"
      .inline-block.border.p2.mr3.right
        =form_tag dashboards_path, method: 'GET' do
          =text_field_tag 'search', @search_term
          =hidden_field_tag 'filter', @filter
          =hidden_field_tag 'view', 'table'
          =submit_tag 'Search', class: 'btn bg-blue white rounded pull-right'
      
  .clearfix.bg-white.py3
    .col.col-12
      -@dashboards.each_slice(3) do |dashboards|
        .clearfix.mt2
          -dashboards.each do |dashboard|
            .col.col-4.px2
              .dashboard-list.border.center.rounded.p2.relative
                .avatar
                  =link_to dashboard_path(dashboard), target: 'blank' do
                    =gravatar_image_tag(dashboard.lead_email, gravatar: { size: 150, default: "http://mydomino.com/assets/icon_user.png" })
                .caps.px3
                  =dashboard.lead_name
                %br
                .clearfix
                  .col.col-12.px3
                    .progress.rounded
                      .progress-bar.bg-navy{style: "width: #{product_progress dashboard}%;"}
                    .col.col-12
                      %small.caps.bold.left
                        Products
                      %small.right.bold
                        ="#{dashboard.recommendations.products.done.count}/#{dashboard.recommendations.products.count}"
                .clearfix
                  .col.col-12.px3
                    .progress.rounded
                      .progress-bar.bg-blue{style: "width: #{task_progress dashboard}%"}
                    .col.col-12
                      %small.caps.bold.left
                        Actions
                      %small.right.bold
                        ="#{dashboard.recommendations.tasks.done.count}/#{dashboard.recommendations.tasks.count}"
                %br
                =link_to dashboard_path(dashboard), method: 'DELETE', data: {confirm: 'Are you sure?'}, class: 'absolute left-0 top-0 bg-gray p1 white lh1' do
                  .fa.fa-times
  .clearfix.bg-white
    .col-xs-12.center
      = will_paginate @dashboards
