.container
  .clearfix.bg-white.mt3.mb3.p2
    .col.col-12
      %h1.inline-block.m0 Dashboards
      .inline-block.clearfix.right.mt1
        =link_to 'All', {filter: 'all'}, class: "left btn caps rounded-left #{(@filter == 'all') ? 'bg-blue white' : 'bg-gray'}"
        =link_to 'Mine', {filter: "mine"}, class: "left btn caps  rounded-right #{(@filter == 'mine') ? 'bg-blue white' : 'bg-gray' }"
      .inline-block.border.p2.mr3.right
        =form_tag dashboards_path, method: 'GET' do
          =text_field_tag 'search', @search_term
          =hidden_field_tag 'filter', @filter
          =hidden_field_tag 'view', 'table'
          =submit_tag 'Search', class: 'btn blue pull-right'
    .col.col-12
      .clearfix
        %table.table-light#tbl-dashboards
          %tr
            %th 
              =sortable "created_at", "Created", filter: @filter
            %th 
              =sortable "lead_name", filter: @filter
            %th 
              =sortable "lead_email", filter: @filter
            %th Products Done
            %th Actions Done
            %th Delete
          -@dashboards.each do |dashboard|
            %tr.dashboard-record
              %td #{dashboard.created_at.strftime("%Y-%m-%d")}
              %td
                =link_to dashboard.lead_name, dashboard_path(dashboard), target: 'blank'
              %td #{dashboard.lead_email}
              %td #{dashboard.recommendations.products.done.count}/#{dashboard.recommendations.products.count} products
              %td #{dashboard.recommendations.tasks.done.count}/#{dashboard.recommendations.tasks.count} actions
              %td
                =link_to "Delete", dashboard_path(dashboard), method: 'DELETE', data: {confirm: 'Are you sure?'} 
  .clearfix
    .col.col-12
      = paginate @dashboards
