-if current_user.role == 'concierge'
  =render 'concierge_narrow_navbar'
  :css
    body
    { padding-top: 60px; }

  .modal#new-recommendation.max-width-8.mx-auto.fixed.top-0.bottom-0.left-0.right-0
    .modal-dialog
      .modal-content.bg-white
        .modal-header.relative
          .absolute.top-0.right-0.close{"data-dismiss" => "modal"}
            .fa.fa-times.fa-2x.blue.pointer
        .modal-body
          =render 'recommendations/bulk_add_form'
                
#dashboard.max-width-8.mx-auto
  .bg-white.rounded.mb2
    .clearfix.center
      .sm-col.sm-col-12
        %h1.gray-80
          = @dashboard.lead_name ? "Hi, #{@dashboard.lead_name.titleize}" : "Hello!"
    .clearfix.center.gray-80
      .sm-col.sm-col-12
        %p
          Our team of nerds loves to test and research green technologies.
          %br
          These hand-picked product recommendations will help you save energy and money.
  .bg-white.px2.mb4
    .clearfix.relative
      .col.col-12.md-col-8
        %h1.ml2.gray-80 Your Recommendations
      .col.col-12.md-col-4.center
        .mt3
          .inline-block
            %small
              =link_to 'ALL', {filter: nil}, class: "btn-shame left rounded-left caps #{@filter.nil? ? 'bg-blue white border border-blue' : 'border gray-30'}"
            %small
              =link_to 'PRODUCTS', {filter: "products"}, class: "caps left btn-shame border-left not-rounded #{(@filter == 'products') ? 'bg-blue border border-blue white' : 'border gray-30' }"
            %small
              =link_to 'ACTIONS', {filter: "actions"}, class: "caps left btn-shame border-left rounded-right #{(@filter == 'actions') ? 'bg-blue border border-blue white' : 'border gray-30' }"
    -@incomplete_recommendations.each_slice(3) do |recommendations|
      .clearfix
        -recommendations.each do |recommendation|
          =render 'recommendations/incomplete', recommendation: recommendation
    %hr.py3
    .clearfix
      .col-12.p2
        %h1.mt0
          ="#{@completed_recommendations.count}/#{@completed_recommendations.count + @incomplete_recommendations.count} Completed"
    -@completed_recommendations.each_slice(3) do |recommendations|
      .clearfix
        -recommendations.each do |recommendation|
          =render 'recommendations/complete', recommendation: recommendation
