-content_for :logo_class do
  blue
-if concierge_signed_in?
  =render 'concierge_narrow_navbar'
  :css
    body
    {
      padding-top: 60px;
    }

  .modal.fade#new-recommendation
    .container
      .modal-dialog
        .modal-content
          .modal-header.relative
            .absolute.top-0.right-0.close.lh0{"data-dismiss" => "modal"}
              %span{ style: 'font-size: 2rem;' }
                .fa.fa-times.blue
          .modal-body
            .row
              .col-xs-12
                =render 'recommendations/bulk_add_form'
.bg-light-gray 
  .container
    .bg-white.rounded.mb2
      .clearfix.center
        .sm-col.sm-col-12
          %h1.charcoal
            Hi, 
            =@dashboard.lead_name.titleize
      .clearfix.center.charcoal
        .sm-col.sm-col-12
          %p
            Our team of nerds loves to test and research green technologies.
            %br
            These hand-picked product recommendations will help you save energy and money.
    .bg-white.px2.mb4
      .clearfix.relative
        .md-show.py1.md-col.md-col-4
        .col.col-12.md-col-4
          %h1.charcoal.center Your Recommendations    
        .col.col-12.md-col-4.center
          .mt3
            .inline-block
              %small
                =link_to 'All', {filter: nil}, class: "btn left rounded-left caps light #{@filter.nil? ? 'bg-blue white' : 'border'}"
              %small
                =link_to 'Products', {filter: "products"}, class: "light caps left btn border-left not-rounded #{(@filter == 'products') ? 'bg-blue white' : 'border' }"
              %small
                =link_to 'Actions', {filter: "actions"}, class: "caps light left btn border-left rounded-right #{(@filter == 'actions') ? 'bg-blue white' : 'border' }"
      /.progress
      /  .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
      /    20% Complete
      -@incomplete_recommendations.each_slice(3) do |recommendations|
        .clearfix
          -recommendations.each do |recommendation|
            =render 'recommendations/incomplete', recommendation: recommendation
      %hr.py3
      .clearfix
        .col-12.p2
          %h1.mt0
            ="#{@completed_recommendations.count}/#{@completed_recommendations.count + @incomplete_recommendations.count} Completed"
      -@completed_recommendations.each_slice(3) do |recommendations|
        .clearfix
          -recommendations.each do |recommendation|
            =render 'recommendations/complete', recommendation: recommendation
