-content_for :meta do
  %meta{name: "turbolinks-cache-control", content:"no-cache"}
  
-if current_user.role == 'concierge'
  =render 'concierge_narrow_navbar'
  :css
    body
    { padding-top: 60px; }

  .modal#new-recommendation.max-width-4.mx-auto.fixed.top-0.bottom-0.left-0.right-0
    .modal-dialog
      .modal-content.bg-white
        .modal-header.relative
          .absolute.top-0.right-0.close{"data-dismiss" => "modal"}
            .fa.fa-times.fa-2x.blue.pointer
        .modal-body
          =render 'recommendations/bulk_add_form'
                
#dashboard.max-width-4.mx-auto
  .bg-white.rounded.mb2
    .clearfix.center
      .sm-col.sm-col-12
        %h1.gray-6
          = @welcome_message
    .clearfix.center.gray-6
      .sm-col.sm-col-12
        %p
          Our team of nerds loves to test and research green technologies.
          %br
          These hand-picked product recommendations will help you save energy and money.
  .bg-white.px2.mb4
    .clearfix.relative
      .col.col-12.md-col-6
        %h1.px2.gray-6 Your Recommendations
      .col.col-12.md-col-6
        .mt3.right.pr2
          .btn-group
            =link_to 'ALL', {filter: nil}, class: "btn btn-sm border #{@filter.nil? ? 'btn-primary' : 'btn-secondary'}"
            =link_to 'PRODUCTS', {filter: "products"}, class: "btn btn-sm border not-rounded #{(@filter.== 'products') ? 'btn-primary' : 'btn-secondary'}"
            =link_to 'ACTIONS', {filter: "actions"}, class: "btn btn-sm border rounded-right #{(@filter == 'actions') ? 'btn-primary' : 'btn-secondary' }"
         
    -@incomplete_recommendations.each_slice(3) do |recommendations|
      .clearfix
        -recommendations.each do |recommendation|
          =render 'recommendations/incomplete', recommendation: recommendation
    %hr.mt3
    .clearfix
      .col-12.p2
        %h1.mt0
          ="#{@completed_recommendations.count}/#{@completed_recommendations.count + @incomplete_recommendations.count} Completed"
    -@completed_recommendations.each_slice(3) do |recommendations|
      .clearfix
        -recommendations.each do |recommendation|
          =render 'recommendations/complete', recommendation: recommendation

:javascript
  $(document).ready(function()
  {
    $('[data-toggle="modal"]').click(function(e){
      var target = $(e.currentTarget).data('target');
      reveal_modal(target);
    });
    $('.modal').click(function(e)
    {
      if($(e.originalEvent.target).parents('.modal-content').length < 1)
      {
        hide_modal(); 
      }
    });
    $('[data-dismiss=modal]').click(function(){
      hide_modal();
    })
  });

  function reveal_modal(target)
  {
    $(target).show().addClass("animated fadeIn");
    $('body').append('<div class="modal-bg fixed top-0 bottom-0 left-0 right-0"></div>');
    $('body').addClass('overflow-hidden');
  }

  function hide_modal()
  {
    $('.modal-bg').remove();
    $('.modal').hide();
    $('body').removeClass('overflow-hidden');
  }