<div class="desc"><h1><%= image_tag(@feature_img) %></h1></div>
<div class="desc"><h1><%= @title.try(:html_safe) %></h1></div>
<div class="exrp"><h2><%= @excerpt.try(:html_safe) %></h2></div>
<% if @author != nil %>
  <div class="exrp"><h3>By <%= @author %>,&nbsp;&nbsp;&nbsp; <%= format_post_date(@post_date) if @post_date != nil %></h3></div>  
<% end %>