- content_for :posts_menu do
  = render '/layouts/partials/posts_menu'
  
.max-width-4.mx-auto
  .center.mb3
    :plain
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- MyDomino banner - Responsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1594886807481278"
           data-ad-slot="2972595948"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  .clearfix
    .col.col-12.md-col.md-col-8.px2
      .clearfix
        - if params[:cat]
          %h1.mt0.black.light.border-bottom.border-gray-4.mb3
            = PostsHelper::CATEGORY_SLUG_TO_TITLE[params[:cat]]

        - if @posts != nil
          - @posts.each_with_index do |post, index|
            .post.inline-block.mb2
              - if index == 0 && !@browser.device.mobile?
                .col.col-12
                  = link_to post_slug_path(article: post['slug']) do
                    = image_tag extract_post_thumbnail_src(post, 'first-post'), class: "fit"
                  %h2.my1
                    = link_to (raw post['title']['rendered']), post_slug_path(article: post['slug']), class: 'text-decoration-none gray-6 text-blue--hover'
                    - if article_for_member_only?(post['categories'])
                      = image_tag("i-key.svg", alt: 'Members-only content', class: 'align-middle')
                  %p.light.mt0.mb1
                    = strip_tags post['excerpt']['rendered'].html_safe
                  %p.h5.mt0.light.black #{format_post_date(post['date'])}
              - else
                .col.col-12.md-col.md-col-6.center
                  = link_to post_slug_path(article: post['slug']) do
                    = image_tag extract_post_thumbnail_src(post, 'maverick-medium-alt'), class: "fit"
                .col.col-12.md-col.md-col-6.p0.sm-pl2
                  %h2.mt0.mb1
                    = link_to (raw post['title']['rendered']), post_slug_path(article: post['slug']), class: 'text-decoration-none gray-6 text-blue--hover'
                    - if article_for_member_only?(post['categories'])
                      = image_tag("i-key.svg", alt: 'Members-only content', class: 'align-middle')
                  %p.light.mt0.mb1
                    = strip_tags post['excerpt']['rendered'].html_safe
                  %p.h5.mt0.light.black #{format_post_date(post['date'])}

    .col.col-12.md-col.md-col-4.p2.sm-py0
      = render "subscribe_box"
      .xs-hide.sm-hide
        :plain
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- MyDomino banner - Responsive -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-1594886807481278"
               data-ad-slot="2972595948"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

.center.mt1.mb2
  - if !@paginatable_array.nil?
    = paginate @paginatable_array
  :plain
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MyDomino banner - Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1594886807481278"
         data-ad-slot="2972595948"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
