<!-- %= paginate @posts % -->
<div class="srch">
  <%= form_tag({controller: "posts", action: "index"}, method: "get", class: "") do %>
    <%= label_tag(:page, "Go To Page:") %>
    <%= select_tag :page, "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option>".html_safe %>
    <%= label_tag(:per_page, "Posts Per Page:") %>
    <%= select_tag :per_page, "<option>8</option><option>16</option><option>50</option><option>100</option>".html_safe %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% if @posts.size <= 0 %>
  <div  class="srch"><h3> Sorry. No post is found based on your selection.</h3></div>
<% end %>



<% @posts.each do |i| %>

  <div class="img">
    
    <%= link_to image_tag(i['md_thumbnail']), post_path(i['id']), method: :get %>
    <div class="desc"><%= raw i['title']['rendered'] %></div>
    <div class="exrp"><%= i['excerpt']['rendered'].html_safe %></div>
    <div class="exrp">By <%= i['author_meta']['display_name'] %>,&nbsp;&nbsp;&nbsp; <%= format_post_date(i['date']) %></div>
    
  </div>


<% end %>

<br class="clear">