- content_for :posts_menu do
  = render '/layouts/partials/posts_menu'

.max-width-4.mx-auto
  .clearfix
    .col.col-12.md-col.md-col-8.px2
      .clearfix
        - if @posts != nil
          - @posts.each_with_index do |post, index|
            .post.inline-block.mb2
              - if index == 0
                .col.col-12
                  = link_to image_tag(post['better_featured_image']['media_details']['sizes']['first-post']['source_url'], class: "fit"), post_slug_path(article: post['slug'])
                  - if article_for_member_only?(post['categories'])
                    .blue.light Premium Content
                  %h2.mt0
                    = link_to (raw post['title']['rendered']), post_path(post['id'], cat: post['categories']), class: 'text-decoration-none black light'
                  %h4.light
                    = post['excerpt']['rendered'].html_safe
                  %h5.light.black #{format_post_date(post['date'])}
              - else
                .col.col-12.md-col.md-col-6.center
                  = link_to image_tag(post['better_featured_image']['media_details']['sizes']['maverick-medium-alt']['source_url'], class: "fit"), post_slug_path(article: post['slug'])
                .col.col-12.md-col.md-col-6.px2
                  - if article_for_member_only?(post['categories'])
                    .blue.light Premium Content
                  %h2.mt0
                    = link_to (raw post['title']['rendered']), post_path(post['id'], cat: post['categories']), class: 'text-decoration-none black light'
                  %h4.light
                    = post['excerpt']['rendered'].html_safe
                  %h5.light.black #{format_post_date(post['date'])}

    .col.col-12.md-col.md-col-4.p2.sm-py0
      = render "subscribe_box"
.center.mt2
  - if !@paginatable_array.nil?
    = paginate @paginatable_array
