<!-- %= paginate @posts % -->
<div class="srch">
  <%= form_tag({controller: "posts", action: "index"}, method: "get", class: "") do %>
    <%= label_tag(:page, "Go To Page:") %>
    <%= select_tag :page, options_for_select([['1', 1], ['2', 2],  ['3', 3],  ['4', 4],  ['5', 5],  ['6', 6],  ['7', 7],  ['8', 8],  ['9', 9],  ['10', 10]], :selected => params[:page]) %>
    <%= label_tag(:per_page, "Posts Per Page:") %>
    <%= select_tag :per_page, options_for_select([['10', 10], ['20', 20],  ['35', 35],  ['50', 50], ['100', 100]], :selected => params[:per_page]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% if @posts.size <= 0 %>
  <div  class="srch"><h3> Sorry. No post is found based on your selection. Total posts found <%= @total_posts %>.</h3></div>
<% end %>



<% @posts.each do |i| %>

  <div class="img">
    
    <%= link_to image_tag(i['md_thumbnail']), post_path(i['id']), method: :get %>
    <div class="desc"><%= raw i['title']['rendered'] %></div>
    <div class="exrp"><%= i['excerpt']['rendered'].html_safe %></div>
    <div class="exrp">By <%= i['author_meta']['display_name'] %>,&nbsp;&nbsp;&nbsp; <%= format_post_date(i['date']) %></div>
    
  </div>


<% end %>

<br class="clear">



