- content_for :posts_menu do
  = render '/layouts/partials/posts_menu'
  
.max-width-4.mx-auto
  .clearfix
    .col.col-12.md-col.md-col-8.px2
      .clearfix
        - if @posts != nil
          - @posts.each_with_index do |post, index|
            .post.inline-block.mb2
              - if index == 0 && !@browser.device.mobile?
                .col.col-12
                  = link_to image_tag(post['better_featured_image']['media_details']['sizes']['first-post']['source_url'], class: "fit"), post_slug_path(article: post['slug'])
                  - if article_for_member_only?(post['categories'])
                    = image_tag("i-key.svg", alt: 'Premium Content')
                  %h2.my1
                    = link_to (raw post['title']['rendered']), post_slug_path(article: post['slug']), class: 'text-decoration-none gray-80 text-blue--hover'
                  %p.light.mt0.mb1
                    = strip_tags post['excerpt']['rendered'].html_safe
                  %p.h5.mt0.light.black #{format_post_date(post['date'])}
              - else
                .col.col-12.md-col.md-col-6.center
                  = link_to image_tag(post['better_featured_image']['media_details']['sizes']['maverick-medium-alt']['source_url'], class: "fit"), post_slug_path(article: post['slug'])
                .col.col-12.md-col.md-col-6.p0.sm-pl2
                  - if article_for_member_only?(post['categories'])
                    = image_tag("i-key.svg", alt: 'Premium Content')
                  %h2.mt0.mb1
                    = link_to (raw post['title']['rendered']), post_slug_path(article: post['slug']), class: 'text-decoration-none gray-80 text-blue--hover'
                  %p.light.mt0.mb1
                    = strip_tags post['excerpt']['rendered'].html_safe
                  %p.h5.mt0.light.black #{format_post_date(post['date'])}

    .col.col-12.md-col.md-col-4.p2.sm-py0
      = render "subscribe_box"
.center.mt2
  - if !@paginatable_array.nil?
    = paginate @paginatable_array
