%div
  %ul
    %li
      = link_to "HOME", posts_path()
    %li
      = link_to "CLEAN POWER", posts_path(cat: "clean-power")
    %li
      = link_to "TRANSPORTATION", posts_path(cat: "Transportation")
    %li
      = link_to "HEATING & COOLING", posts_path(cat: "heating-and-cooling")
    %li
      = link_to "ENERGY FREEDOM", posts_path(cat: "energy-freedom")
.max-width-4.mx-auto
  .clearfix
    .col.col-12.md-col.md-col-8
      - if @posts != nil
        - @posts.each_with_index do |post, index|
          #post.clearfix.my4
            .col.col-12.md-col.md-col-6.px2
              - thumbnail = extract_post_thumbnail_src(post)
              = link_to image_tag(thumbnail), post_path(post['id'], cat: post['categories'])
            .col.col-12.md-col.md-col-6.px2
              - if article_for_member_only?(post['categories'])
                .blue.light Premium content
              %h2.mt0
                = link_to (raw post['title']['rendered']), post_path(post['id'], cat: post['categories']), class: 'text-decoration-none black light'
              %h4.light
                = post['excerpt']['rendered'].html_safe
              %h5.light.black #{format_post_date(post['date'])}
    .col.col-12.md-col.md-col-4.mt4.p2
      = render "subscribe_box"
.center
  - if !@paginatable_array.nil?
    = paginate @paginatable_array
