.max-width-4.mx-auto
  .clearfix
    .col.col-12
      %ul.pl2
        %li.inline.h3.light
          = link_to "All", posts_path(), class: 'text-decoration-none gray-80 '
        %li.inline.h3.light.pl2
          = link_to "Clean power", posts_path(cat: "clean-power"), class: 'text-decoration-none gray-80'
        %li.inline.h3.light.pl2
          = link_to "Transportation", posts_path(cat: "Transportation"), class: 'text-decoration-none gray-80'
        %li.inline.h3.light.pl2
          = link_to "Heating & cooling", posts_path(cat: "heating-and-cooling"), class: 'text-decoration-none gray-80'
        %li.inline.h3.light.pl2
          = link_to "Energy freedom", posts_path(cat: "energy-freedom"), class: 'text-decoration-none gray-80'
    .col.col-12.md-col.md-col-8
      - if @posts != nil
        - @posts.each_with_index do |post, index|
          #post.clearfix.my4
            .col.col-12.md-col.md-col-6.px2
              / -# thumbnail = extract_post_thumbnail_src(post)
              = link_to image_tag(post['md_thumbnail'], class: "fit"), post_slug_path(article: post['slug'])
            .col.col-12.md-col.md-col-6.px2
              - if article_for_member_only?(post['categories'])
                .blue.light Premium Content
              %h2.mt0
                = link_to (raw post['title']['rendered']), post_slug_path(article: post['slug']), class: 'text-decoration-none black light'
              %h4.light
                = post['excerpt']['rendered'].html_safe
              %h5.light.black #{format_post_date(post['date'])}
    .col.col-12.md-col.md-col-4.mt4.p2
      = render "subscribe_box"
.center
  - if !@paginatable_array.nil?
    = paginate @paginatable_array
