- content_for :posts_menu do
  = render '/layouts/partials/posts_menu'

.max-width-3.mx-auto.px2.sm-px3.mb3.sm-mb4
  = render "post_intro"
  .post-content.mb3.sm-mb4
    = @post_content.try(:html_safe)
  = render "subscribe_box"
  = render "disqus_comment"
