/%p#notice= notice

#member-profile.bg-gray-05
  .max-width-4.mx-auto.p2
    .flex.items-center
      .fill-black
        = embedded_svg 'icons/i-user.svg'
      %h1.ml2 Admin

    .clearfix
      .max-width-1.bg-white.rounded.mb3.flex.content-center
        / HACK: Need to company logo dynamically 
        =image_tag "partner_logos/SungevityLogo_400x400.jpeg", size: "64x64", class: "m2"
        %div.my2
          %h2.m0= @organization.name
          %h4.m0.gray-60 Currently enrolled: #{pluralize @organization.users.size, 'member'}

    
    .clearfix
      .col.col-12.sm-col.sm-col-6.sm-pl0.sm-pr2
        .bg-white.rounded.p3.mb2
          %h2.my0 Add multiple employees
          %h4.mb0 Step 1. Get the CSV template
          %p.mt0.gray-60 Download the sample spreadsheet. The first 3 columns: first name, last name, email address are mandatory.
          = form_tag download_csv_template_organization_path(@organization), method: :get do
            = button_tag "Download template", class: 'btn btn-outline gray-60 px2'
         
          %h4.mb0 Step 2. Upload your updated CSV
          %p.mt0.gray-60 After you've added new employees to your CSV file, upload it to add the employees to your account.
          = form_tag email_members_upload_file_organization_path(@organization), multipart: true do
            = file_field_tag "file", accept: 'text/csv', class: 'upload'
            = button_tag "Upload CSV", class: 'rounded btn btn-primary px2 mt2'
          .container
            - flash.each do |key, value|
              %div{:class => "alert alert-#{key}"}= value

      .col.col-12.sm-col.sm-col-6.sm-pl0.sm-pr2
        .bg-white.rounded.p3.mb2
          %h2.my0 Add an employee
          = simple_form_for @user, url: add_individual_organization_path do |f|
            .col.col-12.sm-col.sm-col-6.px2.sm-pl0.sm-pr2
              %label.h6.mb0.gray-60{for: 'first_name'} First name
              = text_field_tag :first_name, nil, class: 'rounded'
            .col.col-12.sm-col.sm-col-6.px2.sm-pl0.sm-pr2
              %label.h6.mb0.gray-60{for: 'last_name'} Last name
              = text_field_tag :last_name, nil, class: 'rounded'
            .col.col-12.px2.sm-pl0.sm-pr2
              = f.input :email, input_html: {class: 'rounded'}, label: 'Email', label_html: {class: "h6 mb0 gray-60"}
            .px2.sm-px0
              %button.btn.btn-sm.btn-primary.mt2 Submit
