%footer.bg-gray-1.line-height-4
  .clearfix.max-width-4.mx-auto.py2

    #social-icons.col.col-12.sm-col-6.md-col-3.p2
      = link_to 'https://www.facebook.com/ourdominoeffect', target:'_blank', class: 'text-decoration-none' do
        %i.pointer.gray-6.fa.fa-2x.fa-facebook-square.px1.blue--hover
      = link_to 'https://twitter.com/OurDominoEffect', target:'_blank', class: 'text-decoration-none' do
        %i.pointer.gray-6.fa.fa-2x.fa-twitter.px1.blue--hover
      = link_to 'https://www.instagram.com/mydomino/', target:'_blank', class: 'text-decoration-none' do
        %i.pointer.gray-6.fa.fa-2x.fa-instagram.px1.blue--hover

    .col.col-12.sm-col.sm-col-6.md-col-3.p2.gray-6
      .bold Who we are
      MyDomino is a concierge service that's helping people like you switch to clean energy and save money.

    .col.col-12.sm-col.sm-col-6.md-col-3.p2.gray-6
      = form_tag "/newsletter-subscribe", remote: true, method: :get do
        .bold.mb1
          Sign up for our newsletter
        %input#newsletter-email.bg-transparent.rounded.mt1.text-input.mb1{style: 'height: 2em', type: 'email', name: 'email', required: true}
        %input#newsletter-subscribe.btn.btn-sm.btn-primary.btn-primary--hover{type: 'submit', value: 'Sign up'}

    .col.col-12.sm-col.sm-col-6.md-col-3.p2.gray-6
      = link_to 'tel:8009792215', class: 'text-decoration-none gray-6 blue--hover' do
        %i.fa.fa-phone
        800-979-2215
      %br
      = link_to 'mailto:hello@mydomino.com', class: 'text-decoration-none gray-6 blue--hover' do
        %i.fa.fa-envelope
        hello@mydomino.com

  %hr.gray-6.max-width-4

  .clearfix.max-width-4.mx-auto.py1

    .sm-col.sm-col-12.md-col-6.px2
      .white
        = image_tag "mydomino_esc_horizontal", class: 'fit', width: '250px'
      %p.h5.mt1.gray-6
        344 20th Street, Suite 220
        %br
        Oakland, CA 94612

    .sm-col.sm-col-12.md-col-6
      .clearfix
        .col.col-4.right.px2.flex.flex-wrap.justify-around
          .flex.items-center
            =link_to "https://www.bcorporation.net/community/mydomino", target: '_blank' do
              = image_tag "b-corp.png", style: 'max-width: 64px;', class: 'mb1'
          .flex.items-center
            =link_to "https://www.bbb.org/greater-san-francisco/business-reviews/fuel-economizers/mydomino-inc-in-oakland-ca-537274", target: '_blank' do
              = image_tag "bbb-logo.svg", width: '75%', style: 'max-width: 128px; min-width: 100px'

        .col.col-4.right.px2
          %h4.gray-6.my0 COMPANY
          %ul.mt0.list-reset.h5
            %li
              = link_to "Blog", "http://blog.mydomino.com" , class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "About Us", about_path, class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Partners", partners_path, class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Our Team", domino_team_path, class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Careers", "https://angel.co/mydomino/jobs", target: '_blank', class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Press", "http://mydomino.strikingly.com", target: '_blank', class: 'text-decoration-none gray-6 pointer blue--hover'

        .col.col-4.right.px2
          %h4.gray-6.my0 LEARN MORE
          %ul.mt0.list-reset.h5
            %li
              = link_to "Solar 101", post_slug_url('solar-101'), class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Can't Go Solar?", post_slug_url('cant-go-solar'), class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Get Efficient", post_slug_url('get-efficient'), class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Stay Warm, Be Cool", post_slug_url('stay-warm-cool'), class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "Ride Electric", post_slug_url('ride-electric'), class: 'text-decoration-none gray-6 pointer blue--hover'
            %li
              = link_to "FAQ", faq_path, class: 'text-decoration-none gray-6 pointer blue--hover'

  %hr.gray-6.max-width-4
  .max-width-4.mx-auto.gray-6.h5.py1.px2
    &copy;&nbsp;
    = Date.today.year
    MyDomino Inc.
    = link_to 'Terms of Service', terms_path, class: 'text-decoration-none gray-6 mx1 pointer blue--hover'
    = link_to 'Privacy Policy', privacy_path, class: 'text-decoration-none gray-6 mx1 pointer blue--hover'
  
