%nav#navbar.col-12.z3{class: yield(:navbar_class)}
  .max-width-4.mx-auto
    .clearfix
      .col.col-4.p2
        -if controller_name == 'pages' && action_name == 'index'
          = link_to embedded_svg('mydomino_logo.svg'), root_path, id: "navbar-brand"
        -else
          = link_to embedded_svg('mydomino_logo_universal.svg'), root_path, id: "navbar-brand"

      .md-hide.lg-hide.px2.right
        .fa.fa-bars.pointer.navbar-element
      .xs-hide.sm-hide.py3.px3.my1.sm-hide
        .right
          .mx2.navbar-element.inline.h4
            %i.fa.fa-phone
            %span.h3 800-979-2215
          -if user_signed_in?
            -if current_user.role == 'concierge'
              =link_to 'Concierge tools', dashboards_path, class: 'btn-navbar white border p1 rounded text-decoration-none navbar-element'
            -else
              =link_to 'Dashboard', user_dashboard_path, class: 'btn-navbar white border p1 rounded text-decoration-none navbar-element'
            =link_to 'Log out', destroy_user_session_path, method: :delete, class: "#{current_page?(root_path) ? 'white' : 'charcoal'} btn-navbar border p1 rounded text-decoration-none navbar-element"
          -else
            =link_to "Log in", new_user_session_path, class: "#{current_page?(root_path) ? 'white' : 'charcoal'} btn-navbar border py1 px2 rounded text-decoration-none navbar-element", id: "link-login"
            /=link_to "LOG IN", new_user_session_path, class: "btn btn-sm #{current_page?(root_path) ? 'btn-white' : 'btn-secondary'}", id: "link-login"
      #mobile-nav.nav-bg.easeInOut.col-12.top-0.left-0.right-0.white.flex.flex-center
        .content.flex-auto
          %h1.inline-block
            .fa.fa-times.fixed.top-0.right-0.p3.pointer
          %ul.py4.center.list-reset
            -if !user_signed_in?
              %li
                = link_to 'Login', new_user_session_path , class: "white py1 inline-block text-decoration-none"
            -else
              %li 
                =link_to 'Dashboard', user_dashboard_path, class: "white py1 inline-block text-decoration-none"
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete, class: "white py1 inline-block text-decoration-none"
            %li
              = link_to 'Call us', 'tel:+8009792215', target: '_blank', class: "white py1 inline-block text-decoration-none"
            
:javascript
  $(document).ready(function(){
    $('nav .fa-bars').click(function(){
      $('nav').addClass('open');
    });

    $('nav .nav-bg .fa-times').click(function(){
      $('nav').removeClass('open');
    });
  });
