- homepage = current_page?(root_path)
- nav_element_color = "#{homepage ? 'white' : 'gray-80'}"

%nav#navbar.col-12.z3.top-0{class: "#{'absolute' if homepage}"}
  .max-width-4.mx-auto
    .clearfix
      .col.col-4.mt2.ml2
        = link_to root_path, id: "navbar-brand" do
          = image_tag "mydomino_logo#{'_universal' if !homepage}.svg", id: 'logo', style: "#{'width: 128px;' if @browser.device.mobile?}"

      .md-hide.lg-hide.px2.right
        #js-hamburger
          =embedded_svg 'i-hamburger.svg', class:"#{nav_element_color} pointer navbar-element py2 pl3"
      .xs-hide.sm-hide.py3.px2.my1
        .right
          .h4.mx2.inline.navbar-element{class: "#{nav_element_color}"}
            = link_to 'tel:+18009792215', target: '_blank', class: "h3 text-decoration-none", style: "color: inherit" do
              %i.fa.fa-phone
              %span 800-979-2215
          -if user_signed_in?
            -if current_user.role == 'concierge'
              =link_to 'Concierge tools', dashboards_path, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none navbar-element"
            -else
              =link_to 'Dashboard', user_dashboard_path, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none navbar-element"
            =link_to 'Log out', destroy_user_session_path, method: :delete, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none ml1"
          -else
            =link_to "Log in", new_user_session_path, class: "#{nav_element_color} navbar-element btn-navbar border py1 px2 rounded text-decoration-none", id: "link-login"


      #mobile-nav.nav-bg.col-12.top-0.left-0.right-0.white.flex.flex-center
        .content.flex-auto
          %h1.inline-block
            #js-hamburger-close
              =embedded_svg 'i-close.svg', class:"#{nav_element_color} pointer fixed top-0 right-0 py3 pl3 pr2"

          .h1.p2.center
            = yield :posts_menu

          %ul.mt2.center.list-reset
            -if !user_signed_in?
              %li.h1
                = link_to 'Log in', new_user_session_path , class: "white py1 inline-block text-decoration-none"
            -else
              %li.h1
                =link_to 'Dashboard', user_dashboard_path, class: "white py1 inline-block text-decoration-none"
              %li.h1
                = link_to 'Log out', destroy_user_session_path, method: :delete, class: "white py1 inline-block text-decoration-none"
            %li.h1
              = link_to 'Call us', 'tel:+18009792215', target: '_blank', class: "white py1 inline-block text-decoration-none"
      .col.col-12.h3.sm-hide.xs-hide
        = yield :posts_menu

:javascript
  $(document).ready(function(){
    $('#js-hamburger').click(function(){
      $('nav').addClass('open');
      $('body').addClass('lock-position');
    });

    $('#js-hamburger-close').click(function(){
      $('nav').removeClass('open');
      $('body').removeClass('lock-position');
    });
  });
