- homepage = current_page?(root_path)
- nav_element_color = "#{homepage ? 'white' : 'black'}"

%header#header
  %nav#navbar.col-12.z3.top-0.pt2{class: "#{homepage ? 'absolute' : 'bg-white'}"}
    .max-width-4.mx-auto.flex.items-center.justify-between
      - org_member = current_user && !current_user.organization.nil?
      - private_beta_member = current_user && !current_user.group_users.find {|g| g.group.name == "beta"}.nil?

      = link_to (org_member || private_beta_member ? challenge_path : root_path), id: "navbar-brand", class: 'pl2' do
        = image_tag "mydomino_logo#{'_universal' if !homepage}.svg", id: 'logo', style: "#{'width: 128px;' if @browser.device.mobile?}"

      .xs-hide.sm-hide.my1.inline-block.col-10
        -if user_signed_in?
          .flex.justify-between
            .inline
              -if current_user.role == 'concierge'
                =link_to 'Concierge tools', dashboards_path, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none navbar-element"

              -if (org_member || private_beta_member)
                = link_to challenge_path, class: 'text-decoration-none ml3 mr2' do
                  %span.inline-block.h5.gray-4.blue--hover{class: "#{(current_page? '/challenge') ? 'fill-blue blue' : nav_element_color}"}
                    = inline_svg "icons/i-challenge.svg", class:"block mx-auto", size:"32px * 22px"
                    Challenge
              -else
                = link_to user_dashboard_path, class: 'text-decoration-none mr2' do
                  %span.inline-block.h5.gray-4.blue--hover{class: "#{(current_page? '/dashboard') ? 'fill-blue blue mx1' : nav_element_color}"}
                    = inline_svg "icons/i-dashboard-nav.svg", class:"block mx-auto", size:"32px * 22px"
                    Dashboard

              = link_to "/articles", class: 'text-decoration-none mr2' do
                %span.inline-block.h5.gray-4.blue--hover{class: "#{(current_page? '/articles') ? 'fill-blue blue' : nav_element_color}"}
                  = inline_svg "icons/i-articles.svg", class:"icon-m block mx-auto"
                  Articles
              = link_to member_benefits_path, class: 'text-decoration-none mr2' do
                %span.inline-block.h5.gray-4.blue--hover{class: "#{(current_page? '/member_benefits') ? 'fill-blue blue' : nav_element_color}"}
                  = inline_svg "icons/i-benefits.svg", class:"icon-m block mx-auto"
                  Benefits
              -if current_user.role == 'org_admin' && current_user.organization != nil
                = link_to organization_path(current_user.organization), class: 'text-decoration-none' do
                  %span.inline-block.mr2.gray-4.h5.blue--hover{class: "#{(current_page? organization_path(current_user.organization)) ? 'fill-blue blue' : nav_element_color}"}
                    = inline_svg "icons/i-admin.svg", class:"icon-m block mx-auto"
                    Admin
            .inline.pr2
              = link_to member_profile_path, class: 'text-decoration-none mr1' do
                %span.inline-block.h5.gray-4.blue--hover{class: "#{(current_page? '/profile') ? 'fill-blue blue' : nav_element_color}"}
                  = inline_svg "icons/i-user.svg", class:"icon-m block mx-auto"
                  Profile
              = link_to destroy_user_session_path, method: :delete, class: 'text-decoration-none' do
                %span.inline-block.h5.gray-4.blue--hover{class: "#{nav_element_color}"}
                  = inline_svg "icons/i-logout.svg", class:"icon-m block mx-auto"
                  Logout

        -else
          .flex.items-center.right
            = link_to 'tel:+18009792215', target: '_blank', class: "h3 text-decoration-none white mr1" do
              %i.fa.fa-phone
              %span 800-979-2215
            =link_to "Log in", new_user_session_path, class: "#{nav_element_color} navbar-element btn-navbar border py1 px2 rounded text-decoration-none right", id: "link-login"
            .h4.mx2.inline.navbar-element.right{class: "#{nav_element_color}"}


      .md-hide.lg-hide.px2.right
        %span#open-nav
          =embedded_svg 'icons/i-hamburger.svg', class:"#{nav_element_color} pointer navbar-element py2 pl3"

    .max-width-4.mx-auto.clearfix
      .col.col-12.h3.sm-hide.xs-hide
        = yield :posts_menu

  / Mobile & small viewport navigation menu
  #nav-overlay
    #nav-overlay-content
      %span#close-nav
        = embedded_svg 'i-close.svg', class:"white pointer absolute top-0 right-0 py3 pl3 pr2"

      .h1.p2.center.mt4
        = yield :posts_menu

      %ul.mt2.center.list-reset
        -if !user_signed_in?
          %li.h1
            = link_to 'Log in', new_user_session_path , class: "white py1 inline-block text-decoration-none"

        -else
          -if current_user.organization
            %li.h1
              =link_to 'Challenge', challenge_path, class: "white py1 inline-block text-decoration-none"
            %li.h1
              =link_to 'Articles', '/articles', class: "white py1 inline-block text-decoration-none"
            %li.h1
              =link_to 'Member Benefits', member_benefits_path, class: "white py1 inline-block text-decoration-none"
            -if current_user.role == 'org_admin' && current_user.organization != nil
              %li.h1
                =link_to 'Admin', organization_path(current_user.organization), class: "white py1 inline-block text-decoration-none"
          -else
            %li.h1
              = link_to 'Dashboard', user_dashboard_path, class: "white py1 inline-block text-decoration-none"
          %li.h1
            =link_to 'Profile', member_profile_path, class: "white py1 inline-block text-decoration-none"



          %li.h1
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: "white py1 inline-block text-decoration-none"
        %li.h1
          = link_to 'Call us', 'tel:+18009792215', target: '_blank', class: "white py1 inline-block text-decoration-none"

:javascript
  (function(){
    var $nav = $('#nav-overlay');
    var $navContent = $('#nav-overlay-content');
    var $openNav = $('#open-nav');
    var $closeNav = $('#close-nav');
    var $body = $('body');


    var openNav = function(){
      $body.addClass('lock-position');
      $nav.css('z-index', '10');
      $nav.addClass('open');
    };

    var closeNav = function(){
      $body.removeClass('lock-position');
      $nav.removeClass('open');
      window.setTimeout( function(){ $nav.css('z-index', '0'); }, 500);
    };

    $openNav.on('click', openNav);
    $closeNav.on('click', closeNav);

  }());
