- homepage = current_page?(root_path)
- nav_element_color = "#{homepage ? 'white' : 'gray-80'}"

%nav#navbar.col-12.fixed
  .max-width-4.mx-auto
    .clearfix
      .col.col-4.pl2.py1
        = link_to root_path, id: "navbar-brand" do
          = image_tag "mydomino_logo#{'_universal' if !homepage}.svg", id: 'logo'
      .col.right.mr1
        //mobile hamburger menu
        .md-hide.lg-hide.pr2
          .fa.fa-bars.fa-2x.pointer.navbar-element.pt3{class: "#{nav_element_color}"}
        //desktop buttons
        .xs-hide.sm-hide.pt2.pt3
          .h4.mx2.inline.navbar-element{class: "#{nav_element_color}"}
            %i.fa.fa-phone
            %span.h3 800-979-2215
          -if user_signed_in?
            -if current_user.role == 'concierge'
              =link_to 'Concierge tools', dashboards_path, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none navbar-element"
            -else
              =link_to 'Dashboard', user_dashboard_path, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none navbar-element"
            =link_to 'Log out', destroy_user_session_path, method: :delete, class: "#{nav_element_color} navbar-element btn-navbar border p1 rounded text-decoration-none"
          -else
            =link_to "Log in", new_user_session_path, class: "#{nav_element_color} navbar-element btn-navbar border py1 px2 rounded text-decoration-none", id: "link-login"

      #mobile-nav.nav-bg.easeInOut.col-12.top-0.left-0.right-0.white.flex.flex-center
        .content.flex-auto
          %h1.inline-block
            .fa.fa-times.fixed.top-0.right-0.p3.pointer
          %ul.py4.center.list-reset.h0
            -if !user_signed_in?
              %li
                = link_to 'Log in', new_user_session_path , class: "white py1 inline-block text-decoration-none"
            -else
              %li
                =link_to 'Dashboard', user_dashboard_path, class: "white py1 inline-block text-decoration-none"
              %li
                = link_to 'Log out', destroy_user_session_path, method: :delete, class: "white py1 inline-block text-decoration-none"
            %li
              = link_to 'Call us', 'tel:+8009792215', target: '_blank', class: "white py1 inline-block text-decoration-none"
:javascript
  $(document).ready(function(){
    $('nav .fa-bars').click(function(){
      $('nav').addClass('open');
    });

    $('nav .nav-bg .fa-times').click(function(){
      $('nav').removeClass('open');
    });
  });
