%ul.list-reset.md-flex.flex-row.mt3.mb0.sm-mt0.sm-mb3.sm-ml2
  %li.block.light
    = link_to "All", posts_path(), class: 'pr4 text-decoration-none gray-6 white--hover sm-blue--hover'
  %li.block.light
    = link_to "Good Eats", posts_path(cat: "good-eats"), class: 'pr4 text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "Clean Power", posts_path(cat: "clean-power"), class: 'pr4 text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "Energy Efficiency", posts_path(cat: "energy-efficiency"), class: 'pr4 text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "Getting Around", posts_path(cat: "getting-around"), class: 'pr4 text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light.sm-pr2
    = link_to "Buyer Guides", posts_path(cat: "buyer-guides"), class: 'pr4 text-decoration-none white--hover gray-6 sm-blue--hover'
