%ul.pl2.mt0
  %li.inline.light
    = link_to "All", posts_path(), class: 'text-decoration-none'
  %li.inline.light.pl2
    = link_to "Clean power", posts_path(cat: "clean-power"), class: 'text-decoration-none'
  %li.inline.light.pl2
    = link_to "Transportation", posts_path(cat: "Transportation"), class: 'text-decoration-none'
  %li.inline.light.pl2
    = link_to "Heating & cooling", posts_path(cat: "heating-and-cooling"), class: 'text-decoration-none'
  %li.inline.light.pl2
    = link_to "Energy freedom", posts_path(cat: "energy-freedom"), class: 'text-decoration-none'