%ul.list-reset.md-flex.flex-row.justify-between.mt3.mb0.sm-mt0.sm-mb3.sm-ml2
  %li.block.light
    = link_to "ALL", posts_path(), class: 'text-decoration-none gray-6 white--hover sm-blue--hover'
  %li.block.light
    = link_to "GOOD EATS", posts_path(cat: "good-eats"), class: 'text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "CLEAN POWER", posts_path(cat: "clean-power"), class: 'text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "ENERGY EFFICIENCY", posts_path(cat: "energy-efficiency"), class: 'text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light
    = link_to "GETTING AROUND", posts_path(cat: "getting-around"), class: 'text-decoration-none white--hover gray-6 sm-blue--hover'
  %li.block.light.sm-pr2
    = link_to "BUYER GUIDES", posts_path(cat: "buyer-guides"), class: 'text-decoration-none white--hover gray-6 sm-blue--hover'
