%ul.list-reset.md-flex.flex-row.mt3.mb0.sm-mt0.sm-mb3.sm-ml2
  %li.block.light
    = link_to "All", posts_path(), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Good eats", posts_path(cat: "good-eats"), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Clean power", posts_path(cat: "clean-power"), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Getting around", posts_path(cat: "getting-around"), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Heating & cooling", posts_path(cat: "heating-and-cooling"), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Energy efficiency", posts_path(cat: "energy-efficiency"), class: 'text-decoration-none gray-6 text-blue--hover'
  %li.block.light.pl2
    = link_to "Buyer guides", posts_path(cat: "buyer-guides"), class: 'text-decoration-none gray-6 text-blue--hover'
