.footer
  .container
    .row.no-padding.links
      .col-xs-4.col-md-2.col-lg-offset-2
        %p.link= link_to 'ABOUT', about_path
      .col-xs-4.col-md-2.col-lg-1
        %p.link= link_to 'BLOG', "http://www.mydomino.com/blog/",target: '_blank'
      .col-xs-4.col-md-2.col-lg-1
        %p.link= link_to 'PRESS', 'http://mydomino.strikingly.com', target: '_blank'
      .col-xs-4.col-md-2.col-lg-1
        %p.link= link_to 'CAREERS', "https://hellohired.com/domino", target: "_blank"
      .col-xs-4.col-md-2.col-lg-1
        %p.link= link_to 'TERMS', terms_path, target: "_blank"
      .col-xs-4.col-md-2.col-lg-1
        %p.link= link_to 'PRIVACY', privacy_path, target: "_blank"
    .row
      .col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-4
            = link_to "http://www.facebook.com/ourdominoeffect", target: '_blank' do
              = image_tag 'facebook.png'
          .col-xs-4
            = link_to "http://twitter.com/OurDominoEffect", target: '_blank' do
              = image_tag 'twitter.png'
          .col-xs-4
            = link_to "http://www.mydomino.com/blog/", target: '_blank' do
              = image_tag 'rss.png'
        .row
          .col-xs-12{style: "text-align:left;"}
            %p 
              myconcierge@mydomino.com
              %br
              510-454-8522
              %br
              9am to 9pm ET, Monday-Friday
      .col-xs-12.col-sm-6.col-md-5.col-md-offset-3
        .row
          .col-xs-4
            %p Key Advisor
            = link_to "http://www.rmi.org", target: "_blank" do
              = image_tag "rmi-logo.png"
          .col-xs-4.seia
            = link_to "http://www.seia.org", target: "_blank" do
              = image_tag "seia.png"
          .col-xs-4
            = link_to "http://www.bcorporation.net", target: "_blank" do
              = image_tag "Certified B Corp-pending.png"
        .row
          .col-xs-5.pull-right.text-center
            =link_to(image_tag('//heapanalytics.com/img/badge.png', style: "width:108px;height:41px", alt: "Heap | Mobile and Web Analytics" ), 'https://heapanalytics.com/?utm_source=badge', target: "_blank")
    .row
      .col-xs-12
        %p.copyright Copyright 2015, Domino2030, Inc.
