%nav.clearfix{class: yield(:navbar_class)}
  .container
    .sm-col
      = link_to embedded_svg('penguin_horizontal.svg'), root_path, class: 'sm-col py2'
    .sm-col-right
      = link_to 'About', about_path, class: 'btn py3'
      = link_to 'Press', 'http://mydomino.strikingly.com', target: '_blank', class: 'btn'
      = link_to 'Blog', 'http://www.mydomino.com/blog/', target: '_blank', class: 'btn'
      = link_to 'GET STARTED', step_1_get_started_path, class: 'btn'
          
