%nav.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to embedded_svg('penguin_horizontal.svg', {style: "margin-top:12px;"}), root_path
  #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav.pull-right
      %li
        = link_to 'About', about_path
      %li
        = link_to 'Press', 'http://mydomino.strikingly.com', target: '_blank'
      %li
        = link_to 'Blog', 'http://www.mydomino.com/blog/', target: '_blank'
      %li.button
        = link_to getstarted_path, class: 'button' do
          %button.btn.small
            GET STARTED
