!!!
%html
  %head
    %title Domino - Change the world, one step at a time
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://getbespoke.s3.amazonaws.com/bespoke.js'
    = csrf_meta_tags
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    = favicon_link_tag
    = render 'layouts/analytics'
  %body{class: action_name}
    = yield :navbar if content_for :navbar
    = yield
    = yield :footer if content_for :footer