!!!
%html
  %head
    %title Domino - Change the world, one step at a time
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
  %body{class: current_clone}
    .container
      = yield