!!!
%html
  %head
    %title Domino - Change the world, one step at a time
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'http://getbespoke.s3.amazonaws.com/bespoke.js'
    = csrf_meta_tags
    %meta{name: 'google-site-verification', content: '5s_fZsv1gHwFzIdMwqyXngXqnTJolYGN-ZG70JJ8P3Q'}

    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
    %meta{name: 'description', content: '100% clean energy is awesome. Domino makes it easy. From solar panels to smart thermostats and everything in between, we’ve done the research and lined up deals so you don’t have to.' }
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:title", content: "Domino 2030"}
    %meta{property: "og:image", content: "#{root_url}/img/penguin.png"}
    %meta{property: "og:description", content: '100% clean energy is awesome. Domino makes it easy. From solar panels to smart thermostats and everything in between, we’ve done the research and lined up deals so you don’t have to.'}
    %meta{property: "og:url", content: root_url}
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/analytics'
  %body{class: action_name}
    = yield :navbar if content_for :navbar
    = yield
    = yield :footer if content_for :footer