!!!
%html
  %head
    %title MyDomino - Change the world, one step at a time
    = render 'layouts/partials/meta'
    = stylesheet_link_tag 'application', media: 'all'
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    = javascript_include_tag 'application'
    = csrf_meta_tags
    <link rel="canonical" href="http://mydomino.com" />
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/partials/analytics'
  %body{class: action_name}
    #wrapper
      #header
        = render 'layouts/partials/navbar'
      #content
        = yield
      = render 'layouts/partials/footer_new'
