!!!
%html
  %head
    %title Domino - Concierge
    = render 'layouts/meta'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/analytics'
  %body
    .col.col-1.bg-navy.full-height.fixed.top-0.white{style: 'max-width: 100px; min-width: 50px;'}
      .clearfix.px2.py1.center.lh0.mb2
        =image_tag "penguin_vertical.png", class: 'fit'
      =link_to dashboards_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'dashboards'))}"}
          =image_tag "icons_dashboard.png", class: 'fit'
      =link_to products_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'products'))}"}
          =image_tag "icons_energy.png", class: 'fit'
      =link_to tasks_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'tasks'))}"}
          =image_tag "icon_actions.png", class: 'fit'
    .col.col-1{style: 'max-width: 100px; min-width: 50px;'}
      &nbsp;
    .col.col-11.bg-light-gray
      .clearfix
        .col.col-12.bg-white
          %nav
            .clearfix
              .col.p2
                %a.btn.bg-blue.white.rounded.px3.m1.caps
                  + User
              .col.p2
                %a.btn.bg-blue.white.rounded.px3.m1.caps
                  + Product
              .col.p2
                %a.btn.bg-blue.white.rounded.px3.m1.caps
                  + Action
              .col-right.py1.lh0.mr2
                =gravatar_image_tag(current_concierge.email, gravatar: { size: 65, default: "http://mydomino.com/assets/default_avatar.png" }, class: 'circle')
              .col-right.py2
                .btn.m1
                  Josh
      .alerts
        =flash_messages
      = yield