!!!
%html
  %head
    %title MyDomino - Concierge Tools
    = render 'layouts/partials/meta'
    = stylesheet_link_tag 'application', media: 'all'
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    = javascript_include_tag 'application'
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/partials/analytics'
  %body
    .col.bg-gray-05.fixed.top-0.bottom-0{style: 'width: 80px;'}
      .clearfix.p1.center{style: 'margin-bottom: 10px'}
        =image_tag "penguin_vertical.png", class: 'fit'
      =link_to dashboards_path do
        .clearfix.px2.py2.center.opt-concierge-tool{class: "#{"bg-gray-20" if(params[:controller] == 'dashboards')}"}
          =image_tag "icon_dashboard_black.png", class: 'fit'
      =link_to products_path do
        .clearfix.px2.py2.center.mb2.opt-concierge-tool{class: "#{"bg-gray-20" if(params[:controller] == 'products')}"}
          =image_tag "icon_energy_black.png", class: 'fit'
      =link_to tasks_path do
        .clearfix.px2.py2.center.mb2.opt-concierge-tool{class: "#{"bg-gray-20" if(params[:controller] == 'tasks')}"}
          =image_tag "icon_actions_black.png", class: 'fit'
      =link_to analytics_path do
        .clearfix.px2.py2.center.mb2.opt-concierge-tool{class: "#{"bg-gray-20" if(current_page?(controller: 'analytics', action: 'show' ))}"}
          .fa.fa-line-chart.fit.black{style: "font-size: 1.8rem;"}
    .bg-gray-10.pl4{style: "min-height:100vh; height: 100%;"}
      .clearfix
        .col.col-12.bg-gray-05
          %nav
            .clearfix
              .col.opt-concierge-tool
                =link_to "+ Dashboard", new_profile_path, class: "blue caps p3 inline-block "
              .col.opt-concierge-tool
                =link_to "+ Product", new_product_path, class: "blue caps p3 inline-block"
              .col.opt-concierge-tool
                =link_to "+ Action", new_task_path, class: "blue caps p3 inline-block"
              .col-right.py1.mr2
                .relative.inline-block{data: {disclosure: ''}}
                  = gravatar_image_tag(current_user.email, gravatar: { size: 65, default: "http://mydomino.com/assets/default_avatar.png" }, class: 'circle pointer')
                  .nowrap.bg-white.border.rounded.absolute.right-0{data: {details: ''}}
                    =link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'btn block'
      .max-width-2.mx-auto.rounded
        .alerts
          =flash_messages
      = yield
      :javascript
        $('document').ready(function()
        {
          $('[data-disclosure]').click(function(e)
          {
            $(e.currentTarget).children('[data-details]').toggle();
          });

          setTimeout(function(){
            $('.alerts').hide('slow');
          }, 2000);
        });

      :scss
        .opt-concierge-tool {
          transition: all 0.1s linear;
        }
        .opt-concierge-tool:hover {
          background-color: #00ccff;
          a { color: white }
        }
        [data-disclosure] [data-details] {
          display: none;
        }
        body {
          background-color: #F9F9F9;
        }

