!!!
%html
  %head
    %title Domino - Concierge
    = render 'layouts/partials/meta'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/partials/analytics'
  %body
    .col.bg-navy.full-height.fixed.top-0.white{style: 'width: 80px;'}
      .clearfix.px2.py1.center.lh0.mb2
        =image_tag "penguin_vertical.png", class: 'fit'
      =link_to dashboards_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'dashboards'))}"}
          =image_tag "icons_dashboard.png", class: 'fit'
      =link_to products_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'products'))}"}
          =image_tag "icons_energy.png", class: 'fit'
      =link_to tasks_path do
        .clearfix.px2.py1.center.lh0.mb2{class: "#{"bg-blue" if(current_page?(:controller => 'tasks'))}"}
          =image_tag "icon_actions.png", class: 'fit'
    .bg-light-gray{style: "padding-left: 80px;"}
      .clearfix
        .col.col-12.bg-white
          %nav
            .clearfix
              .col.p2
                =link_to "+ User", new_dashboard_path, class: "btn bg-blue white rounded px3 m1 caps"
              .col.p2
                =link_to "+ Product", new_product_path, class: "btn bg-blue white rounded px3 m1 caps"
              .col.p2
                =link_to "+ Action", new_task_path, class: "btn bg-blue white rounded px3 m1 caps"
              .col-right.py1.lh0.mr2
                .relative.inline-block{data: {disclosure: ''}}
                  =gravatar_image_tag(current_concierge.email, gravatar: { size: 65, default: "http://mydomino.com/assets/default_avatar.png" }, class: 'circle')
                  .nowrap.bg-white.border.rounded.absolute.right-0{data: {details: ''}}
                    =link_to 'My Profile', edit_concierge_path, class: 'btn block'
                    =link_to 'Log Out', destroy_concierge_session_path, method: 'DELETE', class: 'btn block'
      .alerts
        =flash_messages
      = yield
:javascript
  $('document').ready(function()
  {
    $('[data-disclosure]').click(function(e)
    {
      $(e.currentTarget).children('[data-details]').toggle();
    });
  });
:css
  [data-disclosure] [data-details]
  {
    display: none;
  }
