-content_for :navbar do
  %ul.nav.navbar-nav.pull-right
    -if(concierge_signed_in?)
      %li
        =link_to "My Profile", edit_concierge_path
      %li
        =link_to "Storefronts", amazon_storefronts_path
      %li
        =link_to "Product Library", amazon_products_path
      %li
        =link_to "Task Library", tasks_path
      %li
        =link_to "Log Out", destroy_concierge_session_path, method: "DELETE"
-content_for :navbar_class do
  blue

!!!
%html
  %head
    %title Domino - Concierge
    = render 'layouts/meta'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body.gray
    = render 'layouts/navbar'
    .alerts
      flash_messages
    = yield