!!!
%html
  %head
    %title Domino - Concierge
    = render 'layouts/partials/meta'
    = stylesheet_link_tag 'application', media: 'all'
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/partials/analytics'
  %body.bg-heather
    = render 'layouts/partials/logo_only_navbar'
    .container.bg-transparent
      =flash_messages
    = yield