!!!
%html
  %head
    %title MyDomino
    = render 'layouts/partials/meta'
    = stylesheet_link_tag 'application', media: 'all'
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = render 'layouts/partials/analytics'
  %body
    = render 'layouts/partials/logo_only_navbar'
    .max-width-2.mx-auto.rounded
      .alerts
        =flash_messages
    = yield
    = render 'layouts/partials/footer_new'
    

:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $('.alerts').hide('slow');
    }, 2000);
  });